<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-90</integer>
    <key>public.kern2.W2</key>
    <integer>-45</integer>
    <key>public.kern2.quoteright</key>
    <integer>-90</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-70</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-90</integer>
    <key>public.kern2.W2</key>
    <integer>-45</integer>
    <key>public.kern2.quoteright</key>
    <integer>-90</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>ccaron</key>
    <integer>-115</integer>
    <key>ecaron</key>
    <integer>-105</integer>
    <key>ecircumflex</key>
    <integer>-80</integer>
    <key>egrave</key>
    <integer>-105</integer>
    <key>emacron</key>
    <integer>-95</integer>
    <key>f</key>
    <integer>-100</integer>
    <key>i</key>
    <integer>-55</integer>
    <key>j</key>
    <integer>-65</integer>
    <key>l</key>
    <integer>-65</integer>
    <key>ocircumflex</key>
    <integer>-95</integer>
    <key>omacron</key>
    <integer>-115</integer>
    <key>otilde</key>
    <integer>-105</integer>
    <key>partialdiff</key>
    <integer>-105</integer>
    <key>ucircumflex</key>
    <integer>-105</integer>
  </dict>
  <key>Tbar</key>
  <dict>
    <key>partialdiff</key>
    <integer>-105</integer>
  </dict>
  <key>Tcaron</key>
  <dict>
    <key>i</key>
    <integer>-55</integer>
    <key>j</key>
    <integer>-65</integer>
    <key>partialdiff</key>
    <integer>-105</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>i</key>
    <integer>-50</integer>
    <key>j</key>
    <integer>-60</integer>
    <key>l</key>
    <integer>-55</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>Y</key>
    <integer>45</integer>
    <key>Yacute</key>
    <integer>45</integer>
    <key>Ydieresis</key>
    <integer>45</integer>
    <key>ccaron</key>
    <integer>-105</integer>
    <key>ecaron</key>
    <integer>-95</integer>
    <key>edieresis</key>
    <integer>-110</integer>
    <key>egrave</key>
    <integer>-95</integer>
    <key>emacron</key>
    <integer>-85</integer>
    <key>f</key>
    <integer>-105</integer>
    <key>i</key>
    <integer>-45</integer>
    <key>j</key>
    <integer>-55</integer>
    <key>l</key>
    <integer>-50</integer>
    <key>ograve</key>
    <integer>-110</integer>
    <key>omacron</key>
    <integer>-105</integer>
    <key>umacron</key>
    <integer>-110</integer>
    <key>v</key>
    <integer>-90</integer>
    <key>w</key>
    <integer>-105</integer>
    <key>y</key>
    <integer>-90</integer>
  </dict>
  <key>Yacute</key>
  <dict>
    <key>Y</key>
    <integer>45</integer>
    <key>Yacute</key>
    <integer>55</integer>
    <key>Ycircumflex</key>
    <integer>55</integer>
    <key>Ydieresis</key>
    <integer>55</integer>
    <key>f</key>
    <integer>-105</integer>
    <key>i</key>
    <integer>-45</integer>
    <key>j</key>
    <integer>-55</integer>
    <key>l</key>
    <integer>-50</integer>
    <key>v</key>
    <integer>-90</integer>
    <key>w</key>
    <integer>-105</integer>
    <key>y</key>
    <integer>-90</integer>
  </dict>
  <key>Ycircumflex</key>
  <dict>
    <key>Ycircumflex</key>
    <integer>55</integer>
    <key>Ydieresis</key>
    <integer>55</integer>
    <key>i</key>
    <integer>-45</integer>
  </dict>
  <key>Ydieresis</key>
  <dict>
    <key>Yacute</key>
    <integer>55</integer>
    <key>Ycircumflex</key>
    <integer>55</integer>
    <key>Ydieresis</key>
    <integer>55</integer>
    <key>i</key>
    <integer>-45</integer>
    <key>l</key>
    <integer>-50</integer>
    <key>ugrave</key>
    <integer>-110</integer>
    <key>v</key>
    <integer>-90</integer>
    <key>w</key>
    <integer>-105</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-90</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>i</key>
    <integer>-70</integer>
    <key>l</key>
    <integer>-75</integer>
    <key>public.kern2.a</key>
    <integer>-80</integer>
    <key>public.kern2.g.ss01</key>
    <integer>-80</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>f</key>
    <integer>40</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.g.ss01</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>A</key>
    <integer>-90</integer>
    <key>public.kern2.T2</key>
    <integer>40</integer>
    <key>public.kern2.a</key>
    <integer>-115</integer>
    <key>public.kern2.v</key>
    <integer>-125</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>A</key>
    <integer>-80</integer>
    <key>public.kern2.a</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>A</key>
    <integer>-45</integer>
    <key>public.kern2.a</key>
    <integer>-35</integer>
  </dict>
  <key>public.kern1.i1</key>
  <dict>
    <key>public.kern2.uni0432</key>
    <integer>100</integer>
  </dict>
</dict>
</plist>
