<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Decyr</key>
  <string>D_ecyr.glif</string>
  <key>djecyr</key>
  <string>djecyr.glif</string>
  <key>gecyr</key>
  <string>gecyr.glif</string>
</dict>
</plist>
