<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Decyr</key>
  <string>D_ecyr.glif</string>
  <key>Ereversedcyr</key>
  <string>E_reversedcyr.glif</string>
  <key>fitacyr</key>
  <string>fitacyr.glif</string>
  <key>macron</key>
  <string>macron.glif</string>
  <key>shacyr</key>
  <string>shacyr.glif</string>
</dict>
</plist>
