<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>macron</key>
  <string>macron.glif</string>
  <key>uni0414</key>
  <string>uni0414.glif</string>
  <key>uni042D</key>
  <string>uni042D_.glif</string>
  <key>uni0433</key>
  <string>uni0433.glif</string>
  <key>uni0448</key>
  <string>uni0448.glif</string>
  <key>uni0473</key>
  <string>uni0473.glif</string>
</dict>
</plist>
