<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ccmp</key>
  <array>
    <string>gravecomb</string>
    <string>acutecomb</string>
    <string>circumflexcomb</string>
    <string>brevecomb</string>
    <string>dieresiscomb</string>
    <string>macroncomb</string>
    <string>dotaccentcomb</string>
    <string>hungarumlautcomb</string>
    <string>tildecomb</string>
    <string>ringcomb</string>
    <string>caroncomb</string>
    <string>commaturnedabovecomb</string>
  </array>
  <key>cpsp</key>
  <array>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>Iegravecyr</string>
    <string>Iocyr</string>
    <string>Djecyr</string>
    <string>Gjecyr</string>
    <string>Eukrcyr</string>
    <string>Dzecyr</string>
    <string>Iukrcyr</string>
    <string>Yukrcyr</string>
    <string>Jecyr</string>
    <string>Ljecyr</string>
    <string>Njecyr</string>
    <string>Tshecyr</string>
    <string>Kjecyr</string>
    <string>Igravecyr</string>
    <string>Ushortcyr</string>
    <string>Dzhecyr</string>
    <string>Acyr</string>
    <string>Becyr</string>
    <string>Vecyr</string>
    <string>Gecyr</string>
    <string>Decyr</string>
    <string>Iecyr</string>
    <string>Zhecyr</string>
    <string>Zecyr</string>
    <string>Icyr</string>
    <string>Ishortcyr</string>
    <string>Kacyr</string>
    <string>Elcyr</string>
    <string>Emcyr</string>
    <string>Encyr</string>
    <string>Ocyr</string>
    <string>Pecyr</string>
    <string>Ercyr</string>
    <string>Escyr</string>
    <string>Tecyr</string>
    <string>Ucyr</string>
    <string>Efcyr</string>
    <string>Hacyr</string>
    <string>Tsecyr</string>
    <string>Checyr</string>
    <string>Shacyr</string>
    <string>Shchacyr</string>
    <string>Hardcyr</string>
    <string>Ylongcyr</string>
    <string>Softcyr</string>
    <string>Ereversedcyr</string>
    <string>Yucyr</string>
    <string>Yacyr</string>
    <string>Ugrave</string>
    <string>Yatcyr</string>
    <string>Eiotifiedcyr</string>
    <string>Yuslittlecyr</string>
    <string>Yuslittleiotifiedcyr</string>
    <string>Yusbigcyr</string>
    <string>Yusbigiotifiedcyr</string>
    <string>Fitacyr</string>
    <string>Ukcyr</string>
    <string>Geupcyr</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>Amacron</string>
    <string>Abreve</string>
    <string>Aogonek</string>
    <string>Cacute</string>
    <string>Cdotaccent</string>
    <string>Ccaron</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Emacron</string>
    <string>Edotaccent</string>
    <string>Eogonek</string>
    <string>Ecaron</string>
    <string>Gbreve</string>
    <string>Gdotaccent</string>
    <string>Gcommaaccent</string>
    <string>Hbar</string>
    <string>Itilde</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Idotaccent</string>
    <string>IJ</string>
    <string>Kcommaaccent</string>
    <string>Lacute</string>
    <string>Lcommaaccent</string>
    <string>Lcaron</string>
    <string>Lslash</string>
    <string>Nacute</string>
    <string>Ncommaaccent</string>
    <string>Ncaron</string>
    <string>Eng</string>
    <string>Omacron</string>
    <string>Ohungarumlaut</string>
    <string>OE</string>
    <string>Racute</string>
    <string>Rcommaaccent</string>
    <string>Rcaron</string>
    <string>Sacute</string>
    <string>Scedilla</string>
    <string>Scaron</string>
    <string>Tcedilla</string>
    <string>Tcaron</string>
    <string>Tbar</string>
    <string>Utilde</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Uogonek</string>
    <string>Wcircumflex</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>Zdotaccent</string>
    <string>Zcaron</string>
    <string>DZcaron</string>
    <string>Dzcaron</string>
    <string>LJ</string>
    <string>Lj</string>
    <string>NJ</string>
    <string>Nj</string>
    <string>Acaron</string>
    <string>Icaron</string>
    <string>Ocaron</string>
    <string>Ucaron</string>
    <string>Udieresismacron</string>
    <string>Udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>DZ</string>
    <string>Dz</string>
    <string>Scommaaccent</string>
    <string>Tcommaaccent</string>
    <string>Gestrokecyr</string>
    <string>Zhetailcyr</string>
    <string>Katailcyr</string>
    <string>Entailcyr</string>
    <string>Ustraightcyr</string>
    <string>Ustraightstrokecyr</string>
    <string>Xatailcyr</string>
    <string>Chetailcyr</string>
    <string>Shhacyr</string>
    <string>Palochkacyr</string>
    <string>Schwacyr</string>
    <string>Imacroncyr</string>
    <string>Obarcyr</string>
    <string>Umacroncyr</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflextilde</string>
    <string>Abreveacute</string>
    <string>Abrevegrave</string>
    <string>Abrevetilde</string>
    <string>Etilde</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflextilde</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflextilde</string>
    <string>Ygrave</string>
    <string>Ytilde</string>
  </array>
  <key>g</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gdotaccent</string>
    <string>gacute</string>
  </array>
  <key>g.ss01</key>
  <array>
    <string>g.ss01</string>
    <string>gbreve.ss01</string>
    <string>gcircumflex.ss01</string>
    <string>gdotaccent.ss01</string>
    <string>gacute.ss01</string>
  </array>
  <key>loclBGR_ss02</key>
  <array>
    <string>Decyr.loclBGR</string>
    <string>Elcyr.loclBGR</string>
    <string>vecyr.loclBGR</string>
    <string>gecyr.loclBGR</string>
    <string>decyr.loclBGR</string>
    <string>zhecyr.loclBGR</string>
    <string>zecyr.loclBGR</string>
    <string>icyr.loclBGR</string>
    <string>ishortcyr.loclBGR</string>
    <string>kacyr.loclBGR</string>
    <string>elcyr.loclBGR</string>
    <string>pecyr.loclBGR</string>
    <string>tecyr.loclBGR</string>
    <string>tsecyr.loclBGR</string>
    <string>shacyr.loclBGR</string>
    <string>shchacyr.loclBGR</string>
    <string>hardcyr.loclBGR</string>
    <string>ylongcyr.loclBGR</string>
    <string>softcyr.loclBGR</string>
    <string>yucyr.loclBGR</string>
    <string>igravecyr.loclBGR</string>
  </array>
  <key>loclCYR_ss02</key>
  <array>
    <string>Decyr</string>
    <string>Elcyr</string>
    <string>vecyr</string>
    <string>gecyr</string>
    <string>decyr</string>
    <string>zhecyr</string>
    <string>zecyr</string>
    <string>icyr</string>
    <string>ishortcyr</string>
    <string>kacyr</string>
    <string>elcyr</string>
    <string>pecyr</string>
    <string>tecyr</string>
    <string>tsecyr</string>
    <string>shacyr</string>
    <string>shchacyr</string>
    <string>hardcyr</string>
    <string>ylongcyr</string>
    <string>softcyr</string>
    <string>yucyr</string>
    <string>igravecyr</string>
  </array>
  <key>numr</key>
  <array>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
  </array>
  <key>ordn_sinf_subs_sups_numr_dnom</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
  </array>
  <key>public.kern2.A2</key>
  <array>
    <string>A</string>
  </array>
  <key>sinf_subs</key>
  <array>
    <string>zero.inferior</string>
    <string>one.inferior</string>
    <string>two.inferior</string>
    <string>three.inferior</string>
    <string>four.inferior</string>
    <string>five.inferior</string>
    <string>six.inferior</string>
    <string>seven.inferior</string>
    <string>eight.inferior</string>
    <string>nine.inferior</string>
  </array>
  <key>sups</key>
  <array>
    <string>zero.superior</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>four.superior</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
  </array>
</dict>
</plist>
