<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>locl_ss02</key>
  <array>
    <string>Decyr</string>
    <string>Elcyr</string>
    <string>vecyr</string>
    <string>gecyr</string>
    <string>decyr</string>
    <string>zhecyr</string>
    <string>zecyr</string>
    <string>icyr</string>
    <string>ishortcyr</string>
    <string>kacyr</string>
    <string>elcyr</string>
    <string>pecyr</string>
    <string>tecyr</string>
    <string>tsecyr</string>
    <string>shacyr</string>
    <string>shchacyr</string>
    <string>hardcyr</string>
    <string>ylongcyr</string>
    <string>softcyr</string>
    <string>yucyr</string>
  </array>
  <key>locl_ss022</key>
  <array>
    <string>Decyr.loclBGR</string>
    <string>Elcyr.loclBGR</string>
    <string>vecyr.loclBGR</string>
    <string>gecyr.loclBGR</string>
    <string>decyr.loclBGR</string>
    <string>zhecyr.loclBGR</string>
    <string>zecyr.loclBGR</string>
    <string>icyr.loclBGR</string>
    <string>ishortcyr.loclBGR</string>
    <string>kacyr.loclBGR</string>
    <string>elcyr.loclBGR</string>
    <string>pecyr.loclBGR</string>
    <string>tecyr.loclBGR</string>
    <string>tsecyr.loclBGR</string>
    <string>shacyr.loclBGR</string>
    <string>shchacyr.loclBGR</string>
    <string>hardcyr.loclBGR</string>
    <string>ylongcyr.loclBGR</string>
    <string>softcyr.loclBGR</string>
    <string>yucyr.loclBGR</string>
  </array>
  <key>numr</key>
  <array>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
  </array>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>Acyr</string>
    <string>Alpha</string>
    <string>Delta</string>
    <string>L</string>
    <string>Lambda</string>
    <string>Yuslittlecyr</string>
    <string>Yuslittleiotifiedcyr</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tau</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.idieresis</key>
  <array>
    <string>idieresis</string>
    <string>yukrcyr</string>
  </array>
  <key>public.kern2.A2</key>
  <array>
    <string>A</string>
    <string>Acyr</string>
    <string>Alpha</string>
    <string>Yuslittlecyr</string>
  </array>
  <key>public.kern2.T2</key>
  <array>
    <string>T</string>
    <string>Tau</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
    <string>V</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern2.W2</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>ae</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdotaccent</string>
    <string>cent</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>eth</string>
    <string>f</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>i</string>
    <string>infinity</string>
    <string>j</string>
    <string>l</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>partialdiff</string>
    <string>q</string>
    <string>s</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
  </array>
  <key>public.kern2.idieresis</key>
  <array>
    <string>idieresis</string>
    <string>yukrcyr</string>
  </array>
  <key>public.kern2.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.v</key>
  <array>
    <string>nu</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>y</string>
  </array>
</dict>
</plist>
