<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-100</integer>
    <key>public.kern2.W2</key>
    <integer>-50</integer>
    <key>public.kern2.quoteright</key>
    <integer>-100</integer>
  </dict>
  <key>Acyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-35</integer>
    <key>public.kern2.W2</key>
    <integer>-15</integer>
    <key>public.kern2.quoteright</key>
    <integer>-35</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-75</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-100</integer>
    <key>public.kern2.W2</key>
    <integer>-50</integer>
    <key>public.kern2.quoteright</key>
    <integer>-100</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>v</key>
    <integer>-125</integer>
    <key>w</key>
    <integer>-135</integer>
    <key>y</key>
    <integer>-125</integer>
  </dict>
  <key>Yacute</key>
  <dict>
    <key>v</key>
    <integer>-125</integer>
    <key>w</key>
    <integer>-135</integer>
    <key>y</key>
    <integer>-125</integer>
  </dict>
  <key>Ydieresis</key>
  <dict>
    <key>v</key>
    <integer>-125</integer>
    <key>w</key>
    <integer>-135</integer>
  </dict>
  <key>Yuslittlecyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-35</integer>
    <key>public.kern2.W2</key>
    <integer>-15</integer>
    <key>public.kern2.quoteright</key>
    <integer>-35</integer>
  </dict>
  <key>Yuslittleiotifiedcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-35</integer>
    <key>public.kern2.W2</key>
    <integer>-15</integer>
    <key>public.kern2.quoteright</key>
    <integer>-35</integer>
  </dict>
  <key>efcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
  </dict>
  <key>ercyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
  </dict>
  <key>ocyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-85</integer>
    <key>public.kern2.g.ss01</key>
    <integer>-85</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>f</key>
    <integer>25</integer>
    <key>public.kern2.a</key>
    <integer>-25</integer>
    <key>public.kern2.g.ss01</key>
    <integer>-25</integer>
  </dict>
  <key>yucyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
    <key>Acyr</key>
    <integer>-35</integer>
    <key>Yuslittlecyr</key>
    <integer>-35</integer>
    <key>public.kern2.T2</key>
    <integer>40</integer>
    <key>public.kern2.a</key>
    <integer>-125</integer>
    <key>public.kern2.v</key>
    <integer>-140</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>A</key>
    <integer>-85</integer>
    <key>Acyr</key>
    <integer>-30</integer>
    <key>Yuslittlecyr</key>
    <integer>-30</integer>
    <key>public.kern2.a</key>
    <integer>-75</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
    <key>Acyr</key>
    <integer>-15</integer>
    <key>Yuslittlecyr</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-35</integer>
  </dict>
  <key>public.kern1.i1</key>
  <dict>
    <key>public.kern2.uni0432</key>
    <integer>60</integer>
  </dict>
  <key>public.kern1.uni044A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni0467</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
  </dict>
</dict>
</plist>
