@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-ExtraLight.woff2') format('woff2'),
        url('AcariSans-ExtraLight.woff') format('woff'),
        url('AcariSans-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-ExtraLightItalic.woff2') format('woff2'),
        url('AcariSans-ExtraLightItalic.woff') format('woff'),
        url('AcariSans-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-Light.woff2') format('woff2'),
        url('AcariSans-Light.woff') format('woff'),
        url('AcariSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-LightItalic.woff2') format('woff2'),
        url('AcariSans-LightItalic.woff') format('woff'),
        url('AcariSans-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-Regular.woff2') format('woff2'),
        url('AcariSans-Regular.woff') format('woff'),
        url('AcariSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-Italic.woff2') format('woff2'),
        url('AcariSans-Italic.woff') format('woff'),
        url('AcariSans-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-Medium.woff2') format('woff2'),
        url('AcariSans-Medium.woff') format('woff'),
        url('AcariSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-MediumItalic.woff2') format('woff2'),
        url('AcariSans-MediumItalic.woff') format('woff'),
        url('AcariSans-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-SemiBold.woff2') format('woff2'),
        url('AcariSans-SemiBold.woff') format('woff'),
        url('AcariSans-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-SemiBoldItalic.woff2') format('woff2'),
        url('AcariSans-SemiBoldItalic.woff') format('woff'),
        url('AcariSans-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-Bold.woff2') format('woff2'),
        url('AcariSans-Bold.woff') format('woff'),
        url('AcariSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-BoldItalic.woff2') format('woff2'),
        url('AcariSans-BoldItalic.woff') format('woff'),
        url('AcariSans-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-ExtraBold.woff2') format('woff2'),
        url('AcariSans-ExtraBold.woff') format('woff'),
        url('AcariSans-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-ExtraBoldItalic.woff2') format('woff2'),
        url('AcariSans-ExtraBoldItalic.woff') format('woff'),
        url('AcariSans-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-Black.woff2') format('woff2'),
        url('AcariSans-Black.woff') format('woff'),
        url('AcariSans-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Rising Sun';
    src: url('AcariSans-BlackItalic.woff2') format('woff2'),
        url('AcariSans-BlackItalic.woff') format('woff'),
        url('AcariSans-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}
