<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>ae</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdotaccent</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>eth</string>
    <string>f</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>i</string>
    <string>infinity</string>
    <string>j</string>
    <string>l</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>partialdiff</string>
    <string>q</string>
    <string>s</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
  </array>
  <key>public.kern2.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.v</key>
  <array>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>y</string>
  </array>
</dict>
</plist>
