<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>locl_ss02</key>
  <array>
    <string>Decyr</string>
    <string>Elcyr</string>
    <string>vecyr</string>
    <string>zhecyr</string>
    <string>zecyr</string>
    <string>kacyr</string>
    <string>elcyr</string>
    <string>yucyr</string>
  </array>
  <key>locl_ss022</key>
  <array>
    <string>Decyr.loclBGR</string>
    <string>Elcyr.loclBGR</string>
    <string>vecyr.loclBGR</string>
    <string>zhecyr.loclBGR</string>
    <string>zecyr.loclBGR</string>
    <string>kacyr.loclBGR</string>
    <string>elcyr.loclBGR</string>
    <string>yucyr.loclBGR</string>
  </array>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>L</string>
  </array>
  <key>public.kern1.A11</key>
  <array>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Abreveacute</string>
    <string>Abrevedotbelow</string>
    <string>Abrevegrave</string>
    <string>Abrevehoi</string>
    <string>Abrevetilde</string>
    <string>Acaron</string>
    <string>Acircumflex</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexdotbelow</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflexhoi</string>
    <string>Acircumflextilde</string>
    <string>Adieresis</string>
    <string>Adotbelow</string>
    <string>Agrave</string>
    <string>Ahoi</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
  </array>
  <key>public.kern1.AE</key>
  <array>
    <string>AE</string>
    <string>AEacute</string>
  </array>
  <key>public.kern1.Alpha1</key>
  <array>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Lambda</string>
  </array>
  <key>public.kern1.C1</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
  </array>
  <key>public.kern1.E</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexdotbelow</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflexhoi</string>
    <string>Ecircumflextilde</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Edotbelow</string>
    <string>Egrave</string>
    <string>Ehoi</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Etilde</string>
  </array>
  <key>public.kern1.Epsilon</key>
  <array>
    <string>Epsilon</string>
    <string>Epsilontonos</string>
  </array>
  <key>public.kern1.Eth1</key>
  <array>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>public.kern1.G1</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern1.H</key>
  <array>
    <string>H</string>
    <string>Hcircumflex</string>
    <string>M</string>
  </array>
  <key>public.kern1.I</key>
  <array>
    <string>I</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icaron</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Idotbelow</string>
    <string>Igrave</string>
    <string>Ihoi</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern1.J1</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>LJ</string>
    <string>NJ</string>
  </array>
  <key>public.kern1.K</key>
  <array>
    <string>K</string>
    <string>Kcommaaccent</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>Lacute</string>
    <string>Lcommaaccent</string>
  </array>
  <key>public.kern1.O1</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocaron</string>
    <string>Ocircumflex</string>
    <string>Ocircumflexdotbelow</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflextilde</string>
    <string>Odieresis</string>
    <string>Odotbelow</string>
    <string>Ograve</string>
    <string>Ohoi</string>
    <string>Ohorn</string>
    <string>Ohornacute</string>
    <string>Ohorndotbelow</string>
    <string>Ohorngrave</string>
    <string>Ohornhoi</string>
    <string>Ohorntilde</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oogonek</string>
    <string>Otilde</string>
  </array>
  <key>public.kern1.Omicron1</key>
  <array>
    <string>Omicron</string>
    <string>Omicrontonos</string>
  </array>
  <key>public.kern1.Oslash1</key>
  <array>
    <string>Oslash</string>
    <string>Oslashacute</string>
  </array>
  <key>public.kern1.Pi</key>
  <array>
    <string>Eta</string>
    <string>Etatonos</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Iotatonos</string>
    <string>Pi</string>
  </array>
  <key>public.kern1.R</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
  </array>
  <key>public.kern1.S1</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern1.T11</key>
  <array>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern1.U1</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucaron</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>Udieresismacron</string>
    <string>Udotbelow</string>
    <string>Ugrave</string>
    <string>Uhoi</string>
    <string>Uhorn</string>
    <string>Uhornacute</string>
    <string>Uhorndotbelow</string>
    <string>Uhorngrave</string>
    <string>Uhornhoi</string>
    <string>Uhorntilde</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern1.Upsilon1</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.Y1</key>
  <array>
    <string>Ydotbelow</string>
    <string>Yhoi</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern1.Yusbigcyr</key>
  <array>
    <string>Yusbigcyr</string>
    <string>Yusbigiotifiedcyr</string>
  </array>
  <key>public.kern1.Z1</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern1.a11</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>abreveacute</string>
    <string>abrevedotbelow</string>
    <string>abrevegrave</string>
    <string>abrevehoi</string>
    <string>abrevetilde</string>
    <string>acaron</string>
    <string>acircumflex</string>
    <string>acircumflexacute</string>
    <string>acircumflexdotbelow</string>
    <string>acircumflexgrave</string>
    <string>acircumflexhoi</string>
    <string>acircumflextilde</string>
    <string>adieresis</string>
    <string>adotbelow</string>
    <string>agrave</string>
    <string>ahoi</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>atilde</string>
  </array>
  <key>public.kern1.acute1</key>
  <array>
    <string>acute</string>
    <string>hungarumlaut</string>
  </array>
  <key>public.kern1.ae1</key>
  <array>
    <string>ae</string>
    <string>aeacute</string>
    <string>aemacron</string>
  </array>
  <key>public.kern1.alpha1</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
  </array>
  <key>public.kern1.c1</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
  </array>
  <key>public.kern1.dieresis1</key>
  <array>
    <string>dieresis</string>
    <string>dotaccent</string>
  </array>
  <key>public.kern1.e1</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>ecircumflexdotbelow</string>
    <string>ecircumflexgrave</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>edotbelow</string>
    <string>egrave</string>
    <string>ehoi</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>etilde</string>
  </array>
  <key>public.kern1.eight1</key>
  <array>
    <string>eight</string>
    <string>eight.pnum</string>
  </array>
  <key>public.kern1.emdash1</key>
  <array>
    <string>emdash</string>
    <string>horizontalbar</string>
  </array>
  <key>public.kern1.encyr</key>
  <array>
    <string>encyr</string>
    <string>palochkacyr</string>
  </array>
  <key>public.kern1.epsilon1</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>public.kern1.eta1</key>
  <array>
    <string>eta</string>
    <string>etatonos</string>
  </array>
  <key>public.kern1.five1</key>
  <array>
    <string>five.pnum</string>
  </array>
  <key>public.kern1.four1</key>
  <array>
    <string>four</string>
    <string>four.pnum</string>
  </array>
  <key>public.kern1.g1</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>gscript-ipa</string>
  </array>
  <key>public.kern1.gecyr.loclSRB1</key>
  <array>
    <string>gecyr.loclSRB</string>
    <string>gjecyr.loclMKD</string>
  </array>
  <key>public.kern1.guillemotleft1</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1.h1</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
  </array>
  <key>public.kern1.i1</key>
  <array>
    <string>i</string>
    <string>idotbelow</string>
    <string>iogonek</string>
  </array>
  <key>public.kern1.iacute</key>
  <array>
    <string>dotlessi</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icaron</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>ihoi</string>
    <string>imacron</string>
    <string>itilde</string>
  </array>
  <key>public.kern1.iota1</key>
  <array>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotatonos</string>
  </array>
  <key>public.kern1.j1</key>
  <array>
    <string>dotlessj</string>
    <string>ij</string>
    <string>j</string>
    <string>jcircumflex</string>
    <string>nj</string>
  </array>
  <key>public.kern1.k</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>public.kern1.kacyr.loclBGR</key>
  <array>
    <string>kacyr.loclBGR</string>
    <string>zhecyr.loclBGR</string>
  </array>
  <key>public.kern1.l1</key>
  <array>
    <string>l</string>
    <string>lacute</string>
    <string>lcommaaccent</string>
  </array>
  <key>public.kern1.m</key>
  <array>
    <string>m</string>
    <string>napostrophe</string>
  </array>
  <key>public.kern1.minus1</key>
  <array>
    <string>endash</string>
    <string>hyphen</string>
    <string>minus</string>
    <string>softhyphen</string>
  </array>
  <key>public.kern1.n1</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
  </array>
  <key>public.kern1.nine1</key>
  <array>
    <string>nine</string>
    <string>nine.pnum</string>
  </array>
  <key>public.kern1.o1</key>
  <array>
    <string>o</string>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocaron</string>
    <string>ocircumflex</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexdotbelow</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflexhoi</string>
    <string>ocircumflextilde</string>
    <string>odieresis</string>
    <string>odotbelow</string>
    <string>ograve</string>
    <string>ohoi</string>
    <string>ohorn</string>
    <string>ohornacute</string>
    <string>ohorndotbelow</string>
    <string>ohorngrave</string>
    <string>ohornhoi</string>
    <string>ohorntilde</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oogonek</string>
    <string>otilde</string>
  </array>
  <key>public.kern1.omega1</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>public.kern1.omicron1</key>
  <array>
    <string>omicron</string>
    <string>omicrontonos</string>
  </array>
  <key>public.kern1.one</key>
  <array>
    <string>one</string>
    <string>one.pnum</string>
  </array>
  <key>public.kern1.oslash1</key>
  <array>
    <string>oslash</string>
    <string>oslashacute</string>
  </array>
  <key>public.kern1.pecyr1</key>
  <array>
    <string>pecyr</string>
    <string>shhacyr</string>
  </array>
  <key>public.kern1.period</key>
  <array>
    <string>period</string>
    <string>twodotenleader</string>
  </array>
  <key>public.kern1.quotedblbase</key>
  <array>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.quoteleft1</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1.quoteright1</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.r1</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>public.kern1.s1</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>public.kern1.seven1</key>
  <array>
    <string>seven.pnum</string>
  </array>
  <key>public.kern1.six1</key>
  <array>
    <string>six.pnum</string>
  </array>
  <key>public.kern1.t1</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
  </array>
  <key>public.kern1.three1</key>
  <array>
    <string>three.pnum</string>
  </array>
  <key>public.kern1.two1</key>
  <array>
    <string>two.pnum</string>
  </array>
  <key>public.kern1.u1</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucaron</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>udieresisacute</string>
    <string>udieresiscaron</string>
    <string>udieresisgrave</string>
    <string>udieresismacron</string>
    <string>udotbelow</string>
    <string>ugrave</string>
    <string>uhoi</string>
    <string>uhorn</string>
    <string>uhornacute</string>
    <string>uhorndotbelow</string>
    <string>uhorngrave</string>
    <string>uhornhoi</string>
    <string>uhorntilde</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
  </array>
  <key>public.kern1.uni01C4</key>
  <array>
    <string>DZ</string>
    <string>DZcaron</string>
  </array>
  <key>public.kern1.uni01C51</key>
  <array>
    <string>Dz</string>
    <string>Dzcaron</string>
  </array>
  <key>public.kern1.uni01C61</key>
  <array>
    <string>dz</string>
    <string>dzcaron</string>
  </array>
  <key>public.kern1.uni01DD1</key>
  <array>
    <string>ereversed-ipa</string>
    <string>eturned</string>
    <string>oopen</string>
    <string>schwa</string>
  </array>
  <key>public.kern1.uni04001</key>
  <array>
    <string>Iecyr</string>
    <string>Iegravecyr</string>
    <string>Iocyr</string>
  </array>
  <key>public.kern1.uni0403</key>
  <array>
    <string>Gecyr</string>
    <string>Geupcyr</string>
    <string>Gjecyr</string>
  </array>
  <key>public.kern1.uni0406</key>
  <array>
    <string>Icyr</string>
    <string>Igravecyr</string>
    <string>Imacroncyr</string>
    <string>Ishortcyr</string>
    <string>Iukrcyr</string>
    <string>Palochkacyr</string>
    <string>Pecyr</string>
    <string>Shacyr</string>
    <string>Yacyr</string>
    <string>Ylongcyr</string>
    <string>Yukrcyr</string>
  </array>
  <key>public.kern1.uni040C</key>
  <array>
    <string>Kacyr</string>
    <string>Kjecyr</string>
    <string>Zhecyr</string>
  </array>
  <key>public.kern1.uni040E1</key>
  <array>
    <string>Ucyr</string>
    <string>Umacroncyr</string>
    <string>Ushortcyr</string>
  </array>
  <key>public.kern1.uni04101</key>
  <array>
    <string>Acyr</string>
    <string>Yuslittlecyr</string>
  </array>
  <key>public.kern1.uni041C</key>
  <array>
    <string>Emcyr</string>
    <string>Encyr</string>
  </array>
  <key>public.kern1.uni041E1</key>
  <array>
    <string>Fitacyr</string>
    <string>Obarcyr</string>
    <string>Ocyr</string>
    <string>Schwacyr</string>
    <string>Yucyr</string>
  </array>
  <key>public.kern1.uni04261</key>
  <array>
    <string>Chetailcyr</string>
    <string>Entailcyr</string>
    <string>Shchacyr</string>
    <string>Tsecyr</string>
  </array>
  <key>public.kern1.uni04331</key>
  <array>
    <string>gecyr</string>
    <string>gjecyr</string>
  </array>
  <key>public.kern1.uni04351</key>
  <array>
    <string>iecyr</string>
    <string>iegravecyr</string>
    <string>iocyr</string>
  </array>
  <key>public.kern1.uni04381</key>
  <array>
    <string>icyr</string>
    <string>igravecyr</string>
    <string>imacroncyr</string>
    <string>ishortcyr</string>
  </array>
  <key>public.kern1.uni043A1</key>
  <array>
    <string>kacyr</string>
    <string>kjecyr</string>
  </array>
  <key>public.kern1.uni043C1</key>
  <array>
    <string>checyr</string>
    <string>emcyr</string>
  </array>
  <key>public.kern1.uni043E1</key>
  <array>
    <string>fitacyr</string>
    <string>obarcyr</string>
    <string>ocyr</string>
  </array>
  <key>public.kern1.uni04431</key>
  <array>
    <string>ucyr</string>
    <string>umacroncyr</string>
    <string>ushortcyr</string>
  </array>
  <key>public.kern1.uni0446</key>
  <array>
    <string>shchacyr</string>
    <string>tsecyr</string>
  </array>
  <key>public.kern1.uni044A</key>
  <array>
    <string>hardcyr</string>
    <string>njecyr</string>
  </array>
  <key>public.kern1.uni044D</key>
  <array>
    <string>ereversedcyr</string>
    <string>schwacyr</string>
  </array>
  <key>public.kern1.uni044F</key>
  <array>
    <string>yacyr</string>
    <string>yukrcyr</string>
  </array>
  <key>public.kern1.uni0467</key>
  <array>
    <string>yuslittlecyr</string>
    <string>yuslittleiotifiedcyr</string>
  </array>
  <key>public.kern1.uni046B</key>
  <array>
    <string>yusbigcyr</string>
    <string>yusbigiotifiedcyr</string>
  </array>
  <key>public.kern1.uni0496</key>
  <array>
    <string>Katailcyr</string>
    <string>Zhetailcyr</string>
  </array>
  <key>public.kern1.uni1EBF1</key>
  <array>
    <string>ecircumflexacute</string>
    <string>ecircumflexhoi</string>
    <string>ecircumflextilde</string>
  </array>
  <key>public.kern1.uni1ED0</key>
  <array>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexhoi</string>
  </array>
  <key>public.kern1.upsilon1</key>
  <array>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>public.kern1.w1</key>
  <array>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern1.y1</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ydotbelow</string>
    <string>ygrave</string>
    <string>yhoi</string>
    <string>ytilde</string>
  </array>
  <key>public.kern1.z1</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern1.zero1</key>
  <array>
    <string>zero.pnum</string>
  </array>
  <key>public.kern2.A1</key>
  <array>
    <string>Abreveacute</string>
    <string>Abrevedotbelow</string>
    <string>Abrevegrave</string>
    <string>Abrevehoi</string>
    <string>Abrevetilde</string>
    <string>Acaron</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexdotbelow</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflexhoi</string>
    <string>Acircumflextilde</string>
    <string>Adotbelow</string>
    <string>Ahoi</string>
  </array>
  <key>public.kern2.A2</key>
  <array>
    <string>A</string>
  </array>
  <key>public.kern2.Alpha</key>
  <array>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Lambda</string>
  </array>
  <key>public.kern2.B</key>
  <array>
    <string>.notdef</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>B</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eng</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>Euro</string>
    <string>F</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>Germandbls</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohorn</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhorn</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>X</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>acute</string>
    <string>acutecomb</string>
    <string>adieresis</string>
    <string>aeacute</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>ampersand</string>
    <string>aogonek</string>
    <string>approxequal</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>arrowleft</string>
    <string>arrowright</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>breve</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>caron</string>
    <string>ccircumflex</string>
    <string>cedilla</string>
    <string>circumflex</string>
    <string>copyright</string>
    <string>currency</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>dieresis</string>
    <string>divide</string>
    <string>dollar</string>
    <string>dotaccent</string>
    <string>dotbelowcomb</string>
    <string>dotlessi</string>
    <string>ebreve</string>
    <string>ellipsis</string>
    <string>emdash</string>
    <string>endash</string>
    <string>eng</string>
    <string>equal</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>fi</string>
    <string>fl</string>
    <string>florin</string>
    <string>fraction</string>
    <string>gcircumflex</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>gravecomb</string>
    <string>greater</string>
    <string>greaterequal</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>hbar</string>
    <string>hcircumflex</string>
    <string>hookabovecomb</string>
    <string>hungarumlaut</string>
    <string>hyphen</string>
    <string>i.loclTRK</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>ij</string>
    <string>imacron</string>
    <string>integral</string>
    <string>iogonek</string>
    <string>itilde</string>
    <string>jcircumflex</string>
    <string>k</string>
    <string>kgreenlandic</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>ldot</string>
    <string>less</string>
    <string>lessequal</string>
    <string>logicalnot</string>
    <string>longs</string>
    <string>lozenge</string>
    <string>lslash</string>
    <string>m</string>
    <string>macron</string>
    <string>minus</string>
    <string>multiply</string>
    <string>n</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>notequal</string>
    <string>ntilde</string>
    <string>numbersign</string>
    <string>obreve</string>
    <string>ogonek</string>
    <string>ohorn</string>
    <string>onesuperior</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>oslashacute</string>
    <string>p</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>periodcentered</string>
    <string>pi</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>product</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quoteleft</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>r</string>
    <string>racute</string>
    <string>radical</string>
    <string>rcaron</string>
    <string>registered</string>
    <string>ring</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>section</string>
    <string>slash</string>
    <string>space</string>
    <string>sterling</string>
    <string>summation</string>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>thorn</string>
    <string>threesuperior</string>
    <string>tilde</string>
    <string>tildecomb</string>
    <string>trademark</string>
    <string>twodotenleader</string>
    <string>twosuperior</string>
    <string>ubreve</string>
    <string>uhorn</string>
    <string>underscore</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
    <string>x</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>yen</string>
    <string>ygrave</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern2.B1</key>
  <array>
    <string>DZ</string>
    <string>DZcaron</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexdotbelow</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflexhoi</string>
    <string>Ecircumflextilde</string>
    <string>Edotbelow</string>
    <string>Ehoi</string>
    <string>Etilde</string>
    <string>Icaron</string>
    <string>Idotbelow</string>
    <string>Ihoi</string>
    <string>Kcommaaccent</string>
    <string>Lcommaaccent</string>
    <string>Ncommaaccent</string>
    <string>Rcommaaccent</string>
  </array>
  <key>public.kern2.Mu</key>
  <array>
    <string>Beta</string>
    <string>Epsilon</string>
    <string>Epsilontonos</string>
    <string>Eta</string>
    <string>Etatonos</string>
    <string>Gamma</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Iotatonos</string>
    <string>Kappa</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Pi</string>
    <string>Rho</string>
  </array>
  <key>public.kern2.O</key>
  <array>
    <string>Ocaron</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexdotbelow</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflexhoi</string>
    <string>Ocircumflextilde</string>
    <string>Odotbelow</string>
    <string>Ohoi</string>
    <string>Ohornacute</string>
    <string>Ohorndotbelow</string>
    <string>Ohorngrave</string>
    <string>Ohornhoi</string>
    <string>Ohorntilde</string>
    <string>Oogonek</string>
  </array>
  <key>public.kern2.Omicron</key>
  <array>
    <string>Omicron</string>
    <string>Omicrontonos</string>
  </array>
  <key>public.kern2.T1</key>
  <array>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern2.T2</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>V</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern2.U</key>
  <array>
    <string>Ucaron</string>
    <string>Udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>Udieresismacron</string>
    <string>Udotbelow</string>
    <string>Uhoi</string>
    <string>Uhornacute</string>
    <string>Uhorndotbelow</string>
    <string>Uhorngrave</string>
    <string>Uhornhoi</string>
    <string>Uhorntilde</string>
  </array>
  <key>public.kern2.Upsilon</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
  </array>
  <key>public.kern2.W2</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>Ydotbelow</string>
    <string>Yhoi</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>ae</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdotaccent</string>
    <string>cent</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>eth</string>
    <string>f</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>i</string>
    <string>infinity</string>
    <string>j</string>
    <string>l</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>partialdiff</string>
    <string>q</string>
    <string>s</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
  </array>
  <key>public.kern2.a1</key>
  <array>
    <string>abreveacute</string>
    <string>abrevedotbelow</string>
    <string>abrevegrave</string>
    <string>abrevehoi</string>
    <string>abrevetilde</string>
    <string>acaron</string>
    <string>acircumflexacute</string>
    <string>acircumflexdotbelow</string>
    <string>acircumflexgrave</string>
    <string>acircumflexhoi</string>
    <string>acircumflextilde</string>
    <string>adotbelow</string>
    <string>ahoi</string>
  </array>
  <key>public.kern2.alpha</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
  </array>
  <key>public.kern2.e</key>
  <array>
    <string>ecircumflexdotbelow</string>
    <string>ecircumflexgrave</string>
    <string>edotbelow</string>
    <string>ehoi</string>
    <string>etilde</string>
  </array>
  <key>public.kern2.eight</key>
  <array>
    <string>eight</string>
    <string>eight.pnum</string>
  </array>
  <key>public.kern2.epsilon</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>public.kern2.eta</key>
  <array>
    <string>eta</string>
    <string>etatonos</string>
  </array>
  <key>public.kern2.five</key>
  <array>
    <string>five</string>
    <string>five.pnum</string>
  </array>
  <key>public.kern2.four</key>
  <array>
    <string>four</string>
    <string>four.pnum</string>
  </array>
  <key>public.kern2.g</key>
  <array>
    <string>gcommaaccent</string>
    <string>gscript-ipa</string>
  </array>
  <key>public.kern2.gecyr.loclSRB</key>
  <array>
    <string>gecyr.loclSRB</string>
    <string>gjecyr.loclMKD</string>
  </array>
  <key>public.kern2.iota</key>
  <array>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotatonos</string>
  </array>
  <key>public.kern2.nine</key>
  <array>
    <string>nine</string>
    <string>nine.pnum</string>
  </array>
  <key>public.kern2.o</key>
  <array>
    <string>ocaron</string>
    <string>ocircumflexdotbelow</string>
    <string>ocircumflexgrave</string>
    <string>odotbelow</string>
    <string>ohoi</string>
    <string>ohornacute</string>
    <string>ohorndotbelow</string>
    <string>ohorngrave</string>
    <string>ohornhoi</string>
    <string>ohorntilde</string>
    <string>oogonek</string>
  </array>
  <key>public.kern2.oe</key>
  <array>
    <string>ocircumflexacute</string>
    <string>ocircumflexhoi</string>
    <string>ocircumflextilde</string>
  </array>
  <key>public.kern2.omega</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>public.kern2.omicron</key>
  <array>
    <string>omicron</string>
    <string>omicrontonos</string>
  </array>
  <key>public.kern2.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.r</key>
  <array>
    <string>icaron</string>
    <string>ihoi</string>
    <string>rcommaaccent</string>
  </array>
  <key>public.kern2.seven</key>
  <array>
    <string>seven</string>
    <string>seven.pnum</string>
  </array>
  <key>public.kern2.six</key>
  <array>
    <string>six</string>
    <string>six.pnum</string>
  </array>
  <key>public.kern2.t</key>
  <array>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
  </array>
  <key>public.kern2.three</key>
  <array>
    <string>three</string>
    <string>three.pnum</string>
  </array>
  <key>public.kern2.two</key>
  <array>
    <string>two</string>
    <string>two.pnum</string>
  </array>
  <key>public.kern2.u</key>
  <array>
    <string>ucaron</string>
    <string>udieresisacute</string>
    <string>udieresiscaron</string>
    <string>udieresisgrave</string>
    <string>udieresismacron</string>
    <string>udotbelow</string>
    <string>uhoi</string>
    <string>uhornacute</string>
    <string>uhorndotbelow</string>
    <string>uhorngrave</string>
    <string>uhornhoi</string>
    <string>uhorntilde</string>
  </array>
  <key>public.kern2.uni01C5</key>
  <array>
    <string>Dz</string>
    <string>Dzcaron</string>
  </array>
  <key>public.kern2.uni01C6</key>
  <array>
    <string>dz</string>
    <string>dzcaron</string>
  </array>
  <key>public.kern2.uni01DD</key>
  <array>
    <string>eturned</string>
    <string>schwa</string>
  </array>
  <key>public.kern2.uni0400</key>
  <array>
    <string>Becyr</string>
    <string>Emcyr</string>
    <string>Encyr</string>
    <string>Ercyr</string>
    <string>Gecyr</string>
    <string>Geupcyr</string>
    <string>Gjecyr</string>
    <string>Icyr</string>
    <string>Iecyr</string>
    <string>Iegravecyr</string>
    <string>Igravecyr</string>
    <string>Imacroncyr</string>
    <string>Iocyr</string>
    <string>Ishortcyr</string>
    <string>Iukrcyr</string>
    <string>Kacyr</string>
    <string>Kjecyr</string>
    <string>Njecyr</string>
    <string>Palochkacyr</string>
    <string>Pecyr</string>
    <string>Shacyr</string>
    <string>Shhacyr</string>
    <string>Softcyr</string>
    <string>Vecyr</string>
    <string>Ylongcyr</string>
    <string>Yukrcyr</string>
    <string>Yusbigiotifiedcyr</string>
    <string>Yuslittleiotifiedcyr</string>
  </array>
  <key>public.kern2.uni0409</key>
  <array>
    <string>Elcyr</string>
    <string>Ljecyr</string>
  </array>
  <key>public.kern2.uni040E</key>
  <array>
    <string>Ucyr</string>
    <string>Umacroncyr</string>
    <string>Ushortcyr</string>
  </array>
  <key>public.kern2.uni0410</key>
  <array>
    <string>Acyr</string>
    <string>Yuslittlecyr</string>
  </array>
  <key>public.kern2.uni041E</key>
  <array>
    <string>Fitacyr</string>
    <string>Obarcyr</string>
    <string>Ocyr</string>
    <string>Ukcyr</string>
  </array>
  <key>public.kern2.uni0426</key>
  <array>
    <string>Entailcyr</string>
    <string>Katailcyr</string>
    <string>Tsecyr</string>
  </array>
  <key>public.kern2.uni042E</key>
  <array>
    <string>Eiotifiedcyr</string>
    <string>Yucyr</string>
  </array>
  <key>public.kern2.uni0433</key>
  <array>
    <string>gecyr</string>
    <string>gjecyr</string>
  </array>
  <key>public.kern2.uni0435</key>
  <array>
    <string>iecyr</string>
    <string>iegravecyr</string>
    <string>iocyr</string>
  </array>
  <key>public.kern2.uni0438</key>
  <array>
    <string>icyr</string>
    <string>igravecyr</string>
    <string>imacroncyr</string>
    <string>ishortcyr</string>
  </array>
  <key>public.kern2.uni043A</key>
  <array>
    <string>kacyr</string>
    <string>kjecyr</string>
    <string>palochkacyr</string>
    <string>yukrcyr</string>
    <string>yusbigiotifiedcyr</string>
    <string>yuslittleiotifiedcyr</string>
  </array>
  <key>public.kern2.uni043B</key>
  <array>
    <string>elcyr</string>
    <string>ljecyr</string>
  </array>
  <key>public.kern2.uni043C</key>
  <array>
    <string>emcyr</string>
    <string>encyr</string>
    <string>tecyr</string>
  </array>
  <key>public.kern2.uni043E</key>
  <array>
    <string>fitacyr</string>
    <string>obarcyr</string>
    <string>ocyr</string>
  </array>
  <key>public.kern2.uni043F</key>
  <array>
    <string>geupcyr</string>
    <string>pecyr</string>
    <string>shhacyr</string>
  </array>
  <key>public.kern2.uni0443</key>
  <array>
    <string>ucyr</string>
    <string>umacroncyr</string>
    <string>ushortcyr</string>
  </array>
  <key>public.kern2.uni1EBF</key>
  <array>
    <string>ecircumflexacute</string>
    <string>ecircumflexhoi</string>
    <string>ecircumflextilde</string>
  </array>
  <key>public.kern2.uni2031</key>
  <array>
    <string>pertenthousandsign</string>
    <string>perthousand</string>
  </array>
  <key>public.kern2.upsilon</key>
  <array>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>public.kern2.v</key>
  <array>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>y</string>
  </array>
  <key>public.kern2.y</key>
  <array>
    <string>ydotbelow</string>
    <string>yhoi</string>
    <string>ytilde</string>
  </array>
  <key>public.kern2.zero</key>
  <array>
    <string>zero</string>
    <string>zero.pnum</string>
  </array>
</dict>
</plist>
