<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-119</integer>
    <key>Acyrillic</key>
    <integer>-119</integer>
    <key>Yuslittlecyrillic</key>
    <integer>-119</integer>
    <key>afii10021</key>
    <integer>-119</integer>
    <key>afii10029</key>
    <integer>-119</integer>
  </dict>
  <key>afii10077</key>
  <dict>
    <key>afii10068</key>
    <integer>-31</integer>
    <key>afii10069</key>
    <integer>-31</integer>
    <key>afii10070</key>
    <integer>-31</integer>
    <key>afii10071</key>
    <integer>-31</integer>
    <key>afii10077</key>
    <integer>-31</integer>
    <key>afii10080</key>
    <integer>-31</integer>
    <key>afii10083</key>
    <integer>-31</integer>
    <key>afii10086</key>
    <integer>-31</integer>
    <key>afii10195</key>
    <integer>-31</integer>
    <key>ukcyrillic</key>
    <integer>-31</integer>
    <key>uni0437.loclRUS</key>
    <integer>-31</integer>
    <key>uni0437.loclSRB</key>
    <integer>-31</integer>
    <key>uni0450</key>
    <integer>-31</integer>
    <key>yuslittlecyrillic</key>
    <integer>-31</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-164</integer>
    <key>Acyrillic</key>
    <integer>-164</integer>
    <key>J</key>
    <integer>-10</integer>
    <key>Yuslittlecyrillic</key>
    <integer>-164</integer>
    <key>afii10021</key>
    <integer>-164</integer>
    <key>afii10029</key>
    <integer>-164</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>a</key>
    <integer>-143</integer>
    <key>acyrillic</key>
    <integer>-143</integer>
    <key>ae</key>
    <integer>-143</integer>
    <key>c</key>
    <integer>-143</integer>
    <key>cacute</key>
    <integer>-143</integer>
    <key>ccaron</key>
    <integer>-143</integer>
    <key>ccedilla</key>
    <integer>-143</integer>
    <key>cdot</key>
    <integer>-143</integer>
    <key>cent</key>
    <integer>-143</integer>
    <key>d</key>
    <integer>-143</integer>
    <key>dcaron</key>
    <integer>-143</integer>
    <key>dcroat</key>
    <integer>-143</integer>
    <key>e</key>
    <integer>-143</integer>
    <key>eacute</key>
    <integer>-143</integer>
    <key>ecaron</key>
    <integer>-143</integer>
    <key>ecircumflex</key>
    <integer>-143</integer>
    <key>ecircumflexacute</key>
    <integer>-143</integer>
    <key>ecircumflexgrave</key>
    <integer>-143</integer>
    <key>ecircumflextilde</key>
    <integer>-143</integer>
    <key>edieresis</key>
    <integer>-143</integer>
    <key>edot</key>
    <integer>-143</integer>
    <key>egrave</key>
    <integer>-143</integer>
    <key>emacron</key>
    <integer>-143</integer>
    <key>eogonek</key>
    <integer>-143</integer>
    <key>eth</key>
    <integer>-143</integer>
    <key>etilde</key>
    <integer>-143</integer>
    <key>f</key>
    <integer>-143</integer>
    <key>g</key>
    <integer>-143</integer>
    <key>g.ss01</key>
    <integer>-143</integer>
    <key>gbreve</key>
    <integer>-143</integer>
    <key>gbreve.ss01</key>
    <integer>-143</integer>
    <key>gcedilla</key>
    <integer>-143</integer>
    <key>gdot</key>
    <integer>-143</integer>
    <key>gdotaccent.ss01</key>
    <integer>-143</integer>
    <key>i</key>
    <integer>-143</integer>
    <key>infinity</key>
    <integer>-143</integer>
    <key>j</key>
    <integer>-143</integer>
    <key>l</key>
    <integer>-143</integer>
    <key>o</key>
    <integer>-143</integer>
    <key>oacute</key>
    <integer>-143</integer>
    <key>ocaron</key>
    <integer>-143</integer>
    <key>ocircumflex</key>
    <integer>-143</integer>
    <key>ocircumflexacute</key>
    <integer>-143</integer>
    <key>ocircumflexgrave</key>
    <integer>-143</integer>
    <key>ocircumflextilde</key>
    <integer>-143</integer>
    <key>odblacute</key>
    <integer>-143</integer>
    <key>odieresis</key>
    <integer>-143</integer>
    <key>oe</key>
    <integer>-143</integer>
    <key>ograve</key>
    <integer>-143</integer>
    <key>omacron</key>
    <integer>-143</integer>
    <key>oslash</key>
    <integer>-143</integer>
    <key>otilde</key>
    <integer>-143</integer>
    <key>partialdiff</key>
    <integer>-143</integer>
    <key>q</key>
    <integer>-143</integer>
    <key>s</key>
    <integer>-143</integer>
    <key>u</key>
    <integer>-143</integer>
    <key>uacute</key>
    <integer>-143</integer>
    <key>ucaron</key>
    <integer>-143</integer>
    <key>ucircumflex</key>
    <integer>-143</integer>
    <key>udblacute</key>
    <integer>-143</integer>
    <key>udieresis</key>
    <integer>-143</integer>
    <key>udieresisacute</key>
    <integer>-143</integer>
    <key>udieresiscaron</key>
    <integer>-143</integer>
    <key>udieresisgrave</key>
    <integer>-143</integer>
    <key>udieresismacron</key>
    <integer>-143</integer>
    <key>ugrave</key>
    <integer>-143</integer>
    <key>umacron</key>
    <integer>-143</integer>
    <key>uni0123.ss01</key>
    <integer>-143</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>a</key>
    <integer>-31</integer>
    <key>acyrillic</key>
    <integer>-31</integer>
    <key>ae</key>
    <integer>-31</integer>
    <key>c</key>
    <integer>-31</integer>
    <key>cacute</key>
    <integer>-31</integer>
    <key>ccaron</key>
    <integer>-31</integer>
    <key>ccedilla</key>
    <integer>-31</integer>
    <key>cdot</key>
    <integer>-31</integer>
    <key>cent</key>
    <integer>-31</integer>
    <key>d</key>
    <integer>-31</integer>
    <key>dcaron</key>
    <integer>-31</integer>
    <key>dcroat</key>
    <integer>-31</integer>
    <key>e</key>
    <integer>-31</integer>
    <key>eacute</key>
    <integer>-31</integer>
    <key>ecaron</key>
    <integer>-31</integer>
    <key>ecircumflex</key>
    <integer>-31</integer>
    <key>ecircumflexacute</key>
    <integer>-31</integer>
    <key>ecircumflexgrave</key>
    <integer>-31</integer>
    <key>ecircumflextilde</key>
    <integer>-31</integer>
    <key>edieresis</key>
    <integer>-31</integer>
    <key>edot</key>
    <integer>-31</integer>
    <key>egrave</key>
    <integer>-31</integer>
    <key>emacron</key>
    <integer>-31</integer>
    <key>eogonek</key>
    <integer>-31</integer>
    <key>eth</key>
    <integer>-31</integer>
    <key>etilde</key>
    <integer>-31</integer>
    <key>f</key>
    <integer>-31</integer>
    <key>g</key>
    <integer>-31</integer>
    <key>g.ss01</key>
    <integer>-31</integer>
    <key>gbreve</key>
    <integer>-31</integer>
    <key>gbreve.ss01</key>
    <integer>-31</integer>
    <key>gcedilla</key>
    <integer>-31</integer>
    <key>gdot</key>
    <integer>-31</integer>
    <key>gdotaccent.ss01</key>
    <integer>-31</integer>
    <key>i</key>
    <integer>-31</integer>
    <key>infinity</key>
    <integer>-31</integer>
    <key>j</key>
    <integer>-31</integer>
    <key>l</key>
    <integer>-31</integer>
    <key>o</key>
    <integer>-31</integer>
    <key>oacute</key>
    <integer>-31</integer>
    <key>ocaron</key>
    <integer>-31</integer>
    <key>ocircumflex</key>
    <integer>-31</integer>
    <key>ocircumflexacute</key>
    <integer>-31</integer>
    <key>ocircumflexgrave</key>
    <integer>-31</integer>
    <key>ocircumflextilde</key>
    <integer>-31</integer>
    <key>odblacute</key>
    <integer>-31</integer>
    <key>odieresis</key>
    <integer>-31</integer>
    <key>oe</key>
    <integer>-31</integer>
    <key>ograve</key>
    <integer>-31</integer>
    <key>omacron</key>
    <integer>-31</integer>
    <key>oslash</key>
    <integer>-31</integer>
    <key>otilde</key>
    <integer>-31</integer>
    <key>partialdiff</key>
    <integer>-31</integer>
    <key>q</key>
    <integer>-31</integer>
    <key>s</key>
    <integer>-31</integer>
    <key>u</key>
    <integer>-31</integer>
    <key>uacute</key>
    <integer>-31</integer>
    <key>ucaron</key>
    <integer>-31</integer>
    <key>ucircumflex</key>
    <integer>-31</integer>
    <key>udblacute</key>
    <integer>-31</integer>
    <key>udieresis</key>
    <integer>-31</integer>
    <key>udieresisacute</key>
    <integer>-31</integer>
    <key>udieresiscaron</key>
    <integer>-31</integer>
    <key>udieresisgrave</key>
    <integer>-31</integer>
    <key>udieresismacron</key>
    <integer>-31</integer>
    <key>ugrave</key>
    <integer>-31</integer>
    <key>umacron</key>
    <integer>-31</integer>
    <key>uni0123.ss01</key>
    <integer>-31</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-164</integer>
    <key>public.kern2.W2</key>
    <integer>-92</integer>
    <key>public.kern2.quoteright</key>
    <integer>-164</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-41</integer>
    <key>public.kern2.afii10037</key>
    <integer>-39</integer>
  </dict>
  <key>public.kern1.P</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-82</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-164</integer>
    <key>public.kern2.T2</key>
    <integer>31</integer>
    <key>public.kern2.a</key>
    <integer>-201</integer>
    <key>public.kern2.uni0450</key>
    <integer>-201</integer>
    <key>public.kern2.v</key>
    <integer>-231</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-139</integer>
    <key>public.kern2.a</key>
    <integer>-115</integer>
    <key>public.kern2.afii10053</key>
    <integer>-39</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-92</integer>
    <key>public.kern2.a</key>
    <integer>-61</integer>
  </dict>
  <key>public.kern1.afii10068</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-201</integer>
  </dict>
</dict>
</plist>
