<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aalt</key>
  <array>
    <string>g</string>
    <string>i</string>
    <string>s</string>
    <string>gbreve</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Decyr</string>
    <string>Elcyr</string>
    <string>becyr</string>
    <string>vecyr</string>
    <string>gecyr</string>
    <string>decyr</string>
    <string>zhecyr</string>
    <string>zecyr</string>
    <string>icyr</string>
    <string>ishortcyr</string>
    <string>kacyr</string>
    <string>elcyr</string>
    <string>pecyr</string>
    <string>tecyr</string>
    <string>tsecyr</string>
    <string>shacyr</string>
    <string>shchacyr</string>
    <string>hardcyr</string>
    <string>ylongcyr</string>
    <string>softcyr</string>
    <string>yucyr</string>
  </array>
  <key>aalt2</key>
  <array>
    <string>g.ss01</string>
    <string>i.loclTRK</string>
    <string>longs</string>
    <string>gbreve.ss01</string>
    <string>Scommaaccent</string>
    <string>scommaaccent</string>
    <string>Decyr.loclBGR</string>
    <string>Elcyr.loclBGR</string>
    <string>becyr.loclSRB</string>
    <string>vecyr.loclBGR</string>
    <string>gecyr.loclBGR</string>
    <string>decyr.loclBGR</string>
    <string>zhecyr.loclBGR</string>
    <string>zecyr.loclBGR</string>
    <string>icyr.loclBGR</string>
    <string>ishortcyr.loclBGR</string>
    <string>kacyr.loclBGR</string>
    <string>elcyr.loclBGR</string>
    <string>pecyr.loclBGR</string>
    <string>tecyr.loclBGR</string>
    <string>tsecyr.loclBGR</string>
    <string>shacyr.loclBGR</string>
    <string>shchacyr.loclBGR</string>
    <string>hardcyr.loclBGR</string>
    <string>ylongcyr.loclBGR</string>
    <string>softcyr.loclBGR</string>
    <string>yucyr.loclBGR</string>
  </array>
  <key>cpsp</key>
  <array>
    <string>Lslash</string>
    <string>Zcaron</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>Scaron</string>
    <string>OE</string>
    <string>Ydieresis</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Ccaron</string>
    <string>Cacute</string>
    <string>Zacute</string>
    <string>Dcaron</string>
    <string>Emacron</string>
    <string>Edotaccent</string>
    <string>Ecaron</string>
    <string>Eogonek</string>
    <string>Iogonek</string>
    <string>Imacron</string>
    <string>Kcommaaccent</string>
    <string>Lcommaaccent</string>
    <string>Lcaron</string>
    <string>Lacute</string>
    <string>Ncommaaccent</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>Sacute</string>
    <string>Tcaron</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>Uhungarumlaut</string>
    <string>Uogonek</string>
    <string>Zdotaccent</string>
    <string>Gcommaaccent</string>
    <string>Dcroat</string>
    <string>Acyr</string>
    <string>Becyr</string>
    <string>Vecyr</string>
    <string>Gecyr</string>
    <string>Decyr</string>
    <string>Iecyr</string>
    <string>Zhecyr</string>
    <string>Zecyr</string>
    <string>Icyr</string>
    <string>Ishortcyr</string>
    <string>Kacyr</string>
    <string>Elcyr</string>
    <string>Emcyr</string>
    <string>Encyr</string>
    <string>Ocyr</string>
    <string>Pecyr</string>
    <string>Ercyr</string>
    <string>Escyr</string>
    <string>Tecyr</string>
    <string>Ucyr</string>
    <string>Efcyr</string>
    <string>Hacyr</string>
    <string>Tsecyr</string>
    <string>Checyr</string>
    <string>Shacyr</string>
    <string>Shchacyr</string>
    <string>Hardcyr</string>
    <string>Ylongcyr</string>
    <string>Softcyr</string>
    <string>Ereversedcyr</string>
    <string>Yucyr</string>
    <string>Yacyr</string>
    <string>Geupcyr</string>
    <string>Iukrcyr</string>
    <string>Djecyr</string>
    <string>Gjecyr</string>
    <string>Jecyr</string>
    <string>Eukrcyr</string>
    <string>Yukrcyr</string>
    <string>Ljecyr</string>
    <string>Njecyr</string>
    <string>Dzecyr</string>
    <string>Tshecyr</string>
    <string>Kjecyr</string>
    <string>Ushortcyr</string>
    <string>Dzhecyr</string>
    <string>Iocyr</string>
    <string>Abreve</string>
    <string>Scommaaccent</string>
    <string>Tcommaaccent</string>
    <string>Gbreve</string>
    <string>Idotaccent</string>
    <string>Scedilla</string>
    <string>Cdotaccent</string>
    <string>Gdotaccent</string>
    <string>Hbar</string>
    <string>Itilde</string>
    <string>IJ</string>
    <string>Eng</string>
    <string>Tcedilla</string>
    <string>Tbar</string>
    <string>Utilde</string>
    <string>Wcircumflex</string>
    <string>Ycircumflex</string>
    <string>Iegravecyr</string>
    <string>Igravecyr</string>
    <string>Yatcyr</string>
    <string>Fitacyr</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
    <string>Ygrave</string>
    <string>Gestrokecyr</string>
    <string>Zhetailcyr</string>
    <string>Katailcyr</string>
    <string>Entailcyr</string>
    <string>Ustraightcyr</string>
    <string>Ustraightstrokecyr</string>
    <string>Xatailcyr</string>
    <string>Chetailcyr</string>
    <string>Shhacyr</string>
    <string>Palochkacyr</string>
    <string>Schwacyr</string>
    <string>Imacroncyr</string>
    <string>Obarcyr</string>
    <string>Umacroncyr</string>
    <string>Dzcaron</string>
    <string>LJ</string>
    <string>Lj</string>
    <string>NJ</string>
    <string>Nj</string>
    <string>Acaron</string>
    <string>Icaron</string>
    <string>Ocaron</string>
    <string>Ucaron</string>
    <string>Udieresismacron</string>
    <string>Udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>DZ</string>
    <string>Dz</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflextilde</string>
    <string>Abreveacute</string>
    <string>Abrevegrave</string>
    <string>Abrevetilde</string>
    <string>Etilde</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflextilde</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflextilde</string>
    <string>Ytilde</string>
    <string>Eiotifiedcyr</string>
    <string>Yuslittlecyr</string>
    <string>Yuslittleiotifiedcyr</string>
    <string>Yusbigcyr</string>
    <string>Yusbigiotifiedcyr</string>
    <string>Ukcyr</string>
    <string>DZcaron</string>
  </array>
  <key>dnom_frac</key>
  <array>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
  </array>
  <key>dnom_frac_numr_ordn_pnum_sinf_subs_sups_tnum</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>frac</key>
  <array>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>frac2</key>
  <array>
    <string>fraction</string>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
  </array>
  <key>frac3</key>
  <array>
    <string>fraction</string>
    <string>zero.dnom</string>
    <string>one.dnom</string>
    <string>two.dnom</string>
    <string>three.dnom</string>
    <string>four.dnom</string>
    <string>five.dnom</string>
    <string>six.dnom</string>
    <string>seven.dnom</string>
    <string>eight.dnom</string>
    <string>nine.dnom</string>
  </array>
  <key>frac_numr</key>
  <array>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
  </array>
  <key>locl_ss02</key>
  <array>
    <string>Decyr</string>
    <string>Elcyr</string>
    <string>vecyr</string>
    <string>gecyr</string>
    <string>decyr</string>
    <string>zhecyr</string>
    <string>zecyr</string>
    <string>icyr</string>
    <string>ishortcyr</string>
    <string>kacyr</string>
    <string>elcyr</string>
    <string>pecyr</string>
    <string>tecyr</string>
    <string>tsecyr</string>
    <string>shacyr</string>
    <string>shchacyr</string>
    <string>hardcyr</string>
    <string>ylongcyr</string>
    <string>softcyr</string>
    <string>yucyr</string>
  </array>
  <key>locl_ss022</key>
  <array>
    <string>Decyr.loclBGR</string>
    <string>Elcyr.loclBGR</string>
    <string>vecyr.loclBGR</string>
    <string>gecyr.loclBGR</string>
    <string>decyr.loclBGR</string>
    <string>zhecyr.loclBGR</string>
    <string>zecyr.loclBGR</string>
    <string>icyr.loclBGR</string>
    <string>ishortcyr.loclBGR</string>
    <string>kacyr.loclBGR</string>
    <string>elcyr.loclBGR</string>
    <string>pecyr.loclBGR</string>
    <string>tecyr.loclBGR</string>
    <string>tsecyr.loclBGR</string>
    <string>shacyr.loclBGR</string>
    <string>shchacyr.loclBGR</string>
    <string>hardcyr.loclBGR</string>
    <string>ylongcyr.loclBGR</string>
    <string>softcyr.loclBGR</string>
    <string>yucyr.loclBGR</string>
  </array>
  <key>pnum_tnum</key>
  <array>
    <string>zero.pnum</string>
    <string>one.pnum</string>
    <string>two.pnum</string>
    <string>three.pnum</string>
    <string>four.pnum</string>
    <string>five.pnum</string>
    <string>six.pnum</string>
    <string>seven.pnum</string>
    <string>eight.pnum</string>
    <string>nine.pnum</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.i</key>
  <array>
    <string>dotlessi</string>
    <string>i</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icaron</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>idotbelow</string>
    <string>igrave</string>
    <string>ihoi</string>
    <string>imacron</string>
    <string>iogonek</string>
    <string>itilde</string>
    <string>longs</string>
  </array>
  <key>public.kern1.uni044A</key>
  <array>
    <string>hardcyr</string>
    <string>softcyr</string>
  </array>
  <key>public.kern1.uni0467</key>
  <array>
    <string>yuslittlecyr</string>
    <string>yuslittleiotifiedcyr</string>
  </array>
  <key>public.kern2.T2</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>V</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>ae</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdotaccent</string>
    <string>cent</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>eth</string>
    <string>f</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>i</string>
    <string>infinity</string>
    <string>j</string>
    <string>l</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>partialdiff</string>
    <string>q</string>
    <string>s</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
  </array>
  <key>public.kern2.uni0432</key>
  <array>
    <string>emcyr</string>
    <string>encyr</string>
    <string>gecyr</string>
    <string>geupcyr</string>
    <string>gjecyr</string>
    <string>icyr</string>
    <string>igravecyr</string>
    <string>imacroncyr</string>
    <string>ishortcyr</string>
    <string>iukrcyr</string>
    <string>kacyr</string>
    <string>kjecyr</string>
    <string>njecyr</string>
    <string>palochkacyr</string>
    <string>pecyr</string>
    <string>shacyr</string>
    <string>shhacyr</string>
    <string>softcyr</string>
    <string>vecyr</string>
    <string>ylongcyr</string>
    <string>yukrcyr</string>
    <string>yusbigiotifiedcyr</string>
    <string>yuslittleiotifiedcyr</string>
  </array>
  <key>public.kern2.v</key>
  <array>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>y</string>
  </array>
  <key>sinf_subs</key>
  <array>
    <string>zero.inferior</string>
    <string>one.inferior</string>
    <string>two.inferior</string>
    <string>three.inferior</string>
    <string>four.inferior</string>
    <string>five.inferior</string>
    <string>six.inferior</string>
    <string>seven.inferior</string>
    <string>eight.inferior</string>
    <string>nine.inferior</string>
  </array>
  <key>sups</key>
  <array>
    <string>zero.superior</string>
    <string>onesuperior</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>four.superior</string>
    <string>five.superior</string>
    <string>six.superior</string>
    <string>seven.superior</string>
    <string>eight.superior</string>
    <string>nine.superior</string>
  </array>
</dict>
</plist>
