<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-85</integer>
    <key>public.kern2.W2</key>
    <integer>-40</integer>
    <key>public.kern2.quoteright</key>
    <integer>-85</integer>
  </dict>
  <key>Acyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
    <key>public.kern2.W2</key>
    <integer>-35</integer>
    <key>public.kern2.quoteright</key>
    <integer>-70</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-68</integer>
    <key>public.kern2.a</key>
    <integer>-47</integer>
  </dict>
  <key>Becyr</key>
  <dict>
    <key>Hacyr</key>
    <integer>-49</integer>
    <key>Hardcyr</key>
    <integer>-49</integer>
    <key>hardcyr</key>
    <integer>-103</integer>
    <key>question</key>
    <integer>-79</integer>
    <key>quotesingle</key>
    <integer>-49</integer>
    <key>public.kern2.quoteright</key>
    <integer>-98</integer>
    <key>public.kern2.uni040E</key>
    <integer>-59</integer>
    <key>public.kern2.uni0443</key>
    <integer>-59</integer>
  </dict>
  <key>Decyr</key>
  <dict>
    <key>Checyr</key>
    <integer>-26</integer>
    <key>Hardcyr</key>
    <integer>-39</integer>
    <key>hardcyr</key>
    <integer>-39</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-39</integer>
    <key>public.kern2.uni040E</key>
    <integer>-44</integer>
    <key>public.kern2.uni0443</key>
    <integer>-47</integer>
  </dict>
  <key>Djecyr</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-103</integer>
  </dict>
  <key>Efcyr</key>
  <dict>
    <key>Yacyr</key>
    <integer>-29</integer>
    <key>comma</key>
    <integer>-82</integer>
    <key>period</key>
    <integer>-44</integer>
    <key>slash</key>
    <integer>-158</integer>
    <key>public.kern2.A2</key>
    <integer>-69</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-119</integer>
    <key>public.kern2.uni0409</key>
    <integer>-63</integer>
    <key>public.kern2.uni040E</key>
    <integer>-63</integer>
    <key>public.kern2.uni043B</key>
    <integer>-47</integer>
  </dict>
  <key>Ercyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-128</integer>
    <key>Hacyr</key>
    <integer>-49</integer>
    <key>Zhecyr</key>
    <integer>-88</integer>
    <key>comma</key>
    <integer>-148</integer>
    <key>period</key>
    <integer>-82</integer>
    <key>slash</key>
    <integer>-227</integer>
    <key>public.kern2.A2</key>
    <integer>-138</integer>
    <key>public.kern2.uni0409</key>
    <integer>-109</integer>
    <key>public.kern2.uni040E</key>
    <integer>-29</integer>
  </dict>
  <key>Escyr</key>
  <dict>
    <key>public.kern2.endash</key>
    <integer>-148</integer>
  </dict>
  <key>Eukrcyr</key>
  <dict>
    <key>public.kern2.endash</key>
    <integer>-82</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-65</integer>
    <key>comma</key>
    <integer>-171</integer>
    <key>period</key>
    <integer>-103</integer>
    <key>semicolon</key>
    <integer>-68</integer>
    <key>x</key>
    <integer>-98</integer>
    <key>public.kern2.A2</key>
    <integer>-128</integer>
    <key>public.kern2.AE</key>
    <integer>-128</integer>
    <key>public.kern2.J</key>
    <integer>-327</integer>
    <key>public.kern2.a</key>
    <integer>-68</integer>
    <key>public.kern2.t</key>
    <integer>-59</integer>
    <key>public.kern2.v</key>
    <integer>-59</integer>
    <key>public.kern2.z</key>
    <integer>-217</integer>
  </dict>
  <key>Hacyr</key>
  <dict>
    <key>hardcyr</key>
    <integer>-89</integer>
    <key>tecyr</key>
    <integer>-89</integer>
    <key>public.kern2.uni041E</key>
    <integer>-26</integer>
    <key>public.kern2.uni0435</key>
    <integer>-47</integer>
    <key>public.kern2.uni043E</key>
    <integer>-47</integer>
    <key>public.kern2.uni0443</key>
    <integer>-98</integer>
  </dict>
  <key>Jecyr</key>
  <dict>
    <key>slash</key>
    <integer>-82</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-85</integer>
    <key>public.kern2.W2</key>
    <integer>-40</integer>
    <key>public.kern2.quoteright</key>
    <integer>-85</integer>
  </dict>
  <key>Ljecyr</key>
  <dict>
    <key>quotesingle</key>
    <integer>-196</integer>
    <key>public.kern2.quoteright</key>
    <integer>-222</integer>
    <key>public.kern2.uni040E</key>
    <integer>-128</integer>
    <key>public.kern2.uni0443</key>
    <integer>-69</integer>
  </dict>
  <key>Lslash</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-59</integer>
    <key>public.kern2.O</key>
    <integer>-59</integer>
    <key>public.kern2.T2</key>
    <integer>-217</integer>
  </dict>
  <key>Njecyr</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-128</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>comma</key>
    <integer>-148</integer>
    <key>period</key>
    <integer>-82</integer>
    <key>public.kern2.A2</key>
    <integer>-138</integer>
    <key>public.kern2.T2</key>
    <integer>-49</integer>
    <key>public.kern2.Z</key>
    <integer>-29</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-79</integer>
    <key>public.kern2.a</key>
    <integer>-47</integer>
  </dict>
  <key>Tecyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-128</integer>
    <key>Yacyr</key>
    <integer>-59</integer>
    <key>acyr</key>
    <integer>-192</integer>
    <key>colon</key>
    <integer>-125</integer>
    <key>comma</key>
    <integer>-82</integer>
    <key>ercyr</key>
    <integer>-103</integer>
    <key>hardcyr</key>
    <integer>-198</integer>
    <key>period</key>
    <integer>-26</integer>
    <key>semicolon</key>
    <integer>-171</integer>
    <key>slash</key>
    <integer>-276</integer>
    <key>yacyr</key>
    <integer>-169</integer>
    <key>public.kern2.A2</key>
    <integer>-196</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-82</integer>
    <key>public.kern2.uni0404</key>
    <integer>-69</integer>
    <key>public.kern2.uni0409</key>
    <integer>-128</integer>
    <key>public.kern2.uni041E</key>
    <integer>-69</integer>
    <key>public.kern2.uni0432</key>
    <integer>-103</integer>
    <key>public.kern2.uni0435</key>
    <integer>-146</integer>
    <key>public.kern2.uni043B</key>
    <integer>-198</integer>
    <key>public.kern2.uni043E</key>
    <integer>-146</integer>
    <key>public.kern2.uni0443</key>
    <integer>-208</integer>
  </dict>
  <key>Tshecyr</key>
  <dict>
    <key>question</key>
    <integer>-128</integer>
    <key>quotesingle</key>
    <integer>-148</integer>
    <key>public.kern2.quoteright</key>
    <integer>-79</integer>
    <key>public.kern2.uni040E</key>
    <integer>-79</integer>
  </dict>
  <key>Vecyr</key>
  <dict>
    <key>Hacyr</key>
    <integer>-26</integer>
    <key>public.kern2.uni040E</key>
    <integer>-26</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-26</integer>
    <key>public.kern2.O</key>
    <integer>-26</integer>
    <key>public.kern2.a</key>
    <integer>-47</integer>
    <key>public.kern2.t</key>
    <integer>-83</integer>
    <key>public.kern2.v</key>
    <integer>-98</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>v</key>
    <integer>-110</integer>
    <key>w</key>
    <integer>-115</integer>
    <key>y</key>
    <integer>-110</integer>
  </dict>
  <key>Yacute</key>
  <dict>
    <key>v</key>
    <integer>-110</integer>
    <key>w</key>
    <integer>-115</integer>
    <key>y</key>
    <integer>-110</integer>
  </dict>
  <key>Ydieresis</key>
  <dict>
    <key>v</key>
    <integer>-110</integer>
    <key>w</key>
    <integer>-115</integer>
  </dict>
  <key>Yuslittlecyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
    <key>public.kern2.W2</key>
    <integer>-35</integer>
    <key>public.kern2.quoteright</key>
    <integer>-70</integer>
  </dict>
  <key>Yuslittleiotifiedcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
    <key>public.kern2.W2</key>
    <integer>-35</integer>
    <key>public.kern2.quoteright</key>
    <integer>-70</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-34</integer>
  </dict>
  <key>becyr</key>
  <dict>
    <key>hacyr</key>
    <integer>-50</integer>
    <key>hardcyr</key>
    <integer>-89</integer>
    <key>public.kern2.quoteright</key>
    <integer>-69</integer>
    <key>public.kern2.uni043B</key>
    <integer>-49</integer>
    <key>public.kern2.uni0443</key>
    <integer>-49</integer>
  </dict>
  <key>colon</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-82</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-125</integer>
  </dict>
  <key>comma</key>
  <dict>
    <key>Checyr</key>
    <integer>-171</integer>
    <key>Efcyr</key>
    <integer>-63</integer>
    <key>Hardcyr</key>
    <integer>-26</integer>
    <key>checyr</key>
    <integer>-166</integer>
    <key>tecyr</key>
    <integer>-50</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-44</integer>
    <key>public.kern2.uni0443</key>
    <integer>-50</integer>
  </dict>
  <key>efcyr</key>
  <dict>
    <key>quotesingle</key>
    <integer>-34</integer>
    <key>tecyr</key>
    <integer>-29</integer>
    <key>public.kern2.T2</key>
    <integer>-85</integer>
    <key>public.kern2.uni043B</key>
    <integer>-34</integer>
    <key>public.kern2.uni0443</key>
    <integer>-34</integer>
  </dict>
  <key>ercyr</key>
  <dict>
    <key>hacyr</key>
    <integer>-34</integer>
    <key>public.kern2.T2</key>
    <integer>-85</integer>
    <key>public.kern2.uni043B</key>
    <integer>-34</integer>
    <key>public.kern2.uni0443</key>
    <integer>-34</integer>
  </dict>
  <key>hacyr</key>
  <dict>
    <key>public.kern2.uni0435</key>
    <integer>-34</integer>
    <key>public.kern2.uni043E</key>
    <integer>-34</integer>
  </dict>
  <key>ljecyr</key>
  <dict>
    <key>question</key>
    <integer>-128</integer>
    <key>quotesingle</key>
    <integer>-189</integer>
    <key>public.kern2.quoteright</key>
    <integer>-189</integer>
    <key>public.kern2.uni0443</key>
    <integer>-69</integer>
  </dict>
  <key>njecyr</key>
  <dict>
    <key>public.kern2.uni0443</key>
    <integer>-79</integer>
  </dict>
  <key>ocyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-85</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-34</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>checyr</key>
    <integer>-69</integer>
    <key>hardcyr</key>
    <integer>-69</integer>
    <key>tecyr</key>
    <integer>-69</integer>
    <key>public.kern2.J</key>
    <integer>-59</integer>
    <key>public.kern2.a</key>
    <integer>-99</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>Checyr</key>
    <integer>-148</integer>
    <key>Efcyr</key>
    <integer>-44</integer>
    <key>checyr</key>
    <integer>-124</integer>
    <key>public.kern2.T2</key>
    <integer>-26</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-26</integer>
    <key>public.kern2.uni0443</key>
    <integer>-34</integer>
  </dict>
  <key>question</key>
  <dict>
    <key>Jecyr</key>
    <integer>-148</integer>
    <key>Zhecyr</key>
    <integer>-79</integer>
    <key>public.kern2.A2</key>
    <integer>-125</integer>
    <key>public.kern2.uni0409</key>
    <integer>-103</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-276</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-276</integer>
    <key>public.kern2.uni0404</key>
    <integer>-103</integer>
    <key>public.kern2.uni041E</key>
    <integer>-103</integer>
    <key>public.kern2.uni0435</key>
    <integer>-139</integer>
    <key>public.kern2.uni043E</key>
    <integer>-144</integer>
    <key>public.kern2.uni0441</key>
    <integer>-144</integer>
    <key>public.kern2.uni0443</key>
    <integer>-128</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-85</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-75</integer>
    <key>public.kern2.g.ss01</key>
    <integer>-75</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>Decyr</key>
    <integer>-26</integer>
    <key>Jecyr</key>
    <integer>-222</integer>
    <key>decyr</key>
    <integer>-34</integer>
    <key>efcyr</key>
    <integer>-50</integer>
    <key>public.kern2.A2</key>
    <integer>-82</integer>
    <key>public.kern2.uni0435</key>
    <integer>-34</integer>
    <key>public.kern2.uni043B</key>
    <integer>-34</integer>
    <key>public.kern2.uni043E</key>
    <integer>-34</integer>
    <key>public.kern2.uni0441</key>
    <integer>-34</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>f</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.g.ss01</key>
    <integer>-20</integer>
  </dict>
  <key>semicolon</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-125</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-148</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>Decyr</key>
    <integer>-125</integer>
    <key>Jecyr</key>
    <integer>-188</integer>
    <key>acyr</key>
    <integer>-118</integer>
    <key>becyr</key>
    <integer>-79</integer>
    <key>decyr</key>
    <integer>-188</integer>
    <key>efcyr</key>
    <integer>-138</integer>
    <key>ercyr</key>
    <integer>-59</integer>
    <key>ereversedcyr</key>
    <integer>-108</integer>
    <key>shchacyr</key>
    <integer>-59</integer>
    <key>tsecyr</key>
    <integer>-59</integer>
    <key>yacyr</key>
    <integer>-118</integer>
    <key>zecyr</key>
    <integer>-108</integer>
    <key>zhecyr</key>
    <integer>-98</integer>
    <key>public.kern2.A2</key>
    <integer>-148</integer>
    <key>public.kern2.uni0409</key>
    <integer>-125</integer>
    <key>public.kern2.uni0432</key>
    <integer>-59</integer>
    <key>public.kern2.uni0435</key>
    <integer>-124</integer>
    <key>public.kern2.uni043B</key>
    <integer>-188</integer>
    <key>public.kern2.uni043E</key>
    <integer>-124</integer>
    <key>public.kern2.uni0441</key>
    <integer>-124</integer>
    <key>public.kern2.yucyr</key>
    <integer>-59</integer>
  </dict>
  <key>tecyr</key>
  <dict>
    <key>comma</key>
    <integer>-67</integer>
    <key>decyr</key>
    <integer>-99</integer>
    <key>slash</key>
    <integer>-227</integer>
    <key>public.kern2.uni0435</key>
    <integer>-39</integer>
    <key>public.kern2.uni043B</key>
    <integer>-99</integer>
    <key>public.kern2.uni043E</key>
    <integer>-39</integer>
    <key>public.kern2.uni0441</key>
    <integer>-39</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>comma</key>
    <integer>-67</integer>
    <key>public.kern2.a</key>
    <integer>-29</integer>
  </dict>
  <key>vecyr</key>
  <dict>
    <key>question</key>
    <integer>-128</integer>
    <key>slash</key>
    <integer>-89</integer>
    <key>public.kern2.uni0443</key>
    <integer>-29</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-34</integer>
  </dict>
  <key>yucyr</key>
  <dict>
    <key>hacyr</key>
    <integer>-34</integer>
    <key>quotesingle</key>
    <integer>-34</integer>
    <key>public.kern2.T2</key>
    <integer>-85</integer>
  </dict>
  <key>zecyr</key>
  <dict>
    <key>question</key>
    <integer>-128</integer>
    <key>slash</key>
    <integer>-98</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>Checyr</key>
    <integer>-103</integer>
    <key>Djecyr</key>
    <integer>-196</integer>
    <key>Efcyr</key>
    <integer>-68</integer>
    <key>Jecyr</key>
    <integer>-29</integer>
    <key>question</key>
    <integer>-128</integer>
    <key>quotesingle</key>
    <integer>-82</integer>
    <key>tecyr</key>
    <integer>-124</integer>
    <key>public.kern2.C</key>
    <integer>-44</integer>
    <key>public.kern2.G</key>
    <integer>-44</integer>
    <key>public.kern2.O</key>
    <integer>-59</integer>
    <key>public.kern2.Oslash</key>
    <integer>-59</integer>
    <key>public.kern2.T2</key>
    <integer>-196</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-196</integer>
    <key>public.kern2.W2</key>
    <integer>-82</integer>
    <key>public.kern2.quoteright</key>
    <integer>-103</integer>
    <key>public.kern2.t</key>
    <integer>-47</integer>
    <key>public.kern2.uni0404</key>
    <integer>-44</integer>
    <key>public.kern2.uni040E</key>
    <integer>-79</integer>
    <key>public.kern2.uni041E</key>
    <integer>-44</integer>
    <key>public.kern2.uni0443</key>
    <integer>-83</integer>
    <key>public.kern2.v</key>
    <integer>-83</integer>
  </dict>
  <key>public.kern1.AE1</key>
  <dict>
    <key>public.kern2.t</key>
    <integer>-59</integer>
  </dict>
  <key>public.kern1.C1</key>
  <dict>
    <key>public.kern2.z</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>comma</key>
    <integer>-26</integer>
    <key>public.kern2.A2</key>
    <integer>-44</integer>
    <key>public.kern2.AE</key>
    <integer>-44</integer>
    <key>public.kern2.T2</key>
    <integer>-98</integer>
    <key>public.kern2.W2</key>
    <integer>-26</integer>
    <key>public.kern2.Z</key>
    <integer>-68</integer>
  </dict>
  <key>public.kern1.E</key>
  <dict>
    <key>public.kern2.t</key>
    <integer>-59</integer>
    <key>public.kern2.v</key>
    <integer>-59</integer>
  </dict>
  <key>public.kern1.G1</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-79</integer>
    <key>public.kern2.W2</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-44</integer>
    <key>public.kern2.G</key>
    <integer>-44</integer>
    <key>public.kern2.O</key>
    <integer>-44</integer>
    <key>public.kern2.Oslash</key>
    <integer>-44</integer>
    <key>public.kern2.a</key>
    <integer>-59</integer>
    <key>public.kern2.t</key>
    <integer>-88</integer>
    <key>public.kern2.v</key>
    <integer>-124</integer>
  </dict>
  <key>public.kern1.O1</key>
  <dict>
    <key>X</key>
    <integer>-26</integer>
    <key>public.kern2.A2</key>
    <integer>-44</integer>
    <key>public.kern2.T2</key>
    <integer>-49</integer>
    <key>public.kern2.Z</key>
    <integer>-59</integer>
  </dict>
  <key>public.kern1.Oslash1</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-26</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-88</integer>
    <key>public.kern2.W2</key>
    <integer>-44</integer>
  </dict>
  <key>public.kern1.S1</key>
  <dict>
    <key>x</key>
    <integer>-39</integer>
    <key>public.kern2.a</key>
    <integer>-47</integer>
    <key>public.kern2.quoteright</key>
    <integer>-29</integer>
    <key>public.kern2.t</key>
    <integer>-47</integer>
    <key>public.kern2.v</key>
    <integer>-65</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>A</key>
    <integer>-85</integer>
    <key>Acyr</key>
    <integer>-70</integer>
    <key>Yuslittlecyr</key>
    <integer>-70</integer>
    <key>colon</key>
    <integer>-125</integer>
    <key>comma</key>
    <integer>-82</integer>
    <key>lslash</key>
    <integer>-39</integer>
    <key>p</key>
    <integer>-103</integer>
    <key>period</key>
    <integer>-26</integer>
    <key>semicolon</key>
    <integer>-171</integer>
    <key>x</key>
    <integer>-192</integer>
    <key>public.kern2.A2</key>
    <integer>-196</integer>
    <key>public.kern2.AE</key>
    <integer>-196</integer>
    <key>public.kern2.C</key>
    <integer>-82</integer>
    <key>public.kern2.G</key>
    <integer>-82</integer>
    <key>public.kern2.J</key>
    <integer>-208</integer>
    <key>public.kern2.O</key>
    <integer>-82</integer>
    <key>public.kern2.Oslash</key>
    <integer>-69</integer>
    <key>public.kern2.S</key>
    <integer>-79</integer>
    <key>public.kern2.a</key>
    <integer>-146</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-82</integer>
    <key>public.kern2.i</key>
    <integer>-103</integer>
    <key>public.kern2.t</key>
    <integer>-79</integer>
    <key>public.kern2.v</key>
    <integer>-208</integer>
    <key>public.kern2.z</key>
    <integer>-198</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>A</key>
    <integer>-75</integer>
    <key>Acyr</key>
    <integer>-60</integer>
    <key>Yuslittlecyr</key>
    <integer>-60</integer>
    <key>colon</key>
    <integer>-59</integer>
    <key>comma</key>
    <integer>-82</integer>
    <key>p</key>
    <integer>-39</integer>
    <key>period</key>
    <integer>-26</integer>
    <key>semicolon</key>
    <integer>-118</integer>
    <key>x</key>
    <integer>-49</integer>
    <key>public.kern2.A2</key>
    <integer>-125</integer>
    <key>public.kern2.AE</key>
    <integer>-125</integer>
    <key>public.kern2.C</key>
    <integer>-44</integer>
    <key>public.kern2.G</key>
    <integer>-44</integer>
    <key>public.kern2.O</key>
    <integer>-44</integer>
    <key>public.kern2.Oslash</key>
    <integer>-44</integer>
    <key>public.kern2.S</key>
    <integer>-68</integer>
    <key>public.kern2.a</key>
    <integer>-98</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-26</integer>
    <key>public.kern2.i</key>
    <integer>-39</integer>
    <key>public.kern2.t</key>
    <integer>-39</integer>
    <key>public.kern2.v</key>
    <integer>-49</integer>
    <key>public.kern2.z</key>
    <integer>-59</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>A</key>
    <integer>-40</integer>
    <key>Acyr</key>
    <integer>-35</integer>
    <key>Yuslittlecyr</key>
    <integer>-35</integer>
    <key>colon</key>
    <integer>-26</integer>
    <key>comma</key>
    <integer>-44</integer>
    <key>semicolon</key>
    <integer>-82</integer>
    <key>x</key>
    <integer>-29</integer>
    <key>public.kern2.A2</key>
    <integer>-82</integer>
    <key>public.kern2.S</key>
    <integer>-49</integer>
    <key>public.kern2.a</key>
    <integer>-47</integer>
    <key>public.kern2.v</key>
    <integer>-29</integer>
    <key>public.kern2.z</key>
    <integer>-39</integer>
  </dict>
  <key>public.kern1.Z1</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-59</integer>
    <key>public.kern2.G</key>
    <integer>-49</integer>
    <key>public.kern2.O</key>
    <integer>-59</integer>
    <key>public.kern2.t</key>
    <integer>-49</integer>
    <key>public.kern2.v</key>
    <integer>-69</integer>
  </dict>
  <key>public.kern1.e1</key>
  <dict>
    <key>x</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.endash1</key>
  <dict>
    <key>Ereversedcyr</key>
    <integer>-82</integer>
    <key>Jecyr</key>
    <integer>-63</integer>
    <key>Zecyr</key>
    <integer>-44</integer>
  </dict>
  <key>public.kern1.f</key>
  <dict>
    <key>comma</key>
    <integer>-50</integer>
    <key>question</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.g1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-39</integer>
  </dict>
  <key>public.kern1.guillemotleft</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-63</integer>
    <key>public.kern2.T2</key>
    <integer>-103</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-103</integer>
    <key>public.kern2.uni040E</key>
    <integer>-26</integer>
  </dict>
  <key>public.kern1.i1</key>
  <dict>
    <key>public.kern2.uni0432</key>
    <integer>60</integer>
  </dict>
  <key>public.kern1.k</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.l1</key>
  <dict>
    <key>public.kern2.t</key>
    <integer>-34</integer>
    <key>public.kern2.v</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.o1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-67</integer>
    <key>public.kern2.v</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.oslash1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-67</integer>
    <key>public.kern2.v</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.quotedblbase1</key>
  <dict>
    <key>Checyr</key>
    <integer>-196</integer>
    <key>Efcyr</key>
    <integer>-63</integer>
    <key>Hardcyr</key>
    <integer>-26</integer>
    <key>checyr</key>
    <integer>-166</integer>
    <key>hardcyr</key>
    <integer>-34</integer>
    <key>tecyr</key>
    <integer>-50</integer>
    <key>public.kern2.T2</key>
    <integer>-63</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-63</integer>
    <key>public.kern2.W2</key>
    <integer>-26</integer>
    <key>public.kern2.uni0443</key>
    <integer>-67</integer>
    <key>public.kern2.v</key>
    <integer>-67</integer>
  </dict>
  <key>public.kern1.quoteleft1</key>
  <dict>
    <key>Decyr</key>
    <integer>-44</integer>
    <key>Jecyr</key>
    <integer>-248</integer>
    <key>decyr</key>
    <integer>-34</integer>
    <key>efcyr</key>
    <integer>-34</integer>
    <key>public.kern2.A2</key>
    <integer>-103</integer>
    <key>public.kern2.J</key>
    <integer>-248</integer>
    <key>public.kern2.uni0409</key>
    <integer>-44</integer>
    <key>public.kern2.uni043B</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>comma</key>
    <integer>-124</integer>
    <key>period</key>
    <integer>-67</integer>
    <key>public.kern2.a</key>
    <integer>-59</integer>
    <key>public.kern2.endash</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.uni04001</key>
  <dict>
    <key>tecyr</key>
    <integer>-148</integer>
  </dict>
  <key>public.kern1.uni0403</key>
  <dict>
    <key>Decyr</key>
    <integer>-128</integer>
    <key>acyr</key>
    <integer>-269</integer>
    <key>colon</key>
    <integer>-196</integer>
    <key>comma</key>
    <integer>-125</integer>
    <key>decyr</key>
    <integer>-269</integer>
    <key>ercyr</key>
    <integer>-192</integer>
    <key>hardcyr</key>
    <integer>-277</integer>
    <key>period</key>
    <integer>-63</integer>
    <key>semicolon</key>
    <integer>-248</integer>
    <key>slash</key>
    <integer>-297</integer>
    <key>public.kern2.A2</key>
    <integer>-208</integer>
    <key>public.kern2.endash</key>
    <integer>-26</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-148</integer>
    <key>public.kern2.uni0409</key>
    <integer>-128</integer>
    <key>public.kern2.uni041E</key>
    <integer>-69</integer>
    <key>public.kern2.uni0432</key>
    <integer>-192</integer>
    <key>public.kern2.uni0435</key>
    <integer>-217</integer>
    <key>public.kern2.uni043B</key>
    <integer>-277</integer>
    <key>public.kern2.uni043E</key>
    <integer>-242</integer>
    <key>public.kern2.uni0443</key>
    <integer>-286</integer>
  </dict>
  <key>public.kern1.uni040C</key>
  <dict>
    <key>hardcyr</key>
    <integer>-103</integer>
    <key>question</key>
    <integer>-79</integer>
    <key>tecyr</key>
    <integer>-124</integer>
    <key>public.kern2.uni0443</key>
    <integer>-83</integer>
  </dict>
  <key>public.kern1.uni040E1</key>
  <dict>
    <key>Decyr</key>
    <integer>-125</integer>
    <key>Efcyr</key>
    <integer>-88</integer>
    <key>Jecyr</key>
    <integer>-188</integer>
    <key>Yacyr</key>
    <integer>-79</integer>
    <key>becyr</key>
    <integer>-59</integer>
    <key>checyr</key>
    <integer>-49</integer>
    <key>colon</key>
    <integer>-69</integer>
    <key>comma</key>
    <integer>-103</integer>
    <key>decyr</key>
    <integer>-169</integer>
    <key>ercyr</key>
    <integer>-49</integer>
    <key>hacyr</key>
    <integer>-59</integer>
    <key>period</key>
    <integer>-63</integer>
    <key>semicolon</key>
    <integer>-128</integer>
    <key>slash</key>
    <integer>-222</integer>
    <key>tecyr</key>
    <integer>-49</integer>
    <key>yacyr</key>
    <integer>-108</integer>
    <key>zecyr</key>
    <integer>-98</integer>
    <key>public.kern2.A2</key>
    <integer>-148</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-63</integer>
    <key>public.kern2.uni0404</key>
    <integer>-63</integer>
    <key>public.kern2.uni0409</key>
    <integer>-125</integer>
    <key>public.kern2.uni041E</key>
    <integer>-63</integer>
    <key>public.kern2.uni0432</key>
    <integer>-49</integer>
    <key>public.kern2.uni043B</key>
    <integer>-169</integer>
    <key>public.kern2.uni043E</key>
    <integer>-103</integer>
    <key>public.kern2.uni0441</key>
    <integer>-103</integer>
  </dict>
  <key>public.kern1.uni041E1</key>
  <dict>
    <key>Decyr</key>
    <integer>-26</integer>
    <key>Djecyr</key>
    <integer>-49</integer>
    <key>Hacyr</key>
    <integer>-26</integer>
    <key>Zhecyr</key>
    <integer>-26</integer>
    <key>slash</key>
    <integer>-125</integer>
    <key>public.kern2.A2</key>
    <integer>-44</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-49</integer>
    <key>public.kern2.uni0409</key>
    <integer>-26</integer>
    <key>public.kern2.uni040E</key>
    <integer>-26</integer>
  </dict>
  <key>public.kern1.uni04261</key>
  <dict>
    <key>public.kern2.Tecyr</key>
    <integer>-39</integer>
    <key>public.kern2.uni040E</key>
    <integer>-44</integer>
    <key>public.kern2.uni0443</key>
    <integer>-47</integer>
  </dict>
  <key>public.kern1.uni042A</key>
  <dict>
    <key>Hacyr</key>
    <integer>-59</integer>
    <key>Zhecyr</key>
    <integer>-29</integer>
    <key>quotesingle</key>
    <integer>-196</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-208</integer>
    <key>public.kern2.quoteright</key>
    <integer>-222</integer>
  </dict>
  <key>public.kern1.uni0433</key>
  <dict>
    <key>comma</key>
    <integer>-104</integer>
    <key>decyr</key>
    <integer>-99</integer>
    <key>period</key>
    <integer>-50</integer>
    <key>slash</key>
    <integer>-237</integer>
    <key>public.kern2.uni0435</key>
    <integer>-39</integer>
    <key>public.kern2.uni043B</key>
    <integer>-99</integer>
    <key>public.kern2.uni043E</key>
    <integer>-39</integer>
  </dict>
  <key>public.kern1.uni043E1</key>
  <dict>
    <key>public.kern2.uni043B</key>
    <integer>-34</integer>
    <key>public.kern2.uni0443</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.uni04431</key>
  <dict>
    <key>comma</key>
    <integer>-67</integer>
    <key>decyr</key>
    <integer>-85</integer>
    <key>efcyr</key>
    <integer>-34</integer>
    <key>slash</key>
    <integer>-189</integer>
    <key>public.kern2.uni0435</key>
    <integer>-34</integer>
    <key>public.kern2.uni043B</key>
    <integer>-85</integer>
    <key>public.kern2.uni043E</key>
    <integer>-29</integer>
    <key>public.kern2.uni0441</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.uni0446</key>
  <dict>
    <key>tecyr</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.uni044A</key>
  <dict>
    <key>hacyr</key>
    <integer>-39</integer>
    <key>question</key>
    <integer>-138</integer>
    <key>quotesingle</key>
    <integer>-189</integer>
    <key>tecyr</key>
    <integer>-148</integer>
    <key>public.kern2.T2</key>
    <integer>-85</integer>
    <key>public.kern2.quoteright</key>
    <integer>-189</integer>
  </dict>
  <key>public.kern1.uni0467</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1.w1</key>
  <dict>
    <key>comma</key>
    <integer>-50</integer>
  </dict>
  <key>public.kern1.y1</key>
  <dict>
    <key>comma</key>
    <integer>-67</integer>
    <key>lslash</key>
    <integer>-34</integer>
  </dict>
</dict>
</plist>
