<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-85</integer>
    <key>public.kern2.W2</key>
    <integer>-40</integer>
    <key>public.kern2.quoteright</key>
    <integer>-85</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-27</integer>
  </dict>
  <key>Becyr</key>
  <dict>
    <key>Hacyr</key>
    <integer>-20</integer>
    <key>Hardcyr</key>
    <integer>-20</integer>
    <key>hardcyr</key>
    <integer>-41</integer>
    <key>question</key>
    <integer>-32</integer>
    <key>quotesingle</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>-39</integer>
    <key>public.kern2.uni040E</key>
    <integer>-24</integer>
    <key>public.kern2.uni0443</key>
    <integer>-24</integer>
  </dict>
  <key>Decyr</key>
  <dict>
    <key>Checyr</key>
    <integer>-10</integer>
    <key>Hardcyr</key>
    <integer>-16</integer>
    <key>hardcyr</key>
    <integer>-16</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-16</integer>
    <key>public.kern2.uni040E</key>
    <integer>-18</integer>
    <key>public.kern2.uni0443</key>
    <integer>-19</integer>
  </dict>
  <key>Djecyr</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-41</integer>
  </dict>
  <key>Efcyr</key>
  <dict>
    <key>Yacyr</key>
    <integer>-12</integer>
    <key>comma</key>
    <integer>-33</integer>
    <key>period</key>
    <integer>-18</integer>
    <key>slash</key>
    <integer>-63</integer>
    <key>public.kern2.A2</key>
    <integer>-28</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-48</integer>
    <key>public.kern2.uni0409</key>
    <integer>-25</integer>
    <key>public.kern2.uni040E</key>
    <integer>-25</integer>
    <key>public.kern2.uni043B</key>
    <integer>-19</integer>
  </dict>
  <key>Ercyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-51</integer>
    <key>Hacyr</key>
    <integer>-20</integer>
    <key>Zhecyr</key>
    <integer>-35</integer>
    <key>comma</key>
    <integer>-59</integer>
    <key>period</key>
    <integer>-33</integer>
    <key>slash</key>
    <integer>-91</integer>
    <key>public.kern2.A2</key>
    <integer>-55</integer>
    <key>public.kern2.uni0409</key>
    <integer>-44</integer>
    <key>public.kern2.uni040E</key>
    <integer>-12</integer>
  </dict>
  <key>Escyr</key>
  <dict>
    <key>public.kern2.endash</key>
    <integer>-59</integer>
  </dict>
  <key>Eukrcyr</key>
  <dict>
    <key>public.kern2.endash</key>
    <integer>-33</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-65</integer>
    <key>comma</key>
    <integer>-68</integer>
    <key>period</key>
    <integer>-41</integer>
    <key>semicolon</key>
    <integer>-27</integer>
    <key>x</key>
    <integer>-39</integer>
    <key>public.kern2.A2</key>
    <integer>-51</integer>
    <key>public.kern2.AE</key>
    <integer>-51</integer>
    <key>public.kern2.J</key>
    <integer>-131</integer>
  </dict>
  <key>Hacyr</key>
  <dict>
    <key>hardcyr</key>
    <integer>-36</integer>
    <key>tecyr</key>
    <integer>-36</integer>
    <key>public.kern2.uni041E</key>
    <integer>-10</integer>
    <key>public.kern2.uni0435</key>
    <integer>-19</integer>
    <key>public.kern2.uni043E</key>
    <integer>-19</integer>
    <key>public.kern2.uni0443</key>
    <integer>-39</integer>
  </dict>
  <key>Jecyr</key>
  <dict>
    <key>slash</key>
    <integer>-33</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-85</integer>
    <key>public.kern2.W2</key>
    <integer>-40</integer>
    <key>public.kern2.quoteright</key>
    <integer>-85</integer>
  </dict>
  <key>Ljecyr</key>
  <dict>
    <key>quotesingle</key>
    <integer>-78</integer>
    <key>public.kern2.quoteright</key>
    <integer>-89</integer>
    <key>public.kern2.uni040E</key>
    <integer>-51</integer>
    <key>public.kern2.uni0443</key>
    <integer>-28</integer>
  </dict>
  <key>Lslash</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-24</integer>
    <key>public.kern2.O</key>
    <integer>-24</integer>
    <key>public.kern2.T2</key>
    <integer>-87</integer>
  </dict>
  <key>Njecyr</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-51</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>comma</key>
    <integer>-59</integer>
    <key>period</key>
    <integer>-33</integer>
    <key>public.kern2.A2</key>
    <integer>-55</integer>
    <key>public.kern2.T2</key>
    <integer>-20</integer>
    <key>public.kern2.Z</key>
    <integer>-12</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-32</integer>
  </dict>
  <key>Tecyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-51</integer>
    <key>Yacyr</key>
    <integer>-24</integer>
    <key>acyr</key>
    <integer>-77</integer>
    <key>colon</key>
    <integer>-50</integer>
    <key>comma</key>
    <integer>-33</integer>
    <key>ercyr</key>
    <integer>-41</integer>
    <key>hardcyr</key>
    <integer>-79</integer>
    <key>period</key>
    <integer>-10</integer>
    <key>semicolon</key>
    <integer>-68</integer>
    <key>slash</key>
    <integer>-110</integer>
    <key>yacyr</key>
    <integer>-68</integer>
    <key>public.kern2.A2</key>
    <integer>-78</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-33</integer>
    <key>public.kern2.uni0404</key>
    <integer>-28</integer>
    <key>public.kern2.uni0409</key>
    <integer>-51</integer>
    <key>public.kern2.uni041E</key>
    <integer>-28</integer>
    <key>public.kern2.uni0432</key>
    <integer>-41</integer>
    <key>public.kern2.uni0435</key>
    <integer>-58</integer>
    <key>public.kern2.uni043B</key>
    <integer>-79</integer>
    <key>public.kern2.uni043E</key>
    <integer>-58</integer>
    <key>public.kern2.uni0443</key>
    <integer>-83</integer>
  </dict>
  <key>Tshecyr</key>
  <dict>
    <key>question</key>
    <integer>-51</integer>
    <key>quotesingle</key>
    <integer>-59</integer>
    <key>public.kern2.quoteright</key>
    <integer>-32</integer>
    <key>public.kern2.uni040E</key>
    <integer>-32</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>A</key>
    <integer>-75</integer>
    <key>colon</key>
    <integer>-59</integer>
    <key>comma</key>
    <integer>-82</integer>
    <key>p</key>
    <integer>-16</integer>
    <key>period</key>
    <integer>-26</integer>
    <key>semicolon</key>
    <integer>-118</integer>
    <key>x</key>
    <integer>-20</integer>
  </dict>
  <key>Vecyr</key>
  <dict>
    <key>Hacyr</key>
    <integer>-10</integer>
    <key>public.kern2.uni040E</key>
    <integer>-10</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-10</integer>
    <key>public.kern2.O</key>
    <integer>-10</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>v</key>
    <integer>-44</integer>
    <key>w</key>
    <integer>-46</integer>
    <key>y</key>
    <integer>-44</integer>
  </dict>
  <key>Yacute</key>
  <dict>
    <key>v</key>
    <integer>-44</integer>
    <key>w</key>
    <integer>-46</integer>
    <key>y</key>
    <integer>-44</integer>
  </dict>
  <key>Ydieresis</key>
  <dict>
    <key>v</key>
    <integer>-44</integer>
    <key>w</key>
    <integer>-46</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-14</integer>
  </dict>
  <key>becyr</key>
  <dict>
    <key>hacyr</key>
    <integer>-20</integer>
    <key>hardcyr</key>
    <integer>-36</integer>
    <key>public.kern2.quoteright</key>
    <integer>-28</integer>
    <key>public.kern2.uni043B</key>
    <integer>-20</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
  </dict>
  <key>colon</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-33</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-50</integer>
  </dict>
  <key>comma</key>
  <dict>
    <key>Checyr</key>
    <integer>-68</integer>
    <key>Efcyr</key>
    <integer>-25</integer>
    <key>Hardcyr</key>
    <integer>-10</integer>
    <key>checyr</key>
    <integer>-66</integer>
    <key>tecyr</key>
    <integer>-20</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-18</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
  </dict>
  <key>efcyr</key>
  <dict>
    <key>quotesingle</key>
    <integer>-14</integer>
    <key>tecyr</key>
    <integer>-12</integer>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
    <key>public.kern2.uni043B</key>
    <integer>-14</integer>
    <key>public.kern2.uni0443</key>
    <integer>-14</integer>
  </dict>
  <key>ercyr</key>
  <dict>
    <key>hacyr</key>
    <integer>-14</integer>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
    <key>public.kern2.uni043B</key>
    <integer>-14</integer>
    <key>public.kern2.uni0443</key>
    <integer>-14</integer>
  </dict>
  <key>hacyr</key>
  <dict>
    <key>public.kern2.uni0435</key>
    <integer>-14</integer>
    <key>public.kern2.uni043E</key>
    <integer>-14</integer>
  </dict>
  <key>ljecyr</key>
  <dict>
    <key>question</key>
    <integer>-51</integer>
    <key>quotesingle</key>
    <integer>-76</integer>
    <key>public.kern2.quoteright</key>
    <integer>-76</integer>
    <key>public.kern2.uni0443</key>
    <integer>-28</integer>
  </dict>
  <key>njecyr</key>
  <dict>
    <key>public.kern2.uni0443</key>
    <integer>-32</integer>
  </dict>
  <key>ocyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-14</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>checyr</key>
    <integer>-28</integer>
    <key>hardcyr</key>
    <integer>-28</integer>
    <key>tecyr</key>
    <integer>-28</integer>
    <key>public.kern2.J</key>
    <integer>-24</integer>
    <key>public.kern2.a</key>
    <integer>-40</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>Checyr</key>
    <integer>-59</integer>
    <key>Efcyr</key>
    <integer>-18</integer>
    <key>checyr</key>
    <integer>-50</integer>
    <key>public.kern2.T2</key>
    <integer>-10</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-10</integer>
    <key>public.kern2.uni0443</key>
    <integer>-14</integer>
  </dict>
  <key>question</key>
  <dict>
    <key>Jecyr</key>
    <integer>-59</integer>
    <key>Zhecyr</key>
    <integer>-32</integer>
    <key>public.kern2.A2</key>
    <integer>-50</integer>
    <key>public.kern2.uni0409</key>
    <integer>-41</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-110</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-110</integer>
    <key>public.kern2.uni0404</key>
    <integer>-41</integer>
    <key>public.kern2.uni041E</key>
    <integer>-41</integer>
    <key>public.kern2.uni0435</key>
    <integer>-56</integer>
    <key>public.kern2.uni043E</key>
    <integer>-58</integer>
    <key>public.kern2.uni0441</key>
    <integer>-58</integer>
    <key>public.kern2.uni0443</key>
    <integer>-51</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-85</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-30</integer>
    <key>public.kern2.g.ss01</key>
    <integer>-30</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>Decyr</key>
    <integer>-10</integer>
    <key>Jecyr</key>
    <integer>-89</integer>
    <key>decyr</key>
    <integer>-14</integer>
    <key>efcyr</key>
    <integer>-20</integer>
    <key>public.kern2.A2</key>
    <integer>-33</integer>
    <key>public.kern2.uni0435</key>
    <integer>-14</integer>
    <key>public.kern2.uni043B</key>
    <integer>-14</integer>
    <key>public.kern2.uni043E</key>
    <integer>-14</integer>
    <key>public.kern2.uni0441</key>
    <integer>-14</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>f</key>
    <integer>-10</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.g.ss01</key>
    <integer>-8</integer>
  </dict>
  <key>semicolon</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-50</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-59</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>Decyr</key>
    <integer>-50</integer>
    <key>Jecyr</key>
    <integer>-75</integer>
    <key>acyr</key>
    <integer>-47</integer>
    <key>becyr</key>
    <integer>-32</integer>
    <key>decyr</key>
    <integer>-75</integer>
    <key>efcyr</key>
    <integer>-55</integer>
    <key>ercyr</key>
    <integer>-24</integer>
    <key>ereversedcyr</key>
    <integer>-43</integer>
    <key>shchacyr</key>
    <integer>-24</integer>
    <key>tsecyr</key>
    <integer>-24</integer>
    <key>yacyr</key>
    <integer>-47</integer>
    <key>zecyr</key>
    <integer>-43</integer>
    <key>zhecyr</key>
    <integer>-39</integer>
    <key>public.kern2.A2</key>
    <integer>-59</integer>
    <key>public.kern2.uni0409</key>
    <integer>-50</integer>
    <key>public.kern2.uni0432</key>
    <integer>-24</integer>
    <key>public.kern2.uni0435</key>
    <integer>-50</integer>
    <key>public.kern2.uni043B</key>
    <integer>-75</integer>
    <key>public.kern2.uni043E</key>
    <integer>-50</integer>
    <key>public.kern2.uni0441</key>
    <integer>-50</integer>
    <key>public.kern2.yucyr</key>
    <integer>-24</integer>
  </dict>
  <key>tecyr</key>
  <dict>
    <key>comma</key>
    <integer>-27</integer>
    <key>decyr</key>
    <integer>-40</integer>
    <key>slash</key>
    <integer>-91</integer>
    <key>public.kern2.uni0435</key>
    <integer>-16</integer>
    <key>public.kern2.uni043B</key>
    <integer>-40</integer>
    <key>public.kern2.uni043E</key>
    <integer>-16</integer>
    <key>public.kern2.uni0441</key>
    <integer>-16</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>comma</key>
    <integer>-27</integer>
    <key>public.kern2.a</key>
    <integer>-12</integer>
  </dict>
  <key>vecyr</key>
  <dict>
    <key>question</key>
    <integer>-51</integer>
    <key>slash</key>
    <integer>-36</integer>
    <key>public.kern2.uni0443</key>
    <integer>-12</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-14</integer>
  </dict>
  <key>yucyr</key>
  <dict>
    <key>hacyr</key>
    <integer>-14</integer>
    <key>quotesingle</key>
    <integer>-14</integer>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
  </dict>
  <key>zecyr</key>
  <dict>
    <key>question</key>
    <integer>-51</integer>
    <key>slash</key>
    <integer>-39</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>Checyr</key>
    <integer>-41</integer>
    <key>Djecyr</key>
    <integer>-78</integer>
    <key>Efcyr</key>
    <integer>-27</integer>
    <key>Jecyr</key>
    <integer>-12</integer>
    <key>question</key>
    <integer>-51</integer>
    <key>quotesingle</key>
    <integer>-33</integer>
    <key>tecyr</key>
    <integer>-50</integer>
    <key>public.kern2.C</key>
    <integer>-18</integer>
    <key>public.kern2.G</key>
    <integer>-18</integer>
    <key>public.kern2.O</key>
    <integer>-24</integer>
    <key>public.kern2.Oslash</key>
    <integer>-24</integer>
    <key>public.kern2.T2</key>
    <integer>-78</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-78</integer>
    <key>public.kern2.W2</key>
    <integer>-33</integer>
    <key>public.kern2.quoteright</key>
    <integer>-41</integer>
    <key>public.kern2.uni0404</key>
    <integer>-18</integer>
    <key>public.kern2.uni040E</key>
    <integer>-32</integer>
    <key>public.kern2.uni041E</key>
    <integer>-18</integer>
    <key>public.kern2.uni0443</key>
    <integer>-33</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>comma</key>
    <integer>-10</integer>
    <key>public.kern2.A2</key>
    <integer>-18</integer>
    <key>public.kern2.AE</key>
    <integer>-18</integer>
    <key>public.kern2.T2</key>
    <integer>-39</integer>
    <key>public.kern2.W2</key>
    <integer>-10</integer>
    <key>public.kern2.Z</key>
    <integer>-27</integer>
  </dict>
  <key>public.kern1.G1</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-32</integer>
    <key>public.kern2.W2</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-18</integer>
    <key>public.kern2.G</key>
    <integer>-18</integer>
    <key>public.kern2.O</key>
    <integer>-18</integer>
    <key>public.kern2.Oslash</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.O1</key>
  <dict>
    <key>X</key>
    <integer>-10</integer>
    <key>public.kern2.A2</key>
    <integer>-18</integer>
    <key>public.kern2.T2</key>
    <integer>-20</integer>
    <key>public.kern2.Z</key>
    <integer>-24</integer>
  </dict>
  <key>public.kern1.Oslash1</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-35</integer>
    <key>public.kern2.W2</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.S1</key>
  <dict>
    <key>public.kern2.quoteright</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>A</key>
    <integer>-85</integer>
    <key>colon</key>
    <integer>-50</integer>
    <key>comma</key>
    <integer>-33</integer>
    <key>period</key>
    <integer>-10</integer>
    <key>semicolon</key>
    <integer>-68</integer>
    <key>public.kern2.A2</key>
    <integer>-78</integer>
    <key>public.kern2.AE</key>
    <integer>-78</integer>
    <key>public.kern2.C</key>
    <integer>-33</integer>
    <key>public.kern2.G</key>
    <integer>-33</integer>
    <key>public.kern2.J</key>
    <integer>-83</integer>
    <key>public.kern2.O</key>
    <integer>-33</integer>
    <key>public.kern2.Oslash</key>
    <integer>-28</integer>
    <key>public.kern2.S</key>
    <integer>-32</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-33</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>colon</key>
    <integer>-24</integer>
    <key>comma</key>
    <integer>-33</integer>
    <key>period</key>
    <integer>-10</integer>
    <key>semicolon</key>
    <integer>-47</integer>
    <key>public.kern2.A2</key>
    <integer>-50</integer>
    <key>public.kern2.AE</key>
    <integer>-50</integer>
    <key>public.kern2.C</key>
    <integer>-18</integer>
    <key>public.kern2.G</key>
    <integer>-18</integer>
    <key>public.kern2.O</key>
    <integer>-18</integer>
    <key>public.kern2.Oslash</key>
    <integer>-18</integer>
    <key>public.kern2.S</key>
    <integer>-27</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>A</key>
    <integer>-40</integer>
    <key>colon</key>
    <integer>-10</integer>
    <key>comma</key>
    <integer>-18</integer>
    <key>semicolon</key>
    <integer>-33</integer>
    <key>public.kern2.A2</key>
    <integer>-33</integer>
    <key>public.kern2.S</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.Z1</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-24</integer>
    <key>public.kern2.G</key>
    <integer>-20</integer>
    <key>public.kern2.O</key>
    <integer>-24</integer>
  </dict>
  <key>public.kern1.e1</key>
  <dict>
    <key>x</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.endash1</key>
  <dict>
    <key>Ereversedcyr</key>
    <integer>-33</integer>
    <key>Jecyr</key>
    <integer>-25</integer>
    <key>Zecyr</key>
    <integer>-18</integer>
  </dict>
  <key>public.kern1.f</key>
  <dict>
    <key>comma</key>
    <integer>-20</integer>
    <key>question</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.g1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-16</integer>
  </dict>
  <key>public.kern1.guillemotleft</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-25</integer>
    <key>public.kern2.T2</key>
    <integer>-41</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-41</integer>
    <key>public.kern2.uni040E</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.i1</key>
  <dict>
    <key>public.kern2.uni0432</key>
    <integer>60</integer>
  </dict>
  <key>public.kern1.k</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.l1</key>
  <dict>
    <key>public.kern2.t</key>
    <integer>-14</integer>
    <key>public.kern2.v</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.o1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-27</integer>
    <key>public.kern2.v</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.oslash1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-27</integer>
    <key>public.kern2.v</key>
    <integer>-14</integer>
  </dict>
  <key>public.kern1.quotedblbase1</key>
  <dict>
    <key>Checyr</key>
    <integer>-78</integer>
    <key>Efcyr</key>
    <integer>-25</integer>
    <key>Hardcyr</key>
    <integer>-10</integer>
    <key>checyr</key>
    <integer>-66</integer>
    <key>hardcyr</key>
    <integer>-14</integer>
    <key>tecyr</key>
    <integer>-20</integer>
    <key>public.kern2.T2</key>
    <integer>-25</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-25</integer>
    <key>public.kern2.W2</key>
    <integer>-10</integer>
    <key>public.kern2.uni0443</key>
    <integer>-27</integer>
    <key>public.kern2.v</key>
    <integer>-27</integer>
  </dict>
  <key>public.kern1.quoteleft1</key>
  <dict>
    <key>Decyr</key>
    <integer>-18</integer>
    <key>Jecyr</key>
    <integer>-99</integer>
    <key>decyr</key>
    <integer>-14</integer>
    <key>efcyr</key>
    <integer>-14</integer>
    <key>public.kern2.A2</key>
    <integer>-41</integer>
    <key>public.kern2.J</key>
    <integer>-99</integer>
    <key>public.kern2.uni0409</key>
    <integer>-18</integer>
    <key>public.kern2.uni043B</key>
    <integer>-14</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>comma</key>
    <integer>-50</integer>
    <key>period</key>
    <integer>-27</integer>
    <key>public.kern2.a</key>
    <integer>-24</integer>
    <key>public.kern2.endash</key>
    <integer>-14</integer>
  </dict>
  <key>public.kern1.uni04001</key>
  <dict>
    <key>tecyr</key>
    <integer>-59</integer>
  </dict>
  <key>public.kern1.uni0403</key>
  <dict>
    <key>Decyr</key>
    <integer>-51</integer>
    <key>acyr</key>
    <integer>-108</integer>
    <key>colon</key>
    <integer>-78</integer>
    <key>comma</key>
    <integer>-50</integer>
    <key>decyr</key>
    <integer>-108</integer>
    <key>ercyr</key>
    <integer>-77</integer>
    <key>hardcyr</key>
    <integer>-111</integer>
    <key>period</key>
    <integer>-25</integer>
    <key>semicolon</key>
    <integer>-99</integer>
    <key>slash</key>
    <integer>-119</integer>
    <key>public.kern2.A2</key>
    <integer>-83</integer>
    <key>public.kern2.endash</key>
    <integer>-10</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-59</integer>
    <key>public.kern2.uni0409</key>
    <integer>-51</integer>
    <key>public.kern2.uni041E</key>
    <integer>-28</integer>
    <key>public.kern2.uni0432</key>
    <integer>-77</integer>
    <key>public.kern2.uni0435</key>
    <integer>-87</integer>
    <key>public.kern2.uni043B</key>
    <integer>-111</integer>
    <key>public.kern2.uni043E</key>
    <integer>-97</integer>
    <key>public.kern2.uni0443</key>
    <integer>-114</integer>
  </dict>
  <key>public.kern1.uni040C</key>
  <dict>
    <key>hardcyr</key>
    <integer>-41</integer>
    <key>question</key>
    <integer>-32</integer>
    <key>tecyr</key>
    <integer>-50</integer>
    <key>public.kern2.uni0443</key>
    <integer>-33</integer>
  </dict>
  <key>public.kern1.uni040E1</key>
  <dict>
    <key>Decyr</key>
    <integer>-50</integer>
    <key>Efcyr</key>
    <integer>-35</integer>
    <key>Jecyr</key>
    <integer>-75</integer>
    <key>Yacyr</key>
    <integer>-32</integer>
    <key>becyr</key>
    <integer>-24</integer>
    <key>checyr</key>
    <integer>-20</integer>
    <key>colon</key>
    <integer>-28</integer>
    <key>comma</key>
    <integer>-41</integer>
    <key>decyr</key>
    <integer>-68</integer>
    <key>ercyr</key>
    <integer>-20</integer>
    <key>hacyr</key>
    <integer>-24</integer>
    <key>period</key>
    <integer>-25</integer>
    <key>semicolon</key>
    <integer>-51</integer>
    <key>slash</key>
    <integer>-89</integer>
    <key>tecyr</key>
    <integer>-20</integer>
    <key>yacyr</key>
    <integer>-43</integer>
    <key>zecyr</key>
    <integer>-39</integer>
    <key>public.kern2.A2</key>
    <integer>-59</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-25</integer>
    <key>public.kern2.uni0404</key>
    <integer>-25</integer>
    <key>public.kern2.uni0409</key>
    <integer>-50</integer>
    <key>public.kern2.uni041E</key>
    <integer>-25</integer>
    <key>public.kern2.uni0432</key>
    <integer>-20</integer>
    <key>public.kern2.uni043B</key>
    <integer>-68</integer>
    <key>public.kern2.uni043E</key>
    <integer>-41</integer>
    <key>public.kern2.uni0441</key>
    <integer>-41</integer>
  </dict>
  <key>public.kern1.uni041E1</key>
  <dict>
    <key>Decyr</key>
    <integer>-10</integer>
    <key>Djecyr</key>
    <integer>-20</integer>
    <key>Hacyr</key>
    <integer>-10</integer>
    <key>Zhecyr</key>
    <integer>-10</integer>
    <key>slash</key>
    <integer>-50</integer>
    <key>public.kern2.A2</key>
    <integer>-18</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-20</integer>
    <key>public.kern2.uni0409</key>
    <integer>-10</integer>
    <key>public.kern2.uni040E</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.uni04261</key>
  <dict>
    <key>public.kern2.Tecyr</key>
    <integer>-16</integer>
    <key>public.kern2.uni040E</key>
    <integer>-18</integer>
    <key>public.kern2.uni0443</key>
    <integer>-19</integer>
  </dict>
  <key>public.kern1.uni042A</key>
  <dict>
    <key>Hacyr</key>
    <integer>-24</integer>
    <key>Zhecyr</key>
    <integer>-12</integer>
    <key>quotesingle</key>
    <integer>-78</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-83</integer>
    <key>public.kern2.quoteright</key>
    <integer>-89</integer>
  </dict>
  <key>public.kern1.uni0433</key>
  <dict>
    <key>comma</key>
    <integer>-42</integer>
    <key>decyr</key>
    <integer>-40</integer>
    <key>period</key>
    <integer>-20</integer>
    <key>slash</key>
    <integer>-95</integer>
    <key>public.kern2.uni0435</key>
    <integer>-16</integer>
    <key>public.kern2.uni043B</key>
    <integer>-40</integer>
    <key>public.kern2.uni043E</key>
    <integer>-16</integer>
  </dict>
  <key>public.kern1.uni043E1</key>
  <dict>
    <key>public.kern2.uni043B</key>
    <integer>-14</integer>
    <key>public.kern2.uni0443</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.uni04431</key>
  <dict>
    <key>comma</key>
    <integer>-27</integer>
    <key>decyr</key>
    <integer>-34</integer>
    <key>efcyr</key>
    <integer>-14</integer>
    <key>slash</key>
    <integer>-76</integer>
    <key>public.kern2.uni0435</key>
    <integer>-14</integer>
    <key>public.kern2.uni043B</key>
    <integer>-34</integer>
    <key>public.kern2.uni043E</key>
    <integer>-12</integer>
    <key>public.kern2.uni0441</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.uni0446</key>
  <dict>
    <key>tecyr</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uni044A</key>
  <dict>
    <key>hacyr</key>
    <integer>-16</integer>
    <key>question</key>
    <integer>-55</integer>
    <key>quotesingle</key>
    <integer>-76</integer>
    <key>tecyr</key>
    <integer>-59</integer>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
    <key>public.kern2.quoteright</key>
    <integer>-76</integer>
  </dict>
  <key>public.kern1.uni0467</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.w1</key>
  <dict>
    <key>comma</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.y1</key>
  <dict>
    <key>comma</key>
    <integer>-27</integer>
    <key>lslash</key>
    <integer>-14</integer>
  </dict>
</dict>
</plist>
