<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-168</integer>
    <key>public.kern2.W2</key>
    <integer>-84</integer>
    <key>public.kern2.quoteright</key>
    <integer>-168</integer>
  </dict>
  <key>Acyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-140</integer>
    <key>public.kern2.W2</key>
    <integer>-70</integer>
    <key>public.kern2.quoteright</key>
    <integer>-140</integer>
  </dict>
  <key>Alpha</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-168</integer>
    <key>public.kern2.W2</key>
    <integer>-84</integer>
    <key>public.kern2.quoteright</key>
    <integer>-168</integer>
  </dict>
  <key>Delta</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-168</integer>
    <key>public.kern2.W2</key>
    <integer>-84</integer>
    <key>public.kern2.quoteright</key>
    <integer>-168</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-126</integer>
  </dict>
  <key>Gamma</key>
  <dict>
    <key>A</key>
    <integer>-43</integer>
    <key>Acyr</key>
    <integer>-43</integer>
    <key>Alpha</key>
    <integer>-43</integer>
    <key>Delta</key>
    <integer>-193</integer>
    <key>Lambda</key>
    <integer>-190</integer>
    <key>alpha</key>
    <integer>-275</integer>
    <key>omicron</key>
    <integer>-228</integer>
    <key>omicrontonos</key>
    <integer>-340</integer>
    <key>public.kern2.v</key>
    <integer>-185</integer>
  </dict>
  <key>Gecyr</key>
  <dict>
    <key>alpha</key>
    <integer>-42</integer>
    <key>public.kern2.v</key>
    <integer>-17</integer>
  </dict>
  <key>Kappa</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-180</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-168</integer>
    <key>public.kern2.W2</key>
    <integer>-84</integer>
    <key>public.kern2.quoteright</key>
    <integer>-168</integer>
  </dict>
  <key>Lambda</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-168</integer>
    <key>public.kern2.W2</key>
    <integer>-84</integer>
    <key>public.kern2.quoteright</key>
    <integer>-168</integer>
  </dict>
  <key>Yuslittlecyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-140</integer>
    <key>public.kern2.W2</key>
    <integer>-70</integer>
    <key>public.kern2.quoteright</key>
    <integer>-140</integer>
  </dict>
  <key>Yuslittleiotifiedcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-140</integer>
    <key>public.kern2.W2</key>
    <integer>-70</integer>
    <key>public.kern2.quoteright</key>
    <integer>-140</integer>
  </dict>
  <key>efcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-175</integer>
  </dict>
  <key>ercyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-175</integer>
  </dict>
  <key>hardcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-175</integer>
  </dict>
  <key>ocyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-175</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-168</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>g.ss01</key>
    <integer>-146</integer>
    <key>gbreve.ss01</key>
    <integer>-146</integer>
    <key>gdotaccent.ss01</key>
    <integer>-146</integer>
    <key>public.kern2.a</key>
    <integer>-146</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>g.ss01</key>
    <integer>-42</integer>
    <key>gbreve.ss01</key>
    <integer>-42</integer>
    <key>gdotaccent.ss01</key>
    <integer>-42</integer>
    <key>public.kern2.a</key>
    <integer>-42</integer>
  </dict>
  <key>softcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-175</integer>
  </dict>
  <key>yucyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-175</integer>
  </dict>
  <key>yuslittlecyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-175</integer>
  </dict>
  <key>yuslittleiotifiedcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-175</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>Delta</key>
    <integer>-42</integer>
    <key>Yuslittlecyr</key>
    <integer>-140</integer>
    <key>alpha</key>
    <integer>-230</integer>
    <key>chi</key>
    <integer>-230</integer>
    <key>epsilon</key>
    <integer>-323</integer>
    <key>iota</key>
    <integer>-228</integer>
    <key>omicron</key>
    <integer>-315</integer>
    <key>r</key>
    <integer>-235</integer>
    <key>upsilon</key>
    <integer>-330</integer>
    <key>upsilondieresis</key>
    <integer>-185</integer>
    <key>upsilontonos</key>
    <integer>-280</integer>
    <key>x</key>
    <integer>-163</integer>
    <key>public.kern2.A2</key>
    <integer>-230</integer>
    <key>public.kern2.T2</key>
    <integer>42</integer>
    <key>public.kern2.a</key>
    <integer>-210</integer>
    <key>public.kern2.v</key>
    <integer>-230</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>Delta</key>
    <integer>-37</integer>
    <key>Yuslittlecyr</key>
    <integer>-122</integer>
    <key>public.kern2.A2</key>
    <integer>-146</integer>
    <key>public.kern2.a</key>
    <integer>-126</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>Delta</key>
    <integer>-21</integer>
    <key>Yuslittlecyr</key>
    <integer>-70</integer>
    <key>public.kern2.A2</key>
    <integer>-84</integer>
    <key>public.kern2.a</key>
    <integer>-62</integer>
  </dict>
</dict>
</plist>
