<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>aalt</key>
  <array>
    <string>A</string>
    <string>O</string>
    <string>a</string>
    <string>g</string>
    <string>j</string>
    <string>o</string>
    <string>gbreve</string>
    <string>gdot</string>
    <string>gcedilla</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Tcedilla</string>
    <string>tcedilla</string>
    <string>afii10048</string>
    <string>afii10066</string>
    <string>afii10092</string>
    <string>afii10093</string>
    <string>afii10094</string>
    <string>afii10096</string>
  </array>
  <key>aalt2</key>
  <array>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>ordfeminine</string>
    <string>g.ss01</string>
    <string>dotlessj</string>
    <string>ordmasculine</string>
    <string>gbreve.ss01</string>
    <string>gdotaccent.ss01</string>
    <string>uni0123.ss01</string>
    <string>Scommaaccent</string>
    <string>scommaaccent</string>
    <string>Tcommabelow</string>
    <string>tcommabelow</string>
    <string>uni042E.loclRUS</string>
    <string>uni0431.loclSRB</string>
    <string>uni044A.loclRUS</string>
    <string>uni044B.loclRUS</string>
    <string>uni044C.loclRUS</string>
    <string>uni044E.loclRUS</string>
  </array>
  <key>ccmp</key>
  <array>
    <string>acutecmb</string>
    <string>brevecmb</string>
    <string>caroncmb</string>
    <string>circumflexcmb</string>
    <string>dotaccentcmb</string>
    <string>gravecmb</string>
    <string>hungarumlautcmb</string>
    <string>ringcmb</string>
    <string>tildecmb</string>
    <string>macroncmb</string>
    <string>dieresiscmb</string>
    <string>commaturnedabovecmb</string>
  </array>
  <key>cpsp</key>
  <array>
    <string>Lslash</string>
    <string>Zcaron</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>Scaron</string>
    <string>OE</string>
    <string>Ydieresis</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Ccaron</string>
    <string>Cacute</string>
    <string>Zacute</string>
    <string>Dcaron</string>
    <string>Emacron</string>
    <string>Ecaron</string>
    <string>Eogonek</string>
    <string>Iogonek</string>
    <string>Imacron</string>
    <string>Lcaron</string>
    <string>Lacute</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Omacron</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Sacute</string>
    <string>Tcaron</string>
    <string>Umacron</string>
    <string>Uring</string>
    <string>Uogonek</string>
    <string>Dcroat</string>
    <string>Abreve</string>
    <string>Gbreve</string>
    <string>Idotaccent</string>
    <string>Scedilla</string>
    <string>Hbar</string>
    <string>Itilde</string>
    <string>IJ</string>
    <string>Eng</string>
    <string>Tbar</string>
    <string>Utilde</string>
    <string>Wcircumflex</string>
    <string>Ycircumflex</string>
    <string>uni0400</string>
    <string>uni040D</string>
    <string>Wgrave</string>
    <string>Wacute</string>
    <string>Wdieresis</string>
    <string>Ygrave</string>
    <string>Gcedilla</string>
    <string>Kcedilla</string>
    <string>LJ</string>
    <string>Lcedilla</string>
    <string>Lj</string>
    <string>NJ</string>
    <string>Ncedilla</string>
    <string>Nj</string>
    <string>Rcedilla</string>
    <string>Scommaaccent</string>
    <string>Tcedilla</string>
    <string>afii10019</string>
    <string>afii10022</string>
    <string>afii10023</string>
    <string>afii10024</string>
    <string>afii10025</string>
    <string>afii10026</string>
    <string>afii10027</string>
    <string>afii10028</string>
    <string>afii10030</string>
    <string>afii10031</string>
    <string>afii10032</string>
    <string>afii10034</string>
    <string>afii10035</string>
    <string>afii10036</string>
    <string>afii10038</string>
    <string>afii10039</string>
    <string>afii10046</string>
    <string>afii10049</string>
    <string>afii10051</string>
    <string>afii10052</string>
    <string>afii10053</string>
    <string>afii10054</string>
    <string>afii10055</string>
    <string>afii10056</string>
    <string>afii10057</string>
    <string>afii10061</string>
    <string>afii10062</string>
    <string>afii10020</string>
    <string>afii10037</string>
    <string>afii10047</string>
    <string>afii10041</string>
    <string>afii10045</string>
    <string>Cdot</string>
    <string>Edot</string>
    <string>Gdot</string>
    <string>Odblacute</string>
    <string>Udblacute</string>
    <string>Zdot</string>
    <string>DZcaron</string>
    <string>Dzcaron</string>
    <string>Acaron</string>
    <string>Icaron</string>
    <string>Ocaron</string>
    <string>Ucaron</string>
    <string>Udieresismacron</string>
    <string>Udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>DZ</string>
    <string>Dz</string>
    <string>Tcommabelow</string>
    <string>afii10058</string>
    <string>afii10059</string>
    <string>afii10060</string>
    <string>afii10145</string>
    <string>Acyrillic</string>
    <string>afii10018</string>
    <string>afii10021</string>
    <string>afii10029</string>
    <string>afii10033</string>
    <string>afii10040</string>
    <string>afii10042</string>
    <string>afii10043</string>
    <string>afii10044</string>
    <string>afii10048</string>
    <string>afii10146</string>
    <string>Eiotifiedcyrillic</string>
    <string>Yuslittlecyrillic</string>
    <string>Yuslittleiotifiedcyrillic</string>
    <string>Yusbigcyrillic</string>
    <string>Yusbigiotifiedcyrillic</string>
    <string>afii10147</string>
    <string>Ukcyrillic</string>
    <string>afii10050</string>
    <string>Ghestrokecyrillic</string>
    <string>Zhedescendercyrillic</string>
    <string>Kadescendercyrillic</string>
    <string>Endescendercyrillic</string>
    <string>Ustraightcyrillic</string>
    <string>Ustraightstrokecyrillic</string>
    <string>Hadescendercyrillic</string>
    <string>Chedescendercyrillic</string>
    <string>Shhacyrillic</string>
    <string>palochkacyrillic</string>
    <string>Schwacyrillic</string>
    <string>Imacroncyrillic</string>
    <string>Obarredcyrillic</string>
    <string>Umacroncyrillic</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflextilde</string>
    <string>Abreveacute</string>
    <string>Abrevegrave</string>
    <string>Abrevetilde</string>
    <string>Etilde</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflextilde</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflextilde</string>
    <string>Ytilde</string>
    <string>uni0414.loclRUS</string>
    <string>uni0414.loclSRB</string>
    <string>uni041B.loclRUS</string>
    <string>uni041B.loclSRB</string>
    <string>uni042E.loclRUS</string>
  </array>
  <key>locl_ss02</key>
  <array>
    <string>afii10021</string>
    <string>afii10029</string>
    <string>afii10048</string>
    <string>afii10067</string>
    <string>afii10068</string>
    <string>afii10069</string>
    <string>afii10072</string>
    <string>afii10073</string>
    <string>afii10074</string>
    <string>afii10075</string>
    <string>afii10076</string>
    <string>afii10077</string>
    <string>afii10081</string>
    <string>afii10084</string>
    <string>afii10088</string>
    <string>afii10090</string>
    <string>afii10091</string>
    <string>afii10092</string>
    <string>afii10093</string>
    <string>afii10094</string>
    <string>afii10096</string>
    <string>uni045D</string>
  </array>
  <key>locl_ss022</key>
  <array>
    <string>uni0414.loclRUS</string>
    <string>uni041B.loclRUS</string>
    <string>uni042E.loclRUS</string>
    <string>uni0432.loclRUS</string>
    <string>uni0433.loclRUS</string>
    <string>uni0434.loclRUS</string>
    <string>uni0436.loclRUS</string>
    <string>uni0437.loclRUS</string>
    <string>uni0438.loclRUS</string>
    <string>uni0439.loclRUS</string>
    <string>uni043A.loclRUS</string>
    <string>uni043B.loclRUS</string>
    <string>uni043F.loclRUS</string>
    <string>uni0442.loclRUS</string>
    <string>uni0446.loclRUS</string>
    <string>uni0448.loclRUS</string>
    <string>uni0449.loclRUS</string>
    <string>uni044A.loclRUS</string>
    <string>uni044B.loclRUS</string>
    <string>uni044C.loclRUS</string>
    <string>uni044E.loclRUS</string>
    <string>uni045D.loclRUS</string>
  </array>
  <key>locl_ss03</key>
  <array>
    <string>afii10021</string>
    <string>afii10029</string>
    <string>afii10066</string>
    <string>afii10067</string>
    <string>afii10068</string>
    <string>afii10069</string>
    <string>afii10072</string>
    <string>afii10073</string>
    <string>afii10074</string>
    <string>afii10075</string>
    <string>afii10076</string>
    <string>afii10077</string>
    <string>afii10081</string>
    <string>afii10084</string>
    <string>afii10088</string>
    <string>afii10090</string>
    <string>afii10091</string>
    <string>uni045D</string>
  </array>
  <key>locl_ss032</key>
  <array>
    <string>uni0414.loclSRB</string>
    <string>uni041B.loclSRB</string>
    <string>uni0431.loclSRB</string>
    <string>uni0432.loclSRB</string>
    <string>uni0433.loclSRB</string>
    <string>uni0434.loclSRB</string>
    <string>uni0436.loclSRB</string>
    <string>uni0437.loclSRB</string>
    <string>uni0438.loclSRB</string>
    <string>uni0439.loclSRB</string>
    <string>uni043A.loclSRB</string>
    <string>uni043B.loclSRB</string>
    <string>uni043F.loclSRB</string>
    <string>uni0442.loclSRB</string>
    <string>uni0446.loclSRB</string>
    <string>uni0448.loclSRB</string>
    <string>uni0449.loclSRB</string>
    <string>uni045D.loclSRB</string>
  </array>
  <key>ordn</key>
  <array>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
  </array>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>Acyrillic</string>
    <string>Delta</string>
    <string>L</string>
    <string>Yuslittlecyrillic</string>
    <string>Yuslittleiotifiedcyrillic</string>
    <string>afii10021</string>
    <string>afii10029</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>afii10032</string>
    <string>afii10038</string>
    <string>afii10047</string>
    <string>afii10048</string>
    <string>afii10053</string>
    <string>afii10147</string>
    <string>uni042E.loclRUS</string>
  </array>
  <key>public.kern1.P</key>
  <array>
    <string>P</string>
    <string>afii10034</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommabelow</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Ytilde</string>
    <string>afii10020</string>
    <string>afii10036</string>
    <string>afii10050</string>
    <string>afii10052</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
    <string>afii10037</string>
    <string>afii10062</string>
    <string>afii10148</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.afii10080</key>
  <array>
    <string>afii10068</string>
    <string>afii10080</string>
    <string>afii10082</string>
    <string>afii10086</string>
    <string>afii10092</string>
    <string>afii10094</string>
    <string>afii10096</string>
    <string>afii10195</string>
    <string>uni044A.loclRUS</string>
    <string>uni044C.loclRUS</string>
    <string>uni044E.loclRUS</string>
    <string>yuslittlecyrillic</string>
    <string>yuslittleiotifiedcyrillic</string>
  </array>
  <key>public.kern2.A2</key>
  <array>
    <string>A</string>
    <string>Acyrillic</string>
    <string>Yuslittlecyrillic</string>
    <string>afii10021</string>
    <string>afii10029</string>
  </array>
  <key>public.kern2.T2</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommabelow</string>
    <string>V</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
    <string>Ytilde</string>
    <string>afii10036</string>
    <string>afii10041</string>
  </array>
  <key>public.kern2.W2</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>acyrillic</string>
    <string>ae</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdot</string>
    <string>cent</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflextilde</string>
    <string>edieresis</string>
    <string>edot</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>eth</string>
    <string>etilde</string>
    <string>f</string>
    <string>g</string>
    <string>g.ss01</string>
    <string>gbreve</string>
    <string>gbreve.ss01</string>
    <string>gcedilla</string>
    <string>gdot</string>
    <string>gdotaccent.ss01</string>
    <string>i</string>
    <string>infinity</string>
    <string>j</string>
    <string>l</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocaron</string>
    <string>ocircumflex</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflextilde</string>
    <string>odblacute</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>partialdiff</string>
    <string>q</string>
    <string>s</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucaron</string>
    <string>ucircumflex</string>
    <string>udblacute</string>
    <string>udieresis</string>
    <string>udieresisacute</string>
    <string>udieresiscaron</string>
    <string>udieresisgrave</string>
    <string>udieresismacron</string>
    <string>ugrave</string>
    <string>umacron</string>
    <string>uni0123.ss01</string>
  </array>
  <key>public.kern2.afii10032</key>
  <array>
    <string>Ukcyrillic</string>
    <string>afii10032</string>
    <string>afii10035</string>
    <string>afii10038</string>
    <string>afii10047</string>
    <string>afii10049</string>
    <string>afii10053</string>
    <string>afii10147</string>
  </array>
  <key>public.kern2.afii10037</key>
  <array>
    <string>afii10037</string>
    <string>afii10148</string>
  </array>
  <key>public.kern2.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.uni0450</key>
  <array>
    <string>afii10068</string>
    <string>afii10069</string>
    <string>afii10070</string>
    <string>afii10071</string>
    <string>afii10077</string>
    <string>afii10080</string>
    <string>afii10083</string>
    <string>afii10086</string>
    <string>afii10195</string>
    <string>ukcyrillic</string>
    <string>uni0437.loclRUS</string>
    <string>uni0437.loclSRB</string>
    <string>uni0450</string>
    <string>yuslittlecyrillic</string>
  </array>
  <key>public.kern2.v</key>
  <array>
    <string>afii10085</string>
    <string>afii10110</string>
    <string>umacroncyrillic</string>
    <string>ustraightcyrillic</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>y</string>
  </array>
</dict>
</plist>
