<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>Acyr</string>
    <string>Alpha</string>
    <string>Delta</string>
    <string>Lambda</string>
    <string>Yuslittlecyr</string>
    <string>Yuslittleiotifiedcyr</string>
  </array>
  <key>public.kern1.A11</key>
  <array>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Abreveacute</string>
    <string>Abrevedotbelow</string>
    <string>Abrevegrave</string>
    <string>Abrevehoi</string>
    <string>Abrevetilde</string>
    <string>Acaron</string>
    <string>Acircumflex</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexdotbelow</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflexhoi</string>
    <string>Acircumflextilde</string>
    <string>Adieresis</string>
    <string>Adotbelow</string>
    <string>Agrave</string>
    <string>Ahoi</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Atilde</string>
  </array>
  <key>public.kern1.AE1</key>
  <array>
    <string>AE</string>
    <string>AEacute</string>
  </array>
  <key>public.kern1.Cacute</key>
  <array>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
  </array>
  <key>public.kern1.D</key>
  <array>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>public.kern1.DZ</key>
  <array>
    <string>DZ</string>
    <string>DZcaron</string>
  </array>
  <key>public.kern1.Dz1</key>
  <array>
    <string>Dz</string>
    <string>Dzcaron</string>
  </array>
  <key>public.kern1.E</key>
  <array>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexdotbelow</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflexhoi</string>
    <string>Ecircumflextilde</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Edotbelow</string>
    <string>Egrave</string>
    <string>Ehoi</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Etilde</string>
  </array>
  <key>public.kern1.Encyr</key>
  <array>
    <string>Checyr</string>
    <string>Encyr</string>
    <string>Iukrcyr</string>
    <string>Palochkacyr</string>
    <string>Pecyr</string>
    <string>Shacyr</string>
    <string>Yacyr</string>
    <string>Ylongcyr</string>
    <string>Yukrcyr</string>
  </array>
  <key>public.kern1.Epsilon</key>
  <array>
    <string>Epsilon</string>
    <string>Epsilontonos</string>
  </array>
  <key>public.kern1.Gamma</key>
  <array>
    <string>Gamma</string>
    <string>Gecyr</string>
  </array>
  <key>public.kern1.Gbreve</key>
  <array>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
  </array>
  <key>public.kern1.H</key>
  <array>
    <string>H</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icaron</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Idotbelow</string>
    <string>Igrave</string>
    <string>Ihoi</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
  </array>
  <key>public.kern1.Hardcyr</key>
  <array>
    <string>Hardcyr</string>
    <string>Softcyr</string>
  </array>
  <key>public.kern1.Icyr1</key>
  <array>
    <string>Icyr</string>
    <string>Igravecyr</string>
    <string>Imacroncyr</string>
    <string>Ishortcyr</string>
  </array>
  <key>public.kern1.Iecyr</key>
  <array>
    <string>Iecyr</string>
    <string>Iegravecyr</string>
    <string>Iocyr</string>
  </array>
  <key>public.kern1.J1</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>LJ</string>
    <string>NJ</string>
  </array>
  <key>public.kern1.K</key>
  <array>
    <string>K</string>
    <string>Kcommaaccent</string>
  </array>
  <key>public.kern1.Kacyr</key>
  <array>
    <string>Kacyr</string>
    <string>Kjecyr</string>
    <string>Zhecyr</string>
  </array>
  <key>public.kern1.Katailcyr</key>
  <array>
    <string>Katailcyr</string>
    <string>Zhetailcyr</string>
  </array>
  <key>public.kern1.L</key>
  <array>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcommaaccent</string>
  </array>
  <key>public.kern1.M</key>
  <array>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
  </array>
  <key>public.kern1.Mu1</key>
  <array>
    <string>Mu</string>
    <string>Nu</string>
  </array>
  <key>public.kern1.O</key>
  <array>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocaron</string>
    <string>Ocircumflex</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexdotbelow</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflexhoi</string>
    <string>Ocircumflextilde</string>
    <string>Odieresis</string>
    <string>Odotbelow</string>
    <string>Ograve</string>
    <string>Ohoi</string>
    <string>Ohorn</string>
    <string>Ohornacute</string>
    <string>Ohorndotbelow</string>
    <string>Ohorngrave</string>
    <string>Ohornhoi</string>
    <string>Ohorntilde</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oogonek</string>
    <string>Otilde</string>
  </array>
  <key>public.kern1.Ocyr1</key>
  <array>
    <string>Fitacyr</string>
    <string>Obarcyr</string>
    <string>Ocyr</string>
  </array>
  <key>public.kern1.Omicron1</key>
  <array>
    <string>Omicron</string>
    <string>Omicrontonos</string>
  </array>
  <key>public.kern1.Oslash1</key>
  <array>
    <string>Oslash</string>
    <string>Oslashacute</string>
  </array>
  <key>public.kern1.Pi</key>
  <array>
    <string>Eta</string>
    <string>Etatonos</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Iotatonos</string>
    <string>Pi</string>
  </array>
  <key>public.kern1.R</key>
  <array>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
  </array>
  <key>public.kern1.Sacute</key>
  <array>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
  </array>
  <key>public.kern1.T11</key>
  <array>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern1.Tau</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>public.kern1.Tsecyr1</key>
  <array>
    <string>Chetailcyr</string>
    <string>Entailcyr</string>
    <string>Shchacyr</string>
    <string>Tsecyr</string>
  </array>
  <key>public.kern1.U1</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucaron</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>Udieresismacron</string>
    <string>Udotbelow</string>
    <string>Ugrave</string>
    <string>Uhoi</string>
    <string>Uhorn</string>
    <string>Uhornacute</string>
    <string>Uhorndotbelow</string>
    <string>Uhorngrave</string>
    <string>Uhornhoi</string>
    <string>Uhorntilde</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern1.Ucyr1</key>
  <array>
    <string>Ucyr</string>
    <string>Umacroncyr</string>
    <string>Ushortcyr</string>
  </array>
  <key>public.kern1.Upsilon1</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern1.Y1</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotbelow</string>
    <string>Ygrave</string>
    <string>Yhoi</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern1.Yucyr1</key>
  <array>
    <string>Ereversedcyr</string>
    <string>Yucyr</string>
  </array>
  <key>public.kern1.Yusbigcyr</key>
  <array>
    <string>Yusbigcyr</string>
    <string>Yusbigiotifiedcyr</string>
  </array>
  <key>public.kern1.Z1</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern1.a11</key>
  <array>
    <string>a</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>abreveacute</string>
    <string>abrevedotbelow</string>
    <string>abrevegrave</string>
    <string>abrevehoi</string>
    <string>abrevetilde</string>
    <string>acaron</string>
    <string>acircumflex</string>
    <string>acircumflexacute</string>
    <string>acircumflexdotbelow</string>
    <string>acircumflexgrave</string>
    <string>acircumflexhoi</string>
    <string>acircumflextilde</string>
    <string>adieresis</string>
    <string>adotbelow</string>
    <string>agrave</string>
    <string>ahoi</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>atilde</string>
  </array>
  <key>public.kern1.ae1</key>
  <array>
    <string>ae</string>
    <string>aeacute</string>
    <string>aemacron</string>
  </array>
  <key>public.kern1.alpha1</key>
  <array>
    <string>alpha</string>
    <string>alphatonos</string>
  </array>
  <key>public.kern1.c1</key>
  <array>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>ccircumflex</string>
    <string>cdotaccent</string>
  </array>
  <key>public.kern1.checyr</key>
  <array>
    <string>checyr</string>
    <string>iukrcyr</string>
  </array>
  <key>public.kern1.dieresis</key>
  <array>
    <string>dieresis</string>
    <string>dotaccent</string>
  </array>
  <key>public.kern1.dz1</key>
  <array>
    <string>dz</string>
    <string>dzcaron</string>
  </array>
  <key>public.kern1.e1</key>
  <array>
    <string>e</string>
    <string>eacute</string>
    <string>ebreve</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexdotbelow</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflexhoi</string>
    <string>ecircumflextilde</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>edotbelow</string>
    <string>egrave</string>
    <string>ehoi</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>etilde</string>
  </array>
  <key>public.kern1.eight1</key>
  <array>
    <string>eight</string>
    <string>eight.pnum</string>
  </array>
  <key>public.kern1.emcyr1</key>
  <array>
    <string>emcyr</string>
    <string>palochkacyr</string>
    <string>yacyr</string>
  </array>
  <key>public.kern1.emdash1</key>
  <array>
    <string>emdash</string>
    <string>horizontalbar</string>
  </array>
  <key>public.kern1.eta1</key>
  <array>
    <string>eta</string>
    <string>etatonos</string>
  </array>
  <key>public.kern1.five1</key>
  <array>
    <string>five</string>
    <string>five.pnum</string>
  </array>
  <key>public.kern1.fl</key>
  <array>
    <string>f_f_l</string>
    <string>fl</string>
  </array>
  <key>public.kern1.g1</key>
  <array>
    <string>g</string>
    <string>gbreve</string>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gdotaccent</string>
    <string>gscript-ipa</string>
  </array>
  <key>public.kern1.gecyr.loclSRB1</key>
  <array>
    <string>gecyr.loclSRB</string>
    <string>gjecyr.loclMKD</string>
  </array>
  <key>public.kern1.gecyr1</key>
  <array>
    <string>gecyr</string>
    <string>gjecyr</string>
  </array>
  <key>public.kern1.guillemotleft</key>
  <array>
    <string>guillemotleft</string>
    <string>guilsinglleft</string>
  </array>
  <key>public.kern1.h1</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
  </array>
  <key>public.kern1.i1</key>
  <array>
    <string>i</string>
    <string>idotbelow</string>
    <string>iogonek</string>
  </array>
  <key>public.kern1.icyr1</key>
  <array>
    <string>icyr</string>
    <string>igravecyr</string>
    <string>imacroncyr</string>
    <string>ishortcyr</string>
    <string>shacyr</string>
  </array>
  <key>public.kern1.idieresis</key>
  <array>
    <string>idieresis</string>
    <string>yukrcyr</string>
  </array>
  <key>public.kern1.iecyr1</key>
  <array>
    <string>iecyr</string>
    <string>iegravecyr</string>
    <string>iocyr</string>
  </array>
  <key>public.kern1.ihoi</key>
  <array>
    <string>dotlessi</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icaron</string>
    <string>icircumflex</string>
    <string>igrave</string>
    <string>ihoi</string>
    <string>imacron</string>
    <string>itilde</string>
  </array>
  <key>public.kern1.iota1</key>
  <array>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotatonos</string>
  </array>
  <key>public.kern1.j1</key>
  <array>
    <string>dotlessj</string>
    <string>ij</string>
    <string>j</string>
    <string>jcircumflex</string>
  </array>
  <key>public.kern1.k</key>
  <array>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>public.kern1.kacyr1</key>
  <array>
    <string>kacyr</string>
    <string>kjecyr</string>
  </array>
  <key>public.kern1.l1</key>
  <array>
    <string>l</string>
    <string>lacute</string>
    <string>lcommaaccent</string>
  </array>
  <key>public.kern1.minus1</key>
  <array>
    <string>endash</string>
    <string>hyphen</string>
    <string>minus</string>
    <string>softhyphen</string>
  </array>
  <key>public.kern1.n1</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
  </array>
  <key>public.kern1.nine1</key>
  <array>
    <string>nine</string>
    <string>nine.pnum</string>
  </array>
  <key>public.kern1.ocyr1</key>
  <array>
    <string>fitacyr</string>
    <string>ocyr</string>
    <string>yucyr</string>
  </array>
  <key>public.kern1.ohoi</key>
  <array>
    <string>oacute</string>
    <string>obreve</string>
    <string>ocaron</string>
    <string>ocircumflex</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexdotbelow</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflexhoi</string>
    <string>ocircumflextilde</string>
    <string>odieresis</string>
    <string>odotbelow</string>
    <string>ograve</string>
    <string>ohoi</string>
    <string>ohorn</string>
    <string>ohornacute</string>
    <string>ohorndotbelow</string>
    <string>ohorngrave</string>
    <string>ohornhoi</string>
    <string>ohorntilde</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oogonek</string>
    <string>otilde</string>
  </array>
  <key>public.kern1.omega1</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>public.kern1.oopen</key>
  <array>
    <string>eturned</string>
    <string>oopen</string>
    <string>schwa</string>
  </array>
  <key>public.kern1.oslash1</key>
  <array>
    <string>oslash</string>
    <string>oslashacute</string>
  </array>
  <key>public.kern1.pecyr1</key>
  <array>
    <string>pecyr</string>
    <string>shhacyr</string>
  </array>
  <key>public.kern1.period1</key>
  <array>
    <string>period</string>
    <string>twodotenleader</string>
  </array>
  <key>public.kern1.quotedblbase1</key>
  <array>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern1.quoteleft1</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern1.quoteright1</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern1.r1</key>
  <array>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>public.kern1.s1</key>
  <array>
    <string>s</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>public.kern1.schwacyr</key>
  <array>
    <string>ereversedcyr</string>
    <string>schwacyr</string>
  </array>
  <key>public.kern1.six1</key>
  <array>
    <string>six</string>
    <string>six.pnum</string>
  </array>
  <key>public.kern1.t1</key>
  <array>
    <string>t</string>
    <string>tcaron</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
  </array>
  <key>public.kern1.two1</key>
  <array>
    <string>two</string>
    <string>two.pnum</string>
  </array>
  <key>public.kern1.u1</key>
  <array>
    <string>u</string>
    <string>uacute</string>
    <string>ubreve</string>
    <string>ucaron</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>udieresisacute</string>
    <string>udieresiscaron</string>
    <string>udieresisgrave</string>
    <string>udieresismacron</string>
    <string>udotbelow</string>
    <string>ugrave</string>
    <string>uhoi</string>
    <string>uhorn</string>
    <string>uhornacute</string>
    <string>uhorndotbelow</string>
    <string>uhorngrave</string>
    <string>uhornhoi</string>
    <string>uhorntilde</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
  </array>
  <key>public.kern1.ucyr1</key>
  <array>
    <string>ucyr</string>
    <string>ukcyr</string>
    <string>umacroncyr</string>
    <string>ushortcyr</string>
  </array>
  <key>public.kern1.upsilon1</key>
  <array>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>public.kern1.w1</key>
  <array>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
  </array>
  <key>public.kern1.y1</key>
  <array>
    <string>y</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ydotbelow</string>
    <string>ygrave</string>
    <string>yhoi</string>
    <string>ytilde</string>
  </array>
  <key>public.kern1.yusbigcyr</key>
  <array>
    <string>yusbigcyr</string>
    <string>yusbigiotifiedcyr</string>
  </array>
  <key>public.kern1.z1</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern1.zero1</key>
  <array>
    <string>zero</string>
    <string>zero.pnum</string>
  </array>
  <key>public.kern2.A1</key>
  <array>
    <string>A</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Abreveacute</string>
    <string>Abrevedotbelow</string>
    <string>Abrevegrave</string>
    <string>Abrevehoi</string>
    <string>Abrevetilde</string>
    <string>Acaron</string>
    <string>Acircumflex</string>
    <string>Acircumflexacute</string>
    <string>Acircumflexdotbelow</string>
    <string>Acircumflexgrave</string>
    <string>Acircumflexhoi</string>
    <string>Acircumflextilde</string>
    <string>Adieresis</string>
    <string>Adotbelow</string>
    <string>Agrave</string>
    <string>Ahoi</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
  </array>
  <key>public.kern2.AE</key>
  <array>
    <string>AE</string>
    <string>AEacute</string>
  </array>
  <key>public.kern2.Acyr</key>
  <array>
    <string>Acyr</string>
    <string>Elcyr.loclBGR</string>
    <string>Yuslittlecyr</string>
  </array>
  <key>public.kern2.Alpha</key>
  <array>
    <string>Alpha</string>
    <string>Alphatonos</string>
    <string>Lambda</string>
  </array>
  <key>public.kern2.B</key>
  <array>
    <string>B</string>
    <string>D</string>
    <string>DZ</string>
    <string>DZcaron</string>
    <string>Dcaron</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Ecircumflexacute</string>
    <string>Ecircumflexdotbelow</string>
    <string>Ecircumflexgrave</string>
    <string>Ecircumflexhoi</string>
    <string>Ecircumflextilde</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Edotbelow</string>
    <string>Egrave</string>
    <string>Ehoi</string>
    <string>Emacron</string>
    <string>Eogonek</string>
    <string>Etilde</string>
    <string>F</string>
    <string>H</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icaron</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Idotbelow</string>
    <string>Igrave</string>
    <string>Ihoi</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>K</string>
    <string>Kcommaaccent</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Lcommaaccent</string>
    <string>Ldot</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ncommaaccent</string>
    <string>Ntilde</string>
    <string>P</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>Rcommaaccent</string>
    <string>Thorn</string>
  </array>
  <key>public.kern2.C</key>
  <array>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>OE</string>
  </array>
  <key>public.kern2.Dz</key>
  <array>
    <string>Dz</string>
    <string>Dzcaron</string>
  </array>
  <key>public.kern2.Elcyr</key>
  <array>
    <string>Elcyr</string>
    <string>Ljecyr</string>
  </array>
  <key>public.kern2.Escyr</key>
  <array>
    <string>Escyr</string>
    <string>Eukrcyr</string>
  </array>
  <key>public.kern2.Eth</key>
  <array>
    <string>Dcroat</string>
    <string>Eth</string>
  </array>
  <key>public.kern2.G</key>
  <array>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gcommaaccent</string>
    <string>Gdotaccent</string>
    <string>O</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocaron</string>
    <string>Ocircumflex</string>
    <string>Ocircumflexacute</string>
    <string>Ocircumflexdotbelow</string>
    <string>Ocircumflexgrave</string>
    <string>Ocircumflexhoi</string>
    <string>Ocircumflextilde</string>
    <string>Odieresis</string>
    <string>Odotbelow</string>
    <string>Ograve</string>
    <string>Ohoi</string>
    <string>Ohorn</string>
    <string>Ohornacute</string>
    <string>Ohorndotbelow</string>
    <string>Ohorngrave</string>
    <string>Ohornhoi</string>
    <string>Ohorntilde</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oogonek</string>
    <string>Otilde</string>
    <string>Q</string>
  </array>
  <key>public.kern2.Icyr</key>
  <array>
    <string>Becyr</string>
    <string>Emcyr</string>
    <string>Encyr</string>
    <string>Ercyr</string>
    <string>Gecyr</string>
    <string>Geupcyr</string>
    <string>Gjecyr</string>
    <string>Icyr</string>
    <string>Iecyr</string>
    <string>Iegravecyr</string>
    <string>Igravecyr</string>
    <string>Imacroncyr</string>
    <string>Iocyr</string>
    <string>Ishortcyr</string>
    <string>Iukrcyr</string>
    <string>Kacyr</string>
    <string>Kjecyr</string>
    <string>Njecyr</string>
    <string>Palochkacyr</string>
    <string>Pecyr</string>
    <string>Shacyr</string>
    <string>Shhacyr</string>
    <string>Softcyr</string>
    <string>Vecyr</string>
    <string>Ylongcyr</string>
    <string>Yukrcyr</string>
    <string>Yusbigiotifiedcyr</string>
    <string>Yuslittleiotifiedcyr</string>
  </array>
  <key>public.kern2.J</key>
  <array>
    <string>J</string>
    <string>Jcircumflex</string>
  </array>
  <key>public.kern2.Mu</key>
  <array>
    <string>Beta</string>
    <string>Epsilon</string>
    <string>Epsilontonos</string>
    <string>Eta</string>
    <string>Etatonos</string>
    <string>Gamma</string>
    <string>Iota</string>
    <string>Iotadieresis</string>
    <string>Iotatonos</string>
    <string>Kappa</string>
    <string>Mu</string>
    <string>Nu</string>
    <string>Pi</string>
    <string>Rho</string>
  </array>
  <key>public.kern2.Ocyr</key>
  <array>
    <string>Fitacyr</string>
    <string>Obarcyr</string>
    <string>Ocyr</string>
    <string>Ukcyr</string>
  </array>
  <key>public.kern2.Omicron</key>
  <array>
    <string>Omicron</string>
    <string>Omicrontonos</string>
  </array>
  <key>public.kern2.Oslash</key>
  <array>
    <string>Oslash</string>
    <string>Oslashacute</string>
  </array>
  <key>public.kern2.S</key>
  <array>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Scommaaccent</string>
  </array>
  <key>public.kern2.T1</key>
  <array>
    <string>T</string>
    <string>Tcaron</string>
    <string>Tcedilla</string>
    <string>Tcommaaccent</string>
  </array>
  <key>public.kern2.Tsecyr</key>
  <array>
    <string>Katailcyr</string>
    <string>Tsecyr</string>
  </array>
  <key>public.kern2.U</key>
  <array>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucaron</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>Udieresismacron</string>
    <string>Udotbelow</string>
    <string>Ugrave</string>
    <string>Uhoi</string>
    <string>Uhorn</string>
    <string>Uhornacute</string>
    <string>Uhorndotbelow</string>
    <string>Uhorngrave</string>
    <string>Uhornhoi</string>
    <string>Uhorntilde</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
  </array>
  <key>public.kern2.Ucyr</key>
  <array>
    <string>Ucyr</string>
    <string>Umacroncyr</string>
    <string>Ushortcyr</string>
  </array>
  <key>public.kern2.Upsilon</key>
  <array>
    <string>Upsilon</string>
    <string>Upsilondieresis</string>
  </array>
  <key>public.kern2.W1</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.Y</key>
  <array>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ydotbelow</string>
    <string>Ygrave</string>
    <string>Yhoi</string>
    <string>Ytilde</string>
  </array>
  <key>public.kern2.Yucyr</key>
  <array>
    <string>Eiotifiedcyr</string>
    <string>Yucyr</string>
  </array>
  <key>public.kern2.Z</key>
  <array>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>ae</string>
    <string>alpha</string>
    <string>alphatonos</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdotaccent</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>eth</string>
    <string>f</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>infinity</string>
    <string>l</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>partialdiff</string>
    <string>q</string>
    <string>s</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
  </array>
  <key>public.kern2.a1</key>
  <array>
    <string>aacute</string>
    <string>abreve</string>
    <string>abreveacute</string>
    <string>abrevedotbelow</string>
    <string>abrevegrave</string>
    <string>abrevehoi</string>
    <string>abrevetilde</string>
    <string>acaron</string>
    <string>acircumflex</string>
    <string>acircumflexacute</string>
    <string>acircumflexdotbelow</string>
    <string>acircumflexgrave</string>
    <string>acircumflexhoi</string>
    <string>acircumflextilde</string>
    <string>adieresis</string>
    <string>adotbelow</string>
    <string>agrave</string>
    <string>ahoi</string>
    <string>amacron</string>
    <string>aogonek</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>atilde</string>
  </array>
  <key>public.kern2.ae</key>
  <array>
    <string>aeacute</string>
    <string>aemacron</string>
  </array>
  <key>public.kern2.dz</key>
  <array>
    <string>dz</string>
    <string>dzcaron</string>
  </array>
  <key>public.kern2.e</key>
  <array>
    <string>ebreve</string>
    <string>ecircumflexacute</string>
    <string>ecircumflexdotbelow</string>
    <string>ecircumflexgrave</string>
    <string>ecircumflexhoi</string>
    <string>ecircumflextilde</string>
    <string>edotbelow</string>
    <string>ehoi</string>
    <string>etilde</string>
  </array>
  <key>public.kern2.eight</key>
  <array>
    <string>eight</string>
    <string>eight.pnum</string>
  </array>
  <key>public.kern2.elcyr</key>
  <array>
    <string>elcyr</string>
    <string>ljecyr</string>
  </array>
  <key>public.kern2.emcyr</key>
  <array>
    <string>emcyr</string>
    <string>encyr</string>
    <string>tecyr</string>
  </array>
  <key>public.kern2.emdash</key>
  <array>
    <string>emdash</string>
    <string>horizontalbar</string>
  </array>
  <key>public.kern2.epsilon</key>
  <array>
    <string>epsilon</string>
    <string>epsilontonos</string>
  </array>
  <key>public.kern2.eta</key>
  <array>
    <string>eta</string>
    <string>etatonos</string>
  </array>
  <key>public.kern2.f_f</key>
  <array>
    <string>f_f</string>
    <string>f_f_i</string>
  </array>
  <key>public.kern2.five</key>
  <array>
    <string>five</string>
    <string>five.pnum</string>
  </array>
  <key>public.kern2.four</key>
  <array>
    <string>four</string>
    <string>four.pnum</string>
  </array>
  <key>public.kern2.g</key>
  <array>
    <string>gcircumflex</string>
    <string>gcommaaccent</string>
    <string>gscript-ipa</string>
  </array>
  <key>public.kern2.gecyr</key>
  <array>
    <string>gecyr</string>
    <string>gjecyr</string>
  </array>
  <key>public.kern2.gecyr.loclSRB</key>
  <array>
    <string>gecyr.loclSRB</string>
    <string>gjecyr.loclMKD</string>
  </array>
  <key>public.kern2.h</key>
  <array>
    <string>h</string>
    <string>hcircumflex</string>
    <string>k</string>
    <string>kcommaaccent</string>
  </array>
  <key>public.kern2.i</key>
  <array>
    <string>idotbelow</string>
    <string>iogonek</string>
  </array>
  <key>public.kern2.icyr</key>
  <array>
    <string>icyr</string>
    <string>igravecyr</string>
    <string>imacroncyr</string>
    <string>ishortcyr</string>
  </array>
  <key>public.kern2.idieresis</key>
  <array>
    <string>idieresis</string>
    <string>yukrcyr</string>
  </array>
  <key>public.kern2.iecyr</key>
  <array>
    <string>iecyr</string>
    <string>iegravecyr</string>
    <string>iocyr</string>
  </array>
  <key>public.kern2.iota</key>
  <array>
    <string>iota</string>
    <string>iotadieresis</string>
    <string>iotatonos</string>
  </array>
  <key>public.kern2.j</key>
  <array>
    <string>dotlessj</string>
    <string>jcircumflex</string>
  </array>
  <key>public.kern2.kacyr</key>
  <array>
    <string>kacyr</string>
    <string>kjecyr</string>
    <string>palochkacyr</string>
    <string>yusbigiotifiedcyr</string>
  </array>
  <key>public.kern2.l</key>
  <array>
    <string>lacute</string>
    <string>lcaron</string>
    <string>lcommaaccent</string>
    <string>ldot</string>
  </array>
  <key>public.kern2.minus</key>
  <array>
    <string>endash</string>
    <string>hyphen</string>
    <string>minus</string>
    <string>softhyphen</string>
  </array>
  <key>public.kern2.n</key>
  <array>
    <string>n</string>
    <string>nacute</string>
    <string>ncaron</string>
    <string>ncommaaccent</string>
    <string>ntilde</string>
  </array>
  <key>public.kern2.nine</key>
  <array>
    <string>nine</string>
    <string>nine.pnum</string>
  </array>
  <key>public.kern2.o</key>
  <array>
    <string>obreve</string>
    <string>ocaron</string>
    <string>ocircumflexacute</string>
    <string>ocircumflexdotbelow</string>
    <string>ocircumflexgrave</string>
    <string>ocircumflexhoi</string>
    <string>ocircumflextilde</string>
    <string>odotbelow</string>
    <string>ohoi</string>
    <string>ohorn</string>
    <string>ohornacute</string>
    <string>ohorndotbelow</string>
    <string>ohorngrave</string>
    <string>ohornhoi</string>
    <string>ohorntilde</string>
    <string>oogonek</string>
  </array>
  <key>public.kern2.ocyr</key>
  <array>
    <string>fitacyr</string>
    <string>obarcyr</string>
    <string>ocyr</string>
  </array>
  <key>public.kern2.omega</key>
  <array>
    <string>omega</string>
    <string>omegatonos</string>
  </array>
  <key>public.kern2.omicron</key>
  <array>
    <string>omicron</string>
    <string>omicrontonos</string>
  </array>
  <key>public.kern2.pecyr</key>
  <array>
    <string>geupcyr</string>
    <string>pecyr</string>
    <string>shhacyr</string>
  </array>
  <key>public.kern2.period</key>
  <array>
    <string>period</string>
    <string>twodotenleader</string>
  </array>
  <key>public.kern2.quotedblbase</key>
  <array>
    <string>quotedblbase</string>
    <string>quotesinglbase</string>
  </array>
  <key>public.kern2.quoteleft</key>
  <array>
    <string>quotedblleft</string>
    <string>quoteleft</string>
  </array>
  <key>public.kern2.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.r</key>
  <array>
    <string>dotlessi</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icaron</string>
    <string>icircumflex</string>
    <string>igrave</string>
    <string>ihoi</string>
    <string>imacron</string>
    <string>itilde</string>
    <string>kgreenlandic</string>
    <string>r</string>
    <string>racute</string>
    <string>rcaron</string>
    <string>rcommaaccent</string>
  </array>
  <key>public.kern2.s</key>
  <array>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>scommaaccent</string>
  </array>
  <key>public.kern2.schwa</key>
  <array>
    <string>eturned</string>
    <string>schwa</string>
  </array>
  <key>public.kern2.seven</key>
  <array>
    <string>seven</string>
    <string>seven.pnum</string>
  </array>
  <key>public.kern2.six</key>
  <array>
    <string>six</string>
    <string>six.pnum</string>
  </array>
  <key>public.kern2.t</key>
  <array>
    <string>t</string>
    <string>tcedilla</string>
    <string>tcommaaccent</string>
  </array>
  <key>public.kern2.three</key>
  <array>
    <string>three</string>
    <string>three.pnum</string>
  </array>
  <key>public.kern2.two</key>
  <array>
    <string>two</string>
    <string>two.pnum</string>
  </array>
  <key>public.kern2.u</key>
  <array>
    <string>ubreve</string>
    <string>ucaron</string>
    <string>udieresisacute</string>
    <string>udieresiscaron</string>
    <string>udieresisgrave</string>
    <string>udieresismacron</string>
    <string>udotbelow</string>
    <string>uhoi</string>
    <string>uhorn</string>
    <string>uhornacute</string>
    <string>uhorndotbelow</string>
    <string>uhorngrave</string>
    <string>uhornhoi</string>
    <string>uhorntilde</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
  </array>
  <key>public.kern2.ucyr</key>
  <array>
    <string>ucyr</string>
    <string>umacroncyr</string>
    <string>ushortcyr</string>
  </array>
  <key>public.kern2.upsilon</key>
  <array>
    <string>upsilon</string>
    <string>upsilondieresis</string>
    <string>upsilondieresistonos</string>
    <string>upsilontonos</string>
  </array>
  <key>public.kern2.v</key>
  <array>
    <string>nu</string>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>y</string>
  </array>
  <key>public.kern2.y</key>
  <array>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>ydotbelow</string>
    <string>ygrave</string>
    <string>yhoi</string>
    <string>ytilde</string>
  </array>
  <key>public.kern2.yatcyr</key>
  <array>
    <string>tshecyr</string>
    <string>yatcyr</string>
  </array>
  <key>public.kern2.z</key>
  <array>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
  </array>
  <key>public.kern2.zero</key>
  <array>
    <string>zero</string>
    <string>zero.pnum</string>
  </array>
</dict>
</plist>
