<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>B</key>
  <dict>
    <key>A</key>
    <integer>-59</integer>
    <key>comma</key>
    <integer>-55</integer>
    <key>public.kern2.a</key>
    <integer>-104</integer>
    <key>public.kern2.v</key>
    <integer>-20</integer>
  </dict>
  <key>Becyr</key>
  <dict>
    <key>Hacyr</key>
    <integer>-59</integer>
    <key>hardcyr</key>
    <integer>-35</integer>
    <key>public.kern2.B</key>
    <integer>-15</integer>
    <key>public.kern2.quoteright</key>
    <integer>-40</integer>
    <key>public.kern2.uni0443</key>
    <integer>-40</integer>
  </dict>
  <key>Checyr</key>
  <dict>
    <key>ercyr</key>
    <integer>-68</integer>
    <key>public.kern2.uni0435</key>
    <integer>-34</integer>
    <key>public.kern2.uni043C</key>
    <integer>-50</integer>
    <key>public.kern2.uni043E</key>
    <integer>-35</integer>
    <key>public.kern2.uni0443</key>
    <integer>-40</integer>
  </dict>
  <key>Decyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-40</integer>
    <key>Yacyr</key>
    <integer>-25</integer>
    <key>Zhecyr</key>
    <integer>-25</integer>
    <key>hardcyr</key>
    <integer>-15</integer>
    <key>public.kern2.Ocyr</key>
    <integer>-29</integer>
    <key>public.kern2.quoteright</key>
    <integer>-15</integer>
    <key>public.kern2.uni0400</key>
    <integer>-25</integer>
    <key>public.kern2.uni0409</key>
    <integer>-25</integer>
    <key>public.kern2.uni0410</key>
    <integer>-25</integer>
    <key>public.kern2.uni041E</key>
    <integer>-29</integer>
    <key>public.kern2.uni0435</key>
    <integer>-20</integer>
    <key>public.kern2.uni043B</key>
    <integer>-25</integer>
    <key>public.kern2.uni043E</key>
    <integer>-20</integer>
    <key>public.kern2.uni0443</key>
    <integer>-40</integer>
  </dict>
  <key>Djecyr</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-40</integer>
  </dict>
  <key>Efcyr</key>
  <dict>
    <key>Yacyr</key>
    <integer>-70</integer>
    <key>comma</key>
    <integer>-118</integer>
    <key>period</key>
    <integer>-84</integer>
    <key>public.kern2.B</key>
    <integer>-148</integer>
    <key>public.kern2.uni0409</key>
    <integer>-89</integer>
    <key>public.kern2.uni040E</key>
    <integer>-30</integer>
    <key>public.kern2.uni0410</key>
    <integer>-79</integer>
    <key>public.kern2.uni043B</key>
    <integer>-84</integer>
  </dict>
  <key>Elcyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-74</integer>
    <key>Efcyr</key>
    <integer>-20</integer>
    <key>Yacyr</key>
    <integer>-64</integer>
    <key>Zhecyr</key>
    <integer>-64</integer>
    <key>public.kern2.Ocyr</key>
    <integer>-25</integer>
    <key>public.kern2.uni0400</key>
    <integer>-37</integer>
    <key>public.kern2.uni0409</key>
    <integer>-59</integer>
    <key>public.kern2.uni041E</key>
    <integer>-25</integer>
    <key>public.kern2.uni0443</key>
    <integer>-35</integer>
  </dict>
  <key>Ercyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-119</integer>
    <key>Hacyr</key>
    <integer>-89</integer>
    <key>Yacyr</key>
    <integer>-70</integer>
    <key>Zhecyr</key>
    <integer>-109</integer>
    <key>acyr</key>
    <integer>-30</integer>
    <key>comma</key>
    <integer>-157</integer>
    <key>period</key>
    <integer>-131</integer>
    <key>yacyr</key>
    <integer>-54</integer>
    <key>public.kern2.B</key>
    <integer>-35</integer>
    <key>public.kern2.uni0400</key>
    <integer>-40</integer>
    <key>public.kern2.uni0409</key>
    <integer>-104</integer>
    <key>public.kern2.uni040E</key>
    <integer>-20</integer>
    <key>public.kern2.uni0410</key>
    <integer>-124</integer>
    <key>public.kern2.uni0435</key>
    <integer>-30</integer>
    <key>public.kern2.uni043E</key>
    <integer>-34</integer>
  </dict>
  <key>Ereversedcyr</key>
  <dict>
    <key>public.kern2.uni043B</key>
    <integer>-78</integer>
  </dict>
  <key>Escyr</key>
  <dict>
    <key>becyr</key>
    <integer>-20</integer>
    <key>comma</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-46</integer>
    <key>public.kern2.B</key>
    <integer>-64</integer>
    <key>public.kern2.Ocyr</key>
    <integer>-20</integer>
    <key>public.kern2.uni0400</key>
    <integer>-40</integer>
    <key>public.kern2.uni041E</key>
    <integer>-20</integer>
    <key>public.kern2.uni043C</key>
    <integer>-40</integer>
    <key>public.kern2.uni043E</key>
    <integer>-25</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
  </dict>
  <key>Eukrcyr</key>
  <dict>
    <key>comma</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-46</integer>
    <key>public.kern2.B</key>
    <integer>-74</integer>
    <key>public.kern2.Ocyr</key>
    <integer>-20</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-143</integer>
    <key>colon</key>
    <integer>-84</integer>
    <key>comma</key>
    <integer>-160</integer>
    <key>period</key>
    <integer>-157</integer>
    <key>semicolon</key>
    <integer>-114</integer>
    <key>public.kern2.B</key>
    <integer>-170</integer>
    <key>public.kern2.a</key>
    <integer>-59</integer>
    <key>public.kern2.v</key>
    <integer>-84</integer>
  </dict>
  <key>Hacyr</key>
  <dict>
    <key>acyr</key>
    <integer>-89</integer>
    <key>hardcyr</key>
    <integer>-79</integer>
    <key>vecyr</key>
    <integer>-94</integer>
    <key>public.kern2.B</key>
    <integer>-74</integer>
    <key>public.kern2.uni041E</key>
    <integer>-95</integer>
    <key>public.kern2.uni0435</key>
    <integer>-94</integer>
    <key>public.kern2.uni043C</key>
    <integer>-69</integer>
    <key>public.kern2.uni043E</key>
    <integer>-94</integer>
    <key>public.kern2.uni0443</key>
    <integer>-104</integer>
  </dict>
  <key>Jecyr</key>
  <dict>
    <key>acyr</key>
    <integer>-40</integer>
    <key>comma</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-55</integer>
    <key>public.kern2.B</key>
    <integer>-160</integer>
    <key>public.kern2.uni0400</key>
    <integer>-55</integer>
    <key>public.kern2.uni0410</key>
    <integer>-99</integer>
    <key>public.kern2.uni0435</key>
    <integer>-40</integer>
    <key>public.kern2.uni043E</key>
    <integer>-40</integer>
    <key>public.kern2.uni0443</key>
    <integer>-45</integer>
  </dict>
  <key>Ljecyr</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-94</integer>
    <key>public.kern2.quoteright</key>
    <integer>-55</integer>
    <key>public.kern2.uni040E</key>
    <integer>-34</integer>
    <key>public.kern2.uni0443</key>
    <integer>-40</integer>
  </dict>
  <key>Lslash</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-59</integer>
  </dict>
  <key>Njecyr</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-40</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>A</key>
    <integer>-124</integer>
    <key>comma</key>
    <integer>-157</integer>
    <key>period</key>
    <integer>-131</integer>
    <key>public.kern2.B</key>
    <integer>-64</integer>
    <key>public.kern2.a</key>
    <integer>-30</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>A</key>
    <integer>-15</integer>
    <key>public.kern2.B</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-89</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-124</integer>
  </dict>
  <key>Tbar</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-124</integer>
  </dict>
  <key>Tcaron</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-124</integer>
  </dict>
  <key>Tecyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-143</integer>
    <key>Yacyr</key>
    <integer>-89</integer>
    <key>acyr</key>
    <integer>-130</integer>
    <key>colon</key>
    <integer>-160</integer>
    <key>comma</key>
    <integer>-118</integer>
    <key>ercyr</key>
    <integer>-130</integer>
    <key>hardcyr</key>
    <integer>-119</integer>
    <key>iukrcyr</key>
    <integer>-59</integer>
    <key>period</key>
    <integer>-106</integer>
    <key>semicolon</key>
    <integer>-160</integer>
    <key>vecyr</key>
    <integer>-130</integer>
    <key>yacyr</key>
    <integer>-130</integer>
    <key>ylongcyr</key>
    <integer>-130</integer>
    <key>public.kern2.B</key>
    <integer>-84</integer>
    <key>public.kern2.Ocyr</key>
    <integer>-54</integer>
    <key>public.kern2.uni0409</key>
    <integer>-128</integer>
    <key>public.kern2.uni0410</key>
    <integer>-170</integer>
    <key>public.kern2.uni041E</key>
    <integer>-54</integer>
    <key>public.kern2.uni0435</key>
    <integer>-130</integer>
    <key>public.kern2.uni0438</key>
    <integer>-130</integer>
    <key>public.kern2.uni043B</key>
    <integer>-130</integer>
    <key>public.kern2.uni043E</key>
    <integer>-130</integer>
    <key>public.kern2.uni0443</key>
    <integer>-130</integer>
  </dict>
  <key>Tshecyr</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-15</integer>
    <key>public.kern2.uni0410</key>
    <integer>-15</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>A</key>
    <integer>-170</integer>
    <key>cent</key>
    <integer>-50</integer>
    <key>colon</key>
    <integer>-114</integer>
    <key>comma</key>
    <integer>-143</integer>
    <key>period</key>
    <integer>-118</integer>
    <key>semicolon</key>
    <integer>-139</integer>
  </dict>
  <key>Vecyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-49</integer>
    <key>Hacyr</key>
    <integer>-69</integer>
    <key>Zhecyr</key>
    <integer>-59</integer>
    <key>public.kern2.uni040E</key>
    <integer>-20</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-95</integer>
    <key>public.kern2.a</key>
    <integer>-94</integer>
    <key>public.kern2.quoteright</key>
    <integer>-50</integer>
    <key>public.kern2.v</key>
    <integer>-104</integer>
  </dict>
  <key>Zecyr</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-20</integer>
  </dict>
  <key>acyr</key>
  <dict>
    <key>djecyr</key>
    <integer>-30</integer>
    <key>tshecyr</key>
    <integer>-30</integer>
    <key>public.kern2.uni043C</key>
    <integer>-30</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>comma</key>
    <integer>-45</integer>
    <key>period</key>
    <integer>-23</integer>
    <key>public.kern2.B</key>
    <integer>-20</integer>
    <key>public.kern2.v</key>
    <integer>-30</integer>
  </dict>
  <key>becyr</key>
  <dict>
    <key>comma</key>
    <integer>-54</integer>
    <key>hacyr</key>
    <integer>-69</integer>
    <key>period</key>
    <integer>-30</integer>
    <key>public.kern2.uni043B</key>
    <integer>-49</integer>
    <key>public.kern2.uni0443</key>
    <integer>-35</integer>
  </dict>
  <key>colon</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-59</integer>
    <key>Tecyr</key>
    <integer>-79</integer>
    <key>Tshecyr</key>
    <integer>-79</integer>
  </dict>
  <key>comma</key>
  <dict>
    <key>Checyr</key>
    <integer>-95</integer>
    <key>Efcyr</key>
    <integer>-30</integer>
    <key>Tecyr</key>
    <integer>-15</integer>
    <key>Tshecyr</key>
    <integer>-22</integer>
    <key>checyr</key>
    <integer>-103</integer>
    <key>hardcyr</key>
    <integer>-30</integer>
    <key>public.kern2.uni0443</key>
    <integer>-45</integer>
  </dict>
  <key>d</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-34</integer>
    <key>public.kern2.v</key>
    <integer>-35</integer>
  </dict>
  <key>decyr</key>
  <dict>
    <key>comma</key>
    <integer>-63</integer>
    <key>period</key>
    <integer>-35</integer>
    <key>public.kern2.B</key>
    <integer>-129</integer>
    <key>public.kern2.uni043C</key>
    <integer>-20</integer>
  </dict>
  <key>djecyr</key>
  <dict>
    <key>public.kern2.uni0443</key>
    <integer>-25</integer>
  </dict>
  <key>efcyr</key>
  <dict>
    <key>comma</key>
    <integer>-54</integer>
    <key>period</key>
    <integer>-20</integer>
    <key>public.kern2.uni043B</key>
    <integer>-40</integer>
    <key>public.kern2.uni0443</key>
    <integer>-30</integer>
  </dict>
  <key>elcyr</key>
  <dict>
    <key>zhecyr</key>
    <integer>-45</integer>
    <key>public.kern2.uni043C</key>
    <integer>-30</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
  </dict>
  <key>ercyr</key>
  <dict>
    <key>comma</key>
    <integer>-45</integer>
    <key>hacyr</key>
    <integer>-64</integer>
    <key>period</key>
    <integer>-23</integer>
    <key>zhecyr</key>
    <integer>-49</integer>
    <key>public.kern2.uni043B</key>
    <integer>-44</integer>
    <key>public.kern2.uni0443</key>
    <integer>-30</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>comma</key>
    <integer>-103</integer>
    <key>period</key>
    <integer>-82</integer>
    <key>public.kern2.B</key>
    <integer>-69</integer>
    <key>public.kern2.a</key>
    <integer>-59</integer>
    <key>public.kern2.quoteright</key>
    <integer>-16</integer>
  </dict>
  <key>hacyr</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-54</integer>
    <key>public.kern2.uni0435</key>
    <integer>-69</integer>
    <key>public.kern2.uni043E</key>
    <integer>-69</integer>
  </dict>
  <key>ljecyr</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-127</integer>
    <key>public.kern2.quoteright</key>
    <integer>-49</integer>
    <key>public.kern2.uni0443</key>
    <integer>-35</integer>
  </dict>
  <key>lslash</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-25</integer>
    <key>public.kern2.v</key>
    <integer>-25</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>comma</key>
    <integer>-45</integer>
    <key>period</key>
    <integer>-23</integer>
    <key>public.kern2.B</key>
    <integer>-34</integer>
    <key>public.kern2.v</key>
    <integer>-30</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>checyr</key>
    <integer>-99</integer>
    <key>hardcyr</key>
    <integer>-89</integer>
    <key>public.kern2.B</key>
    <integer>-119</integer>
    <key>public.kern2.a</key>
    <integer>-153</integer>
    <key>public.kern2.uni043C</key>
    <integer>-104</integer>
  </dict>
  <key>q</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-20</integer>
  </dict>
  <key>question</key>
  <dict>
    <key>Jecyr</key>
    <integer>-109</integer>
    <key>Zhecyr</key>
    <integer>-109</integer>
    <key>public.kern2.uni0409</key>
    <integer>-109</integer>
    <key>public.kern2.uni0410</key>
    <integer>-124</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>Tecyr</key>
    <integer>-99</integer>
    <key>Tshecyr</key>
    <integer>-99</integer>
    <key>escyr</key>
    <integer>-40</integer>
    <key>public.kern2.Ocyr</key>
    <integer>-25</integer>
    <key>public.kern2.T2</key>
    <integer>-99</integer>
    <key>public.kern2.uni041E</key>
    <integer>-25</integer>
    <key>public.kern2.uni0435</key>
    <integer>-40</integer>
    <key>public.kern2.uni043E</key>
    <integer>-40</integer>
    <key>public.kern2.uni0443</key>
    <integer>-40</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-84</integer>
    <key>J</key>
    <integer>-17</integer>
  </dict>
  <key>quoteleft</key>
  <dict>
    <key>A</key>
    <integer>-119</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-73</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>A</key>
    <integer>-153</integer>
    <key>Decyr</key>
    <integer>-131</integer>
    <key>Jecyr</key>
    <integer>-160</integer>
    <key>acyr</key>
    <integer>-59</integer>
    <key>decyr</key>
    <integer>-59</integer>
    <key>efcyr</key>
    <integer>-59</integer>
    <key>escyr</key>
    <integer>-64</integer>
    <key>public.kern2.uni0409</key>
    <integer>-106</integer>
    <key>public.kern2.uni0410</key>
    <integer>-153</integer>
    <key>public.kern2.uni0435</key>
    <integer>-64</integer>
    <key>public.kern2.uni043B</key>
    <integer>-115</integer>
    <key>public.kern2.uni043E</key>
    <integer>-64</integer>
  </dict>
  <key>semicolon</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-45</integer>
    <key>Tecyr</key>
    <integer>-64</integer>
    <key>Tshecyr</key>
    <integer>-69</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>Decyr</key>
    <integer>-160</integer>
    <key>Jecyr</key>
    <integer>-153</integer>
    <key>acyr</key>
    <integer>-129</integer>
    <key>becyr</key>
    <integer>-104</integer>
    <key>decyr</key>
    <integer>-104</integer>
    <key>efcyr</key>
    <integer>-124</integer>
    <key>ercyr</key>
    <integer>-149</integer>
    <key>ereversedcyr</key>
    <integer>-124</integer>
    <key>escyr</key>
    <integer>-129</integer>
    <key>njecyr</key>
    <integer>-124</integer>
    <key>shacyr</key>
    <integer>-99</integer>
    <key>shchacyr</key>
    <integer>-99</integer>
    <key>tsecyr</key>
    <integer>-99</integer>
    <key>vecyr</key>
    <integer>-124</integer>
    <key>yacyr</key>
    <integer>-149</integer>
    <key>yucyr</key>
    <integer>-124</integer>
    <key>zecyr</key>
    <integer>-129</integer>
    <key>zhecyr</key>
    <integer>-143</integer>
    <key>public.kern2.uni0409</key>
    <integer>-153</integer>
    <key>public.kern2.uni0410</key>
    <integer>-160</integer>
    <key>public.kern2.uni0433</key>
    <integer>-114</integer>
    <key>public.kern2.uni0435</key>
    <integer>-129</integer>
    <key>public.kern2.uni0438</key>
    <integer>-99</integer>
    <key>public.kern2.uni043A</key>
    <integer>-124</integer>
    <key>public.kern2.uni043B</key>
    <integer>-160</integer>
    <key>public.kern2.uni043C</key>
    <integer>-124</integer>
    <key>public.kern2.uni043E</key>
    <integer>-129</integer>
    <key>public.kern2.uni043F</key>
    <integer>-124</integer>
  </dict>
  <key>softcyr</key>
  <dict>
    <key>zhecyr</key>
    <integer>-34</integer>
    <key>public.kern2.B</key>
    <integer>-127</integer>
    <key>public.kern2.quoteright</key>
    <integer>-49</integer>
  </dict>
  <key>tecyr</key>
  <dict>
    <key>comma</key>
    <integer>-23</integer>
    <key>yacyr</key>
    <integer>-25</integer>
    <key>public.kern2.uni043B</key>
    <integer>-20</integer>
    <key>public.kern2.uni043C</key>
    <integer>-16</integer>
    <key>public.kern2.uni0443</key>
    <integer>-30</integer>
  </dict>
  <key>tshecyr</key>
  <dict>
    <key>public.kern2.uni0443</key>
    <integer>-25</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>comma</key>
    <integer>-115</integer>
    <key>period</key>
    <integer>-92</integer>
    <key>public.kern2.B</key>
    <integer>-45</integer>
    <key>public.kern2.a</key>
    <integer>-49</integer>
  </dict>
  <key>vecyr</key>
  <dict>
    <key>comma</key>
    <integer>-45</integer>
    <key>period</key>
    <integer>-20</integer>
    <key>public.kern2.uni0443</key>
    <integer>-25</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-54</integer>
    <key>public.kern2.a</key>
    <integer>-69</integer>
  </dict>
  <key>yucyr</key>
  <dict>
    <key>comma</key>
    <integer>-54</integer>
    <key>hacyr</key>
    <integer>-69</integer>
    <key>period</key>
    <integer>-30</integer>
  </dict>
  <key>zecyr</key>
  <dict>
    <key>comma</key>
    <integer>-37</integer>
  </dict>
  <key>zhecyr</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-37</integer>
    <key>public.kern2.uni0435</key>
    <integer>-45</integer>
    <key>public.kern2.uni043E</key>
    <integer>-45</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-84</integer>
    <key>public.kern2.W2</key>
    <integer>-59</integer>
    <key>public.kern2.quoteright</key>
    <integer>-84</integer>
    <key>public.kern2.v</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.AE</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-49</integer>
    <key>public.kern2.a</key>
    <integer>-84</integer>
  </dict>
  <key>public.kern1.C1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-20</integer>
    <key>public.kern2.a</key>
    <integer>-25</integer>
    <key>public.kern2.v</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>comma</key>
    <integer>-84</integer>
    <key>period</key>
    <integer>-55</integer>
    <key>public.kern2.A2</key>
    <integer>-74</integer>
    <key>public.kern2.T2</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.E</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-40</integer>
    <key>public.kern2.a</key>
    <integer>-49</integer>
    <key>public.kern2.v</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.Eth1</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-79</integer>
  </dict>
  <key>public.kern1.G1</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-35</integer>
    <key>public.kern2.B</key>
    <integer>-35</integer>
    <key>public.kern2.T2</key>
    <integer>-25</integer>
    <key>public.kern2.v</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.H</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-46</integer>
    <key>public.kern2.a</key>
    <integer>-34</integer>
    <key>public.kern2.v</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.Hardcyr</key>
  <dict>
    <key>Hacyr</key>
    <integer>-49</integer>
    <key>Tecyr</key>
    <integer>-49</integer>
    <key>Zhecyr</key>
    <integer>-40</integer>
    <key>public.kern2.B</key>
    <integer>-89</integer>
    <key>public.kern2.quoteright</key>
    <integer>-55</integer>
  </dict>
  <key>public.kern1.I</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-64</integer>
    <key>public.kern2.B</key>
    <integer>-37</integer>
    <key>public.kern2.a</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.J1</key>
  <dict>
    <key>comma</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-55</integer>
    <key>public.kern2.A2</key>
    <integer>-99</integer>
    <key>public.kern2.B</key>
    <integer>-99</integer>
    <key>public.kern2.a</key>
    <integer>-40</integer>
    <key>public.kern2.v</key>
    <integer>-45</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-106</integer>
    <key>public.kern2.a</key>
    <integer>-99</integer>
    <key>public.kern2.v</key>
    <integer>-130</integer>
  </dict>
  <key>public.kern1.O1</key>
  <dict>
    <key>comma</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-46</integer>
    <key>public.kern2.A2</key>
    <integer>-74</integer>
    <key>public.kern2.B</key>
    <integer>-94</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-40</integer>
    <key>public.kern2.v</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.S1</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-54</integer>
    <key>public.kern2.B</key>
    <integer>-54</integer>
    <key>public.kern2.a</key>
    <integer>-30</integer>
    <key>public.kern2.quoteright</key>
    <integer>-25</integer>
    <key>public.kern2.v</key>
    <integer>-64</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>colon</key>
    <integer>-160</integer>
    <key>comma</key>
    <integer>-118</integer>
    <key>i</key>
    <integer>-130</integer>
    <key>j</key>
    <integer>-130</integer>
    <key>l</key>
    <integer>-130</integer>
    <key>period</key>
    <integer>-106</integer>
    <key>semicolon</key>
    <integer>-160</integer>
    <key>public.kern2.A2</key>
    <integer>-84</integer>
    <key>public.kern2.B</key>
    <integer>-94</integer>
    <key>public.kern2.a</key>
    <integer>-58</integer>
    <key>public.kern2.v</key>
    <integer>-62</integer>
  </dict>
  <key>public.kern1.U1</key>
  <dict>
    <key>comma</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-55</integer>
    <key>public.kern2.A2</key>
    <integer>-99</integer>
    <key>public.kern2.B</key>
    <integer>-40</integer>
    <key>public.kern2.a</key>
    <integer>-59</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-170</integer>
    <key>public.kern2.a</key>
    <integer>-109</integer>
    <key>public.kern2.v</key>
    <integer>-79</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>cent</key>
    <integer>-31</integer>
    <key>colon</key>
    <integer>-99</integer>
    <key>comma</key>
    <integer>-118</integer>
    <key>period</key>
    <integer>-95</integer>
    <key>semicolon</key>
    <integer>-124</integer>
    <key>public.kern2.A2</key>
    <integer>-157</integer>
    <key>public.kern2.B</key>
    <integer>-64</integer>
    <key>public.kern2.a</key>
    <integer>-89</integer>
    <key>public.kern2.v</key>
    <integer>-64</integer>
  </dict>
  <key>public.kern1.Z1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-64</integer>
    <key>public.kern2.a</key>
    <integer>-55</integer>
    <key>public.kern2.v</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.ae1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.c1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.e1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-44</integer>
  </dict>
  <key>public.kern1.g1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.guillemotleft1</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-37</integer>
    <key>Tecyr</key>
    <integer>-55</integer>
    <key>Tshecyr</key>
    <integer>-55</integer>
    <key>Yacyr</key>
    <integer>-55</integer>
    <key>Zhecyr</key>
    <integer>-49</integer>
    <key>public.kern2.T2</key>
    <integer>-55</integer>
    <key>public.kern2.uni0409</key>
    <integer>-40</integer>
    <key>public.kern2.uni040E</key>
    <integer>-35</integer>
    <key>public.kern2.uni0410</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.h1</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.i1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-37</integer>
    <key>public.kern2.v</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.iacute</key>
  <dict>
    <key>public.kern2.uni043A</key>
    <integer>60</integer>
    <key>public.kern2.v</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.j1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-64</integer>
    <key>public.kern2.a</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.k</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-69</integer>
  </dict>
  <key>public.kern1.l1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-20</integer>
    <key>public.kern2.a</key>
    <integer>-25</integer>
    <key>public.kern2.v</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.m</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-16</integer>
    <key>public.kern2.v</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.minus1</key>
  <dict>
    <key>Decyr</key>
    <integer>-55</integer>
    <key>Ereversedcyr</key>
    <integer>-74</integer>
    <key>Hacyr</key>
    <integer>-64</integer>
    <key>Jecyr</key>
    <integer>-106</integer>
    <key>Tecyr</key>
    <integer>-29</integer>
    <key>Tshecyr</key>
    <integer>-29</integer>
    <key>Yacyr</key>
    <integer>-55</integer>
    <key>Zecyr</key>
    <integer>-74</integer>
    <key>Zhecyr</key>
    <integer>-46</integer>
    <key>hacyr</key>
    <integer>-63</integer>
    <key>hardcyr</key>
    <integer>-16</integer>
    <key>zhecyr</key>
    <integer>-54</integer>
    <key>public.kern2.A2</key>
    <integer>-37</integer>
    <key>public.kern2.B</key>
    <integer>-64</integer>
    <key>public.kern2.T2</key>
    <integer>-29</integer>
    <key>public.kern2.uni0409</key>
    <integer>-37</integer>
    <key>public.kern2.uni040E</key>
    <integer>-15</integer>
    <key>public.kern2.uni0410</key>
    <integer>-37</integer>
    <key>public.kern2.uni043B</key>
    <integer>-45</integer>
  </dict>
  <key>public.kern1.n1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-16</integer>
    <key>public.kern2.v</key>
    <integer>-25</integer>
  </dict>
  <key>public.kern1.o1</key>
  <dict>
    <key>comma</key>
    <integer>-54</integer>
    <key>period</key>
    <integer>-25</integer>
    <key>public.kern2.B</key>
    <integer>-64</integer>
    <key>public.kern2.a</key>
    <integer>-94</integer>
  </dict>
  <key>public.kern1.oslash1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-94</integer>
  </dict>
  <key>public.kern1.period</key>
  <dict>
    <key>Checyr</key>
    <integer>-84</integer>
    <key>Efcyr</key>
    <integer>-25</integer>
    <key>checyr</key>
    <integer>-35</integer>
    <key>hardcyr</key>
    <integer>-23</integer>
    <key>public.kern2.uni0443</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.quotedblbase1</key>
  <dict>
    <key>Checyr</key>
    <integer>-106</integer>
    <key>Efcyr</key>
    <integer>-35</integer>
    <key>Tecyr</key>
    <integer>-22</integer>
    <key>Tshecyr</key>
    <integer>-22</integer>
    <key>checyr</key>
    <integer>-103</integer>
    <key>hardcyr</key>
    <integer>-35</integer>
    <key>public.kern2.T2</key>
    <integer>-22</integer>
    <key>public.kern2.uni0443</key>
    <integer>-45</integer>
    <key>public.kern2.v</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.quoteleft1</key>
  <dict>
    <key>Decyr</key>
    <integer>-106</integer>
    <key>Jecyr</key>
    <integer>-160</integer>
    <key>Yacyr</key>
    <integer>-64</integer>
    <key>acyr</key>
    <integer>-25</integer>
    <key>decyr</key>
    <integer>-30</integer>
    <key>efcyr</key>
    <integer>-25</integer>
    <key>ereversedcyr</key>
    <integer>-20</integer>
    <key>escyr</key>
    <integer>-30</integer>
    <key>yacyr</key>
    <integer>-50</integer>
    <key>zecyr</key>
    <integer>-25</integer>
    <key>public.kern2.a</key>
    <integer>-25</integer>
    <key>public.kern2.uni0409</key>
    <integer>-95</integer>
    <key>public.kern2.uni0410</key>
    <integer>-119</integer>
    <key>public.kern2.uni0435</key>
    <integer>-30</integer>
    <key>public.kern2.uni043B</key>
    <integer>-92</integer>
    <key>public.kern2.uni043E</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.r1</key>
  <dict>
    <key>comma</key>
    <integer>-115</integer>
    <key>period</key>
    <integer>-103</integer>
    <key>public.kern2.B</key>
    <integer>35</integer>
    <key>public.kern2.a</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.s1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.t1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-45</integer>
    <key>public.kern2.a</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.u1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.uni04001</key>
  <dict>
    <key>Efcyr</key>
    <integer>-34</integer>
    <key>Hacyr</key>
    <integer>-69</integer>
    <key>Yacyr</key>
    <integer>-69</integer>
    <key>Zhecyr</key>
    <integer>-69</integer>
    <key>public.kern2.Ocyr</key>
    <integer>-40</integer>
    <key>public.kern2.uni0400</key>
    <integer>-64</integer>
    <key>public.kern2.uni0409</key>
    <integer>-64</integer>
    <key>public.kern2.uni0410</key>
    <integer>-69</integer>
    <key>public.kern2.uni041E</key>
    <integer>-40</integer>
    <key>public.kern2.uni043C</key>
    <integer>-64</integer>
  </dict>
  <key>public.kern1.uni0403</key>
  <dict>
    <key>Decyr</key>
    <integer>-143</integer>
    <key>acyr</key>
    <integer>-130</integer>
    <key>colon</key>
    <integer>-160</integer>
    <key>comma</key>
    <integer>-157</integer>
    <key>decyr</key>
    <integer>-84</integer>
    <key>ercyr</key>
    <integer>-130</integer>
    <key>hardcyr</key>
    <integer>-130</integer>
    <key>period</key>
    <integer>-143</integer>
    <key>semicolon</key>
    <integer>-160</integer>
    <key>public.kern2.B</key>
    <integer>-118</integer>
    <key>public.kern2.uni0400</key>
    <integer>-59</integer>
    <key>public.kern2.uni0409</key>
    <integer>-124</integer>
    <key>public.kern2.uni0410</key>
    <integer>-170</integer>
    <key>public.kern2.uni041E</key>
    <integer>-54</integer>
    <key>public.kern2.uni0435</key>
    <integer>-130</integer>
    <key>public.kern2.uni043B</key>
    <integer>-130</integer>
    <key>public.kern2.uni043C</key>
    <integer>-130</integer>
    <key>public.kern2.uni043E</key>
    <integer>-130</integer>
    <key>public.kern2.uni0443</key>
    <integer>-130</integer>
  </dict>
  <key>public.kern1.uni0406</key>
  <dict>
    <key>ercyr</key>
    <integer>-68</integer>
    <key>escyr</key>
    <integer>-34</integer>
    <key>vecyr</key>
    <integer>-34</integer>
    <key>public.kern2.uni0400</key>
    <integer>-37</integer>
    <key>public.kern2.uni0435</key>
    <integer>-34</integer>
    <key>public.kern2.uni043C</key>
    <integer>-41</integer>
    <key>public.kern2.uni043E</key>
    <integer>-34</integer>
    <key>public.kern2.uni0443</key>
    <integer>-35</integer>
  </dict>
  <key>public.kern1.uni040C</key>
  <dict>
    <key>Checyr</key>
    <integer>-15</integer>
    <key>Decyr</key>
    <integer>-69</integer>
    <key>acyr</key>
    <integer>-64</integer>
    <key>ercyr</key>
    <integer>-79</integer>
    <key>hardcyr</key>
    <integer>-84</integer>
    <key>vecyr</key>
    <integer>-64</integer>
    <key>public.kern2.B</key>
    <integer>-37</integer>
    <key>public.kern2.Ocyr</key>
    <integer>-69</integer>
    <key>public.kern2.quoteright</key>
    <integer>-55</integer>
    <key>public.kern2.uni041E</key>
    <integer>-69</integer>
    <key>public.kern2.uni0435</key>
    <integer>-64</integer>
    <key>public.kern2.uni0438</key>
    <integer>-59</integer>
    <key>public.kern2.uni043B</key>
    <integer>-55</integer>
    <key>public.kern2.uni043C</key>
    <integer>-55</integer>
    <key>public.kern2.uni043E</key>
    <integer>-64</integer>
    <key>public.kern2.uni0443</key>
    <integer>-109</integer>
  </dict>
  <key>public.kern1.uni040E1</key>
  <dict>
    <key>Checyr</key>
    <integer>-15</integer>
    <key>Decyr</key>
    <integer>-149</integer>
    <key>Efcyr</key>
    <integer>-79</integer>
    <key>Jecyr</key>
    <integer>-139</integer>
    <key>Yacyr</key>
    <integer>-114</integer>
    <key>becyr</key>
    <integer>-84</integer>
    <key>checyr</key>
    <integer>-64</integer>
    <key>colon</key>
    <integer>-114</integer>
    <key>comma</key>
    <integer>-143</integer>
    <key>decyr</key>
    <integer>-89</integer>
    <key>ercyr</key>
    <integer>-129</integer>
    <key>escyr</key>
    <integer>-109</integer>
    <key>hacyr</key>
    <integer>-109</integer>
    <key>period</key>
    <integer>-131</integer>
    <key>semicolon</key>
    <integer>-139</integer>
    <key>shacyr</key>
    <integer>-79</integer>
    <key>vecyr</key>
    <integer>-104</integer>
    <key>yacyr</key>
    <integer>-129</integer>
    <key>zecyr</key>
    <integer>-109</integer>
    <key>public.kern2.B</key>
    <integer>-64</integer>
    <key>public.kern2.Ocyr</key>
    <integer>-79</integer>
    <key>public.kern2.uni0400</key>
    <integer>-64</integer>
    <key>public.kern2.uni0409</key>
    <integer>-134</integer>
    <key>public.kern2.uni0410</key>
    <integer>-170</integer>
    <key>public.kern2.uni041E</key>
    <integer>-79</integer>
    <key>public.kern2.uni0433</key>
    <integer>-99</integer>
    <key>public.kern2.uni043A</key>
    <integer>-104</integer>
    <key>public.kern2.uni043B</key>
    <integer>-130</integer>
    <key>public.kern2.uni043C</key>
    <integer>-104</integer>
    <key>public.kern2.uni043E</key>
    <integer>-114</integer>
    <key>public.kern2.uni043F</key>
    <integer>-104</integer>
  </dict>
  <key>public.kern1.uni04101</key>
  <dict>
    <key>Checyr</key>
    <integer>-15</integer>
    <key>Djecyr</key>
    <integer>-30</integer>
    <key>Tecyr</key>
    <integer>-30</integer>
    <key>Tshecyr</key>
    <integer>-30</integer>
    <key>public.kern2.B</key>
    <integer>-25</integer>
    <key>public.kern2.quoteright</key>
    <integer>-25</integer>
    <key>public.kern2.uni0443</key>
    <integer>-41</integer>
  </dict>
  <key>public.kern1.uni041C</key>
  <dict>
    <key>public.kern2.uni0400</key>
    <integer>-46</integer>
    <key>public.kern2.uni0435</key>
    <integer>-34</integer>
    <key>public.kern2.uni043E</key>
    <integer>-40</integer>
    <key>public.kern2.uni0443</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni041E1</key>
  <dict>
    <key>Decyr</key>
    <integer>-74</integer>
    <key>Hacyr</key>
    <integer>-94</integer>
    <key>Yacyr</key>
    <integer>-70</integer>
    <key>Zhecyr</key>
    <integer>-74</integer>
    <key>comma</key>
    <integer>-74</integer>
    <key>period</key>
    <integer>-46</integer>
    <key>public.kern2.B</key>
    <integer>-143</integer>
    <key>public.kern2.uni0409</key>
    <integer>-69</integer>
    <key>public.kern2.uni040E</key>
    <integer>-25</integer>
    <key>public.kern2.uni0410</key>
    <integer>-74</integer>
    <key>public.kern2.uni043B</key>
    <integer>-78</integer>
  </dict>
  <key>public.kern1.uni04261</key>
  <dict>
    <key>Hacyr</key>
    <integer>-15</integer>
    <key>Yacyr</key>
    <integer>-15</integer>
    <key>public.kern2.uni0409</key>
    <integer>-15</integer>
    <key>public.kern2.uni0410</key>
    <integer>-15</integer>
    <key>public.kern2.uni043B</key>
    <integer>-15</integer>
    <key>public.kern2.uni0443</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni04331</key>
  <dict>
    <key>comma</key>
    <integer>-30</integer>
    <key>public.kern2.uni043B</key>
    <integer>-20</integer>
    <key>public.kern2.uni043C</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.uni04381</key>
  <dict>
    <key>hacyr</key>
    <integer>-45</integer>
  </dict>
  <key>public.kern1.uni043A1</key>
  <dict>
    <key>escyr</key>
    <integer>-49</integer>
    <key>public.kern2.B</key>
    <integer>-37</integer>
    <key>public.kern2.uni0435</key>
    <integer>-49</integer>
    <key>public.kern2.uni043E</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.uni043E1</key>
  <dict>
    <key>comma</key>
    <integer>-54</integer>
    <key>hacyr</key>
    <integer>-64</integer>
    <key>period</key>
    <integer>-25</integer>
    <key>zhecyr</key>
    <integer>-44</integer>
    <key>public.kern2.uni043B</key>
    <integer>-44</integer>
    <key>public.kern2.uni0443</key>
    <integer>-30</integer>
  </dict>
  <key>public.kern1.uni04431</key>
  <dict>
    <key>acyr</key>
    <integer>-54</integer>
    <key>comma</key>
    <integer>-115</integer>
    <key>decyr</key>
    <integer>-54</integer>
    <key>efcyr</key>
    <integer>-49</integer>
    <key>escyr</key>
    <integer>-54</integer>
    <key>period</key>
    <integer>-92</integer>
    <key>yacyr</key>
    <integer>-74</integer>
    <key>public.kern2.B</key>
    <integer>-160</integer>
    <key>public.kern2.uni0435</key>
    <integer>-54</integer>
    <key>public.kern2.uni043B</key>
    <integer>-109</integer>
    <key>public.kern2.uni043C</key>
    <integer>-49</integer>
    <key>public.kern2.uni043E</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1.uni0446</key>
  <dict>
    <key>comma</key>
    <integer>-16</integer>
    <key>public.kern2.B</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1.uni044A</key>
  <dict>
    <key>hacyr</key>
    <integer>-49</integer>
    <key>zhecyr</key>
    <integer>-34</integer>
    <key>public.kern2.uni0443</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.w1</key>
  <dict>
    <key>comma</key>
    <integer>-103</integer>
    <key>period</key>
    <integer>-82</integer>
    <key>public.kern2.B</key>
    <integer>-45</integer>
    <key>public.kern2.a</key>
    <integer>-44</integer>
  </dict>
  <key>public.kern1.y1</key>
  <dict>
    <key>comma</key>
    <integer>-115</integer>
    <key>period</key>
    <integer>-92</integer>
    <key>public.kern2.B</key>
    <integer>-49</integer>
    <key>public.kern2.a</key>
    <integer>-54</integer>
  </dict>
  <key>public.kern1.z1</key>
  <dict>
    <key>public.kern2.B</key>
    <integer>-40</integer>
    <key>public.kern2.a</key>
    <integer>-35</integer>
  </dict>
</dict>
</plist>
