<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>locl_ss02</key>
  <array>
    <string>Decyr</string>
    <string>Elcyr</string>
    <string>vecyr</string>
    <string>gecyr</string>
    <string>decyr</string>
    <string>zhecyr</string>
    <string>zecyr</string>
    <string>icyr</string>
    <string>ishortcyr</string>
    <string>kacyr</string>
    <string>elcyr</string>
    <string>pecyr</string>
    <string>tecyr</string>
    <string>tsecyr</string>
    <string>shacyr</string>
    <string>shchacyr</string>
    <string>hardcyr</string>
    <string>ylongcyr</string>
    <string>softcyr</string>
    <string>yucyr</string>
  </array>
  <key>locl_ss022</key>
  <array>
    <string>Decyr.loclBGR</string>
    <string>Elcyr.loclBGR</string>
    <string>vecyr.loclBGR</string>
    <string>gecyr.loclBGR</string>
    <string>decyr.loclBGR</string>
    <string>zhecyr.loclBGR</string>
    <string>zecyr.loclBGR</string>
    <string>icyr.loclBGR</string>
    <string>ishortcyr.loclBGR</string>
    <string>kacyr.loclBGR</string>
    <string>elcyr.loclBGR</string>
    <string>pecyr.loclBGR</string>
    <string>tecyr.loclBGR</string>
    <string>tsecyr.loclBGR</string>
    <string>shacyr.loclBGR</string>
    <string>shchacyr.loclBGR</string>
    <string>hardcyr.loclBGR</string>
    <string>ylongcyr.loclBGR</string>
    <string>softcyr.loclBGR</string>
    <string>yucyr.loclBGR</string>
  </array>
  <key>numr</key>
  <array>
    <string>zero.numr</string>
    <string>one.numr</string>
    <string>two.numr</string>
    <string>three.numr</string>
    <string>four.numr</string>
    <string>five.numr</string>
    <string>six.numr</string>
    <string>seven.numr</string>
    <string>eight.numr</string>
    <string>nine.numr</string>
  </array>
  <key>public.kern1.A</key>
  <array>
    <string>A</string>
    <string>L</string>
  </array>
  <key>public.kern1.T</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern1.V</key>
  <array>
    <string>V</string>
  </array>
  <key>public.kern1.W</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.A2</key>
  <array>
    <string>A</string>
  </array>
  <key>public.kern2.B</key>
  <array>
    <string>.notdef</string>
    <string>AE</string>
    <string>AEacute</string>
    <string>Aacute</string>
    <string>Abreve</string>
    <string>Acircumflex</string>
    <string>Adieresis</string>
    <string>Agrave</string>
    <string>Amacron</string>
    <string>Aogonek</string>
    <string>Aring</string>
    <string>Aringacute</string>
    <string>Atilde</string>
    <string>B</string>
    <string>C</string>
    <string>Cacute</string>
    <string>Ccaron</string>
    <string>Ccedilla</string>
    <string>Ccircumflex</string>
    <string>Cdotaccent</string>
    <string>D</string>
    <string>Dcaron</string>
    <string>Dcroat</string>
    <string>E</string>
    <string>Eacute</string>
    <string>Ebreve</string>
    <string>Ecaron</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Edotaccent</string>
    <string>Egrave</string>
    <string>Emacron</string>
    <string>Eng</string>
    <string>Eogonek</string>
    <string>Eth</string>
    <string>Euro</string>
    <string>F</string>
    <string>G</string>
    <string>Gbreve</string>
    <string>Gcircumflex</string>
    <string>Gdotaccent</string>
    <string>Germandbls</string>
    <string>H</string>
    <string>Hbar</string>
    <string>Hcircumflex</string>
    <string>I</string>
    <string>IJ</string>
    <string>Iacute</string>
    <string>Ibreve</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Idotaccent</string>
    <string>Igrave</string>
    <string>Imacron</string>
    <string>Iogonek</string>
    <string>Itilde</string>
    <string>J</string>
    <string>Jcircumflex</string>
    <string>K</string>
    <string>L</string>
    <string>Lacute</string>
    <string>Lcaron</string>
    <string>Ldot</string>
    <string>Lslash</string>
    <string>M</string>
    <string>N</string>
    <string>Nacute</string>
    <string>Ncaron</string>
    <string>Ntilde</string>
    <string>O</string>
    <string>OE</string>
    <string>Oacute</string>
    <string>Obreve</string>
    <string>Ocircumflex</string>
    <string>Odieresis</string>
    <string>Ograve</string>
    <string>Ohorn</string>
    <string>Ohungarumlaut</string>
    <string>Omacron</string>
    <string>Oslash</string>
    <string>Oslashacute</string>
    <string>Otilde</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>Racute</string>
    <string>Rcaron</string>
    <string>S</string>
    <string>Sacute</string>
    <string>Scaron</string>
    <string>Scedilla</string>
    <string>Scircumflex</string>
    <string>Thorn</string>
    <string>U</string>
    <string>Uacute</string>
    <string>Ubreve</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Ugrave</string>
    <string>Uhorn</string>
    <string>Uhungarumlaut</string>
    <string>Umacron</string>
    <string>Uogonek</string>
    <string>Uring</string>
    <string>Utilde</string>
    <string>X</string>
    <string>Z</string>
    <string>Zacute</string>
    <string>Zcaron</string>
    <string>Zdotaccent</string>
    <string>aacute</string>
    <string>abreve</string>
    <string>acircumflex</string>
    <string>acute</string>
    <string>acutecomb</string>
    <string>adieresis</string>
    <string>aeacute</string>
    <string>agrave</string>
    <string>amacron</string>
    <string>ampersand</string>
    <string>aogonek</string>
    <string>approxequal</string>
    <string>aring</string>
    <string>aringacute</string>
    <string>arrowleft</string>
    <string>arrowright</string>
    <string>asciicircum</string>
    <string>asciitilde</string>
    <string>asterisk</string>
    <string>at</string>
    <string>atilde</string>
    <string>b</string>
    <string>backslash</string>
    <string>bar</string>
    <string>braceleft</string>
    <string>braceright</string>
    <string>bracketleft</string>
    <string>bracketright</string>
    <string>breve</string>
    <string>brokenbar</string>
    <string>bullet</string>
    <string>caron</string>
    <string>ccircumflex</string>
    <string>cedilla</string>
    <string>circumflex</string>
    <string>colon</string>
    <string>comma</string>
    <string>copyright</string>
    <string>currency</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>degree</string>
    <string>dieresis</string>
    <string>divide</string>
    <string>dollar</string>
    <string>dotaccent</string>
    <string>dotbelowcomb</string>
    <string>dotlessi</string>
    <string>ebreve</string>
    <string>eight</string>
    <string>ellipsis</string>
    <string>emdash</string>
    <string>endash</string>
    <string>eng</string>
    <string>equal</string>
    <string>exclam</string>
    <string>exclamdown</string>
    <string>f_f</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>fi</string>
    <string>five</string>
    <string>fl</string>
    <string>florin</string>
    <string>four</string>
    <string>fraction</string>
    <string>g.ss01</string>
    <string>gbreve.ss01</string>
    <string>gcircumflex</string>
    <string>gdotaccent.ss01</string>
    <string>germandbls</string>
    <string>grave</string>
    <string>gravecomb</string>
    <string>greater</string>
    <string>greaterequal</string>
    <string>guillemotleft</string>
    <string>guillemotright</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>h</string>
    <string>hbar</string>
    <string>hcircumflex</string>
    <string>hookabovecomb</string>
    <string>hungarumlaut</string>
    <string>hyphen</string>
    <string>i.loclTRK</string>
    <string>iacute</string>
    <string>ibreve</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>igrave</string>
    <string>ij</string>
    <string>imacron</string>
    <string>integral</string>
    <string>iogonek</string>
    <string>itilde</string>
    <string>jcircumflex</string>
    <string>k</string>
    <string>kgreenlandic</string>
    <string>lacute</string>
    <string>lcaron</string>
    <string>ldot</string>
    <string>less</string>
    <string>lessequal</string>
    <string>logicalnot</string>
    <string>longs</string>
    <string>lozenge</string>
    <string>lslash</string>
    <string>m</string>
    <string>macron</string>
    <string>minus</string>
    <string>multiply</string>
    <string>n</string>
    <string>nacute</string>
    <string>napostrophe</string>
    <string>ncaron</string>
    <string>nine</string>
    <string>notequal</string>
    <string>ntilde</string>
    <string>numbersign</string>
    <string>obreve</string>
    <string>ogonek</string>
    <string>ohorn</string>
    <string>one</string>
    <string>onesuperior</string>
    <string>ordfeminine</string>
    <string>ordmasculine</string>
    <string>oslashacute</string>
    <string>p</string>
    <string>paragraph</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>percent</string>
    <string>period</string>
    <string>periodcentered</string>
    <string>perthousand</string>
    <string>pi</string>
    <string>plus</string>
    <string>plusminus</string>
    <string>product</string>
    <string>question</string>
    <string>questiondown</string>
    <string>quotedbl</string>
    <string>quotedblbase</string>
    <string>quotedblleft</string>
    <string>quoteleft</string>
    <string>quotesinglbase</string>
    <string>quotesingle</string>
    <string>r</string>
    <string>racute</string>
    <string>radical</string>
    <string>rcaron</string>
    <string>registered</string>
    <string>ring</string>
    <string>sacute</string>
    <string>scaron</string>
    <string>scedilla</string>
    <string>scircumflex</string>
    <string>section</string>
    <string>semicolon</string>
    <string>seven</string>
    <string>six</string>
    <string>slash</string>
    <string>space</string>
    <string>sterling</string>
    <string>summation</string>
    <string>t</string>
    <string>tbar</string>
    <string>tcaron</string>
    <string>thorn</string>
    <string>three</string>
    <string>threesuperior</string>
    <string>tilde</string>
    <string>tildecomb</string>
    <string>trademark</string>
    <string>two</string>
    <string>twodotenleader</string>
    <string>twosuperior</string>
    <string>ubreve</string>
    <string>uhorn</string>
    <string>underscore</string>
    <string>uogonek</string>
    <string>uring</string>
    <string>utilde</string>
    <string>x</string>
    <string>yacute</string>
    <string>ycircumflex</string>
    <string>ydieresis</string>
    <string>yen</string>
    <string>ygrave</string>
    <string>z</string>
    <string>zacute</string>
    <string>zcaron</string>
    <string>zdotaccent</string>
    <string>zero</string>
  </array>
  <key>public.kern2.T2</key>
  <array>
    <string>T</string>
    <string>Tbar</string>
    <string>Tcaron</string>
    <string>V</string>
    <string>Y</string>
    <string>Yacute</string>
    <string>Ycircumflex</string>
    <string>Ydieresis</string>
    <string>Ygrave</string>
  </array>
  <key>public.kern2.W2</key>
  <array>
    <string>W</string>
    <string>Wacute</string>
    <string>Wcircumflex</string>
    <string>Wdieresis</string>
    <string>Wgrave</string>
  </array>
  <key>public.kern2.a</key>
  <array>
    <string>a</string>
    <string>ae</string>
    <string>c</string>
    <string>cacute</string>
    <string>ccaron</string>
    <string>ccedilla</string>
    <string>cdotaccent</string>
    <string>cent</string>
    <string>d</string>
    <string>dcaron</string>
    <string>dcroat</string>
    <string>e</string>
    <string>eacute</string>
    <string>ecaron</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>edotaccent</string>
    <string>egrave</string>
    <string>emacron</string>
    <string>eogonek</string>
    <string>eth</string>
    <string>f</string>
    <string>g</string>
    <string>gbreve</string>
    <string>gdotaccent</string>
    <string>i</string>
    <string>infinity</string>
    <string>j</string>
    <string>l</string>
    <string>o</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>odieresis</string>
    <string>oe</string>
    <string>ograve</string>
    <string>ohungarumlaut</string>
    <string>omacron</string>
    <string>oslash</string>
    <string>otilde</string>
    <string>partialdiff</string>
    <string>q</string>
    <string>s</string>
    <string>u</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>ugrave</string>
    <string>uhungarumlaut</string>
    <string>umacron</string>
  </array>
  <key>public.kern2.quoteright</key>
  <array>
    <string>quotedblright</string>
    <string>quoteright</string>
  </array>
  <key>public.kern2.v</key>
  <array>
    <string>v</string>
    <string>w</string>
    <string>wacute</string>
    <string>wcircumflex</string>
    <string>wdieresis</string>
    <string>wgrave</string>
    <string>y</string>
  </array>
</dict>
</plist>
