<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>AE</key>
  <dict>
    <key>t</key>
    <integer>-59</integer>
  </dict>
  <key>Acyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-56</integer>
    <key>public.kern2.W2</key>
    <integer>-28</integer>
    <key>public.kern2.quoteright</key>
    <integer>-56</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>AE</key>
    <integer>-29</integer>
    <key>public.kern2.A2</key>
    <integer>-29</integer>
    <key>public.kern2.T2</key>
    <integer>-79</integer>
    <key>public.kern2.W2</key>
    <integer>-39</integer>
  </dict>
  <key>D</key>
  <dict>
    <key>AE</key>
    <integer>-59</integer>
    <key>Z</key>
    <integer>-49</integer>
    <key>comma</key>
    <integer>-56</integer>
    <key>public.kern2.A2</key>
    <integer>-68</integer>
    <key>public.kern2.T2</key>
    <integer>-98</integer>
    <key>public.kern2.W2</key>
    <integer>-49</integer>
  </dict>
  <key>E</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-39</integer>
  </dict>
  <key>Eth</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-59</integer>
    <key>public.kern2.T2</key>
    <integer>-68</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-126</integer>
    <key>AE</key>
    <integer>-128</integer>
    <key>J</key>
    <integer>-327</integer>
    <key>comma</key>
    <integer>-201</integer>
    <key>period</key>
    <integer>-155</integer>
    <key>semicolon</key>
    <integer>-59</integer>
    <key>x</key>
    <integer>-79</integer>
    <key>z</key>
    <integer>-29</integer>
    <key>public.kern2.A2</key>
    <integer>-128</integer>
    <key>public.kern2.v</key>
    <integer>-59</integer>
  </dict>
  <key>G</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-88</integer>
    <key>public.kern2.W2</key>
    <integer>-29</integer>
  </dict>
  <key>Gamma</key>
  <dict>
    <key>A</key>
    <integer>-170</integer>
    <key>Acyr</key>
    <integer>-170</integer>
    <key>Alpha</key>
    <integer>-170</integer>
    <key>Delta</key>
    <integer>-170</integer>
    <key>Lambda</key>
    <integer>-160</integer>
    <key>alpha</key>
    <integer>-200</integer>
    <key>omicron</key>
    <integer>-160</integer>
    <key>omicrontonos</key>
    <integer>-250</integer>
    <key>public.kern2.v</key>
    <integer>-140</integer>
  </dict>
  <key>Gecyr</key>
  <dict>
    <key>alpha</key>
    <integer>-167</integer>
    <key>public.kern2.v</key>
    <integer>-67</integer>
  </dict>
  <key>J</key>
  <dict>
    <key>AE</key>
    <integer>-29</integer>
    <key>public.kern2.A2</key>
    <integer>-29</integer>
  </dict>
  <key>K</key>
  <dict>
    <key>O</key>
    <integer>-93</integer>
    <key>Oslash</key>
    <integer>-59</integer>
    <key>hyphen</key>
    <integer>-23</integer>
    <key>t</key>
    <integer>-108</integer>
    <key>public.kern2.a</key>
    <integer>-69</integer>
    <key>public.kern2.v</key>
    <integer>-168</integer>
  </dict>
  <key>Kappa</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-120</integer>
  </dict>
  <key>Lslash</key>
  <dict>
    <key>O</key>
    <integer>-39</integer>
    <key>public.kern2.T2</key>
    <integer>-237</integer>
  </dict>
  <key>O</key>
  <dict>
    <key>X</key>
    <integer>-74</integer>
    <key>Z</key>
    <integer>-49</integer>
    <key>comma</key>
    <integer>-39</integer>
    <key>public.kern2.A2</key>
    <integer>-68</integer>
    <key>public.kern2.T2</key>
    <integer>-29</integer>
    <key>public.kern2.W2</key>
    <integer>-39</integer>
  </dict>
  <key>Oslash</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-59</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>comma</key>
    <integer>-178</integer>
    <key>hyphen</key>
    <integer>-39</integer>
    <key>period</key>
    <integer>-133</integer>
    <key>public.kern2.A2</key>
    <integer>-139</integer>
    <key>public.kern2.T2</key>
    <integer>-49</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-59</integer>
  </dict>
  <key>R</key>
  <dict>
    <key>O</key>
    <integer>-39</integer>
    <key>Oslash</key>
    <integer>-39</integer>
    <key>Q</key>
    <integer>-39</integer>
    <key>public.kern2.T2</key>
    <integer>-108</integer>
    <key>public.kern2.W2</key>
    <integer>-68</integer>
    <key>public.kern2.a</key>
    <integer>-39</integer>
    <key>public.kern2.v</key>
    <integer>-29</integer>
  </dict>
  <key>S</key>
  <dict>
    <key>t</key>
    <integer>-59</integer>
    <key>x</key>
    <integer>-49</integer>
    <key>public.kern2.W2</key>
    <integer>-29</integer>
    <key>public.kern2.quoteright</key>
    <integer>-29</integer>
    <key>public.kern2.v</key>
    <integer>-69</integer>
  </dict>
  <key>U</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-39</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>Delta</key>
    <integer>-146</integer>
    <key>Yuslittlecyr</key>
    <integer>-49</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>O</key>
    <integer>-74</integer>
    <key>hyphen</key>
    <integer>-23</integer>
    <key>t</key>
    <integer>-89</integer>
    <key>public.kern2.a</key>
    <integer>-68</integer>
    <key>public.kern2.quoteright</key>
    <integer>-23</integer>
    <key>public.kern2.v</key>
    <integer>-109</integer>
  </dict>
  <key>Yuslittlecyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-56</integer>
    <key>public.kern2.W2</key>
    <integer>-28</integer>
    <key>public.kern2.quoteright</key>
    <integer>-56</integer>
  </dict>
  <key>Yuslittleiotifiedcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-56</integer>
    <key>public.kern2.W2</key>
    <integer>-28</integer>
    <key>public.kern2.quoteright</key>
    <integer>-56</integer>
  </dict>
  <key>Z</key>
  <dict>
    <key>O</key>
    <integer>-39</integer>
    <key>hyphen</key>
    <integer>-56</integer>
    <key>t</key>
    <integer>-39</integer>
    <key>public.kern2.v</key>
    <integer>-59</integer>
  </dict>
  <key>a</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>-29</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>comma</key>
    <integer>-27</integer>
    <key>public.kern2.v</key>
    <integer>-39</integer>
  </dict>
  <key>e</key>
  <dict>
    <key>x</key>
    <integer>-29</integer>
  </dict>
  <key>efcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
  </dict>
  <key>ercyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>comma</key>
    <integer>-56</integer>
  </dict>
  <key>g</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-29</integer>
  </dict>
  <key>guilsinglleft</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-112</integer>
    <key>public.kern2.W2</key>
    <integer>-39</integer>
  </dict>
  <key>hardcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
  </dict>
  <key>hyphen</key>
  <dict>
    <key>X</key>
    <integer>-23</integer>
    <key>x</key>
    <integer>-27</integer>
    <key>public.kern2.T2</key>
    <integer>-39</integer>
  </dict>
  <key>k</key>
  <dict>
    <key>hyphen</key>
    <integer>-41</integer>
    <key>public.kern2.a</key>
    <integer>-59</integer>
  </dict>
  <key>l</key>
  <dict>
    <key>t</key>
    <integer>-39</integer>
    <key>public.kern2.v</key>
    <integer>-49</integer>
  </dict>
  <key>o</key>
  <dict>
    <key>comma</key>
    <integer>-41</integer>
    <key>quotesingle</key>
    <integer>-27</integer>
    <key>x</key>
    <integer>-56</integer>
    <key>public.kern2.quoteright</key>
    <integer>-27</integer>
    <key>public.kern2.v</key>
    <integer>-49</integer>
  </dict>
  <key>ocyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
  </dict>
  <key>oslash</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-72</integer>
    <key>public.kern2.v</key>
    <integer>-39</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>comma</key>
    <integer>-27</integer>
    <key>public.kern2.v</key>
    <integer>-39</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>J</key>
    <integer>-79</integer>
    <key>public.kern2.a</key>
    <integer>-89</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-56</integer>
    <key>public.kern2.W2</key>
    <integer>-39</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-306</integer>
  </dict>
  <key>quotedbl</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-320</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-168</integer>
  </dict>
  <key>quoteleft</key>
  <dict>
    <key>J</key>
    <integer>-252</integer>
    <key>public.kern2.A2</key>
    <integer>-133</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>g.ss01</key>
    <integer>-146</integer>
    <key>gbreve.ss01</key>
    <integer>-146</integer>
    <key>gdotaccent.ss01</key>
    <integer>-146</integer>
    <key>public.kern2.a</key>
    <integer>-146</integer>
  </dict>
  <key>quotesinglbase</key>
  <dict>
    <key>C</key>
    <integer>-23</integer>
    <key>Q</key>
    <integer>-23</integer>
    <key>t</key>
    <integer>-41</integer>
    <key>public.kern2.T2</key>
    <integer>-93</integer>
    <key>public.kern2.W2</key>
    <integer>-56</integer>
    <key>public.kern2.v</key>
    <integer>-89</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-112</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>comma</key>
    <integer>-125</integer>
    <key>g.ss01</key>
    <integer>-42</integer>
    <key>gbreve.ss01</key>
    <integer>-42</integer>
    <key>gdotaccent.ss01</key>
    <integer>-42</integer>
    <key>hyphen</key>
    <integer>-72</integer>
    <key>period</key>
    <integer>-89</integer>
    <key>public.kern2.a</key>
    <integer>-49</integer>
  </dict>
  <key>softcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>comma</key>
    <integer>-89</integer>
    <key>period</key>
    <integer>-56</integer>
  </dict>
  <key>w</key>
  <dict>
    <key>comma</key>
    <integer>-89</integer>
    <key>lslash</key>
    <integer>-29</integer>
    <key>period</key>
    <integer>-41</integer>
    <key>public.kern2.a</key>
    <integer>-29</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>hyphen</key>
    <integer>-27</integer>
    <key>public.kern2.a</key>
    <integer>-56</integer>
  </dict>
  <key>y</key>
  <dict>
    <key>comma</key>
    <integer>-107</integer>
    <key>lslash</key>
    <integer>-39</integer>
    <key>period</key>
    <integer>-56</integer>
    <key>public.kern2.a</key>
    <integer>-29</integer>
  </dict>
  <key>yucyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
  </dict>
  <key>yuslittlecyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
  </dict>
  <key>yuslittleiotifiedcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-70</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>C</key>
    <integer>-68</integer>
    <key>G</key>
    <integer>-68</integer>
    <key>O</key>
    <integer>-39</integer>
    <key>Oslash</key>
    <integer>-39</integer>
    <key>Q</key>
    <integer>-68</integer>
    <key>U</key>
    <integer>-39</integer>
    <key>quotesingle</key>
    <integer>-112</integer>
    <key>t</key>
    <integer>-72</integer>
    <key>public.kern2.T2</key>
    <integer>-198</integer>
    <key>public.kern2.W2</key>
    <integer>-133</integer>
    <key>public.kern2.quoteright</key>
    <integer>-133</integer>
    <key>public.kern2.v</key>
    <integer>-109</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>AE</key>
    <integer>-198</integer>
    <key>C</key>
    <integer>-98</integer>
    <key>Delta</key>
    <integer>-168</integer>
    <key>G</key>
    <integer>-98</integer>
    <key>J</key>
    <integer>-198</integer>
    <key>O</key>
    <integer>-98</integer>
    <key>Oslash</key>
    <integer>-49</integer>
    <key>S</key>
    <integer>-88</integer>
    <key>Yuslittlecyr</key>
    <integer>-56</integer>
    <key>alpha</key>
    <integer>-200</integer>
    <key>chi</key>
    <integer>-200</integer>
    <key>colon</key>
    <integer>-155</integer>
    <key>comma</key>
    <integer>-93</integer>
    <key>dotlessi</key>
    <integer>-129</integer>
    <key>epsilon</key>
    <integer>-240</integer>
    <key>guilsinglright</key>
    <integer>-93</integer>
    <key>hyphen</key>
    <integer>-39</integer>
    <key>iota</key>
    <integer>-160</integer>
    <key>lslash</key>
    <integer>-39</integer>
    <key>m</key>
    <integer>-129</integer>
    <key>n</key>
    <integer>-79</integer>
    <key>omicron</key>
    <integer>-240</integer>
    <key>p</key>
    <integer>-129</integer>
    <key>period</key>
    <integer>-56</integer>
    <key>r</key>
    <integer>-129</integer>
    <key>semicolon</key>
    <integer>-201</integer>
    <key>t</key>
    <integer>-79</integer>
    <key>upsilon</key>
    <integer>-240</integer>
    <key>upsilondieresis</key>
    <integer>-140</integer>
    <key>upsilontonos</key>
    <integer>-220</integer>
    <key>x</key>
    <integer>-198</integer>
    <key>z</key>
    <integer>-188</integer>
    <key>public.kern2.A2</key>
    <integer>-198</integer>
    <key>public.kern2.a</key>
    <integer>-123</integer>
    <key>public.kern2.v</key>
    <integer>-198</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>AE</key>
    <integer>-155</integer>
    <key>C</key>
    <integer>-68</integer>
    <key>G</key>
    <integer>-68</integer>
    <key>O</key>
    <integer>-68</integer>
    <key>Oslash</key>
    <integer>-68</integer>
    <key>S</key>
    <integer>-68</integer>
    <key>colon</key>
    <integer>-59</integer>
    <key>comma</key>
    <integer>-112</integer>
    <key>guilsinglright</key>
    <integer>-74</integer>
    <key>m</key>
    <integer>-39</integer>
    <key>n</key>
    <integer>-39</integer>
    <key>p</key>
    <integer>-39</integer>
    <key>period</key>
    <integer>-74</integer>
    <key>r</key>
    <integer>-39</integer>
    <key>semicolon</key>
    <integer>-109</integer>
    <key>t</key>
    <integer>-39</integer>
    <key>x</key>
    <integer>-49</integer>
    <key>z</key>
    <integer>-59</integer>
    <key>public.kern2.A2</key>
    <integer>-178</integer>
    <key>public.kern2.a</key>
    <integer>-108</integer>
    <key>public.kern2.v</key>
    <integer>-49</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>C</key>
    <integer>-49</integer>
    <key>Delta</key>
    <integer>-84</integer>
    <key>O</key>
    <integer>-49</integer>
    <key>S</key>
    <integer>-59</integer>
    <key>Yuslittlecyr</key>
    <integer>-28</integer>
    <key>colon</key>
    <integer>-39</integer>
    <key>comma</key>
    <integer>-74</integer>
    <key>guilsinglright</key>
    <integer>-23</integer>
    <key>period</key>
    <integer>-39</integer>
    <key>semicolon</key>
    <integer>-89</integer>
    <key>x</key>
    <integer>-39</integer>
    <key>z</key>
    <integer>-49</integer>
    <key>public.kern2.A2</key>
    <integer>-133</integer>
    <key>public.kern2.a</key>
    <integer>-88</integer>
    <key>public.kern2.v</key>
    <integer>-39</integer>
  </dict>
  <key>public.kern1.idieresis</key>
  <dict>
    <key>public.kern2.idieresis</key>
    <integer>50</integer>
  </dict>
</dict>
</plist>
