<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>T</key>
    <integer>-100</integer>
    <key>Tbar</key>
    <integer>-100</integer>
    <key>Tcaron</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-100</integer>
    <key>W</key>
    <integer>-50</integer>
    <key>Wacute</key>
    <integer>-50</integer>
    <key>Wcircumflex</key>
    <integer>-50</integer>
    <key>Wdieresis</key>
    <integer>-50</integer>
    <key>Wgrave</key>
    <integer>-50</integer>
    <key>Y</key>
    <integer>-100</integer>
    <key>Yacute</key>
    <integer>-100</integer>
    <key>Ycircumflex</key>
    <integer>-100</integer>
    <key>Ydieresis</key>
    <integer>-100</integer>
    <key>Ygrave</key>
    <integer>-100</integer>
    <key>quotedblright</key>
    <integer>-100</integer>
    <key>quoteright</key>
    <integer>-100</integer>
  </dict>
  <key>Acyr</key>
  <dict>
    <key>T</key>
    <integer>-35</integer>
    <key>Tbar</key>
    <integer>-35</integer>
    <key>Tcaron</key>
    <integer>-35</integer>
    <key>V</key>
    <integer>-35</integer>
    <key>W</key>
    <integer>-15</integer>
    <key>Wacute</key>
    <integer>-15</integer>
    <key>Wcircumflex</key>
    <integer>-15</integer>
    <key>Wdieresis</key>
    <integer>-15</integer>
    <key>Wgrave</key>
    <integer>-15</integer>
    <key>Y</key>
    <integer>-35</integer>
    <key>Yacute</key>
    <integer>-35</integer>
    <key>Ycircumflex</key>
    <integer>-35</integer>
    <key>Ydieresis</key>
    <integer>-35</integer>
    <key>Ygrave</key>
    <integer>-35</integer>
    <key>quotedblright</key>
    <integer>-35</integer>
    <key>quoteright</key>
    <integer>-35</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-75</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>T</key>
    <integer>-100</integer>
    <key>Tbar</key>
    <integer>-100</integer>
    <key>Tcaron</key>
    <integer>-100</integer>
    <key>V</key>
    <integer>-100</integer>
    <key>W</key>
    <integer>-50</integer>
    <key>Wacute</key>
    <integer>-50</integer>
    <key>Wcircumflex</key>
    <integer>-50</integer>
    <key>Wdieresis</key>
    <integer>-50</integer>
    <key>Wgrave</key>
    <integer>-50</integer>
    <key>Y</key>
    <integer>-100</integer>
    <key>Yacute</key>
    <integer>-100</integer>
    <key>Ycircumflex</key>
    <integer>-100</integer>
    <key>Ydieresis</key>
    <integer>-100</integer>
    <key>Ygrave</key>
    <integer>-100</integer>
    <key>quotedblright</key>
    <integer>-100</integer>
    <key>quoteright</key>
    <integer>-100</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
    <key>Acyr</key>
    <integer>-35</integer>
    <key>Yuslittlecyr</key>
    <integer>-35</integer>
    <key>ecaron</key>
    <integer>-125</integer>
    <key>ecircumflex</key>
    <integer>-125</integer>
    <key>egrave</key>
    <integer>-125</integer>
    <key>emacron</key>
    <integer>-125</integer>
    <key>f</key>
    <integer>-125</integer>
    <key>i</key>
    <integer>-125</integer>
    <key>j</key>
    <integer>-125</integer>
    <key>l</key>
    <integer>-125</integer>
    <key>ocircumflex</key>
    <integer>-125</integer>
    <key>otilde</key>
    <integer>-125</integer>
    <key>partialdiff</key>
    <integer>-125</integer>
    <key>ucircumflex</key>
    <integer>-125</integer>
  </dict>
  <key>Tbar</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
    <key>Acyr</key>
    <integer>-35</integer>
    <key>Yuslittlecyr</key>
    <integer>-35</integer>
    <key>partialdiff</key>
    <integer>-125</integer>
  </dict>
  <key>Tcaron</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
    <key>Acyr</key>
    <integer>-35</integer>
    <key>Yuslittlecyr</key>
    <integer>-35</integer>
    <key>i</key>
    <integer>-125</integer>
    <key>j</key>
    <integer>-125</integer>
    <key>partialdiff</key>
    <integer>-125</integer>
  </dict>
  <key>V</key>
  <dict>
    <key>A</key>
    <integer>-85</integer>
    <key>Acyr</key>
    <integer>-30</integer>
    <key>Yuslittlecyr</key>
    <integer>-30</integer>
    <key>i</key>
    <integer>-75</integer>
    <key>j</key>
    <integer>-75</integer>
    <key>l</key>
    <integer>-75</integer>
    <key>public.kern2.a</key>
    <integer>-75</integer>
  </dict>
  <key>W</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
    <key>Acyr</key>
    <integer>-15</integer>
    <key>Yuslittlecyr</key>
    <integer>-15</integer>
  </dict>
  <key>Wacute</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
    <key>Acyr</key>
    <integer>-15</integer>
    <key>Yuslittlecyr</key>
    <integer>-15</integer>
  </dict>
  <key>Wcircumflex</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
    <key>Acyr</key>
    <integer>-15</integer>
    <key>Yuslittlecyr</key>
    <integer>-15</integer>
  </dict>
  <key>Wdieresis</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
    <key>Acyr</key>
    <integer>-15</integer>
    <key>Yuslittlecyr</key>
    <integer>-15</integer>
  </dict>
  <key>Wgrave</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
    <key>Acyr</key>
    <integer>-15</integer>
    <key>Yuslittlecyr</key>
    <integer>-15</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
    <key>Acyr</key>
    <integer>-35</integer>
    <key>Y</key>
    <integer>40</integer>
    <key>Yacute</key>
    <integer>40</integer>
    <key>Ydieresis</key>
    <integer>40</integer>
    <key>Yuslittlecyr</key>
    <integer>-35</integer>
    <key>ccaron</key>
    <integer>-125</integer>
    <key>ecaron</key>
    <integer>-125</integer>
    <key>edieresis</key>
    <integer>-125</integer>
    <key>egrave</key>
    <integer>-125</integer>
    <key>emacron</key>
    <integer>-125</integer>
    <key>f</key>
    <integer>-125</integer>
    <key>i</key>
    <integer>-125</integer>
    <key>j</key>
    <integer>-125</integer>
    <key>l</key>
    <integer>-125</integer>
    <key>ograve</key>
    <integer>-125</integer>
    <key>omacron</key>
    <integer>-125</integer>
    <key>umacron</key>
    <integer>-125</integer>
    <key>v</key>
    <integer>-125</integer>
    <key>w</key>
    <integer>-135</integer>
    <key>y</key>
    <integer>-125</integer>
  </dict>
  <key>Yacute</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
    <key>Acyr</key>
    <integer>-35</integer>
    <key>Y</key>
    <integer>40</integer>
    <key>Yacute</key>
    <integer>40</integer>
    <key>Ycircumflex</key>
    <integer>40</integer>
    <key>Ydieresis</key>
    <integer>40</integer>
    <key>Yuslittlecyr</key>
    <integer>-35</integer>
    <key>f</key>
    <integer>-125</integer>
    <key>i</key>
    <integer>-125</integer>
    <key>j</key>
    <integer>-125</integer>
    <key>l</key>
    <integer>-125</integer>
    <key>v</key>
    <integer>-125</integer>
    <key>w</key>
    <integer>-135</integer>
    <key>y</key>
    <integer>-125</integer>
  </dict>
  <key>Ycircumflex</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
    <key>Acyr</key>
    <integer>-35</integer>
    <key>Ycircumflex</key>
    <integer>40</integer>
    <key>Ydieresis</key>
    <integer>40</integer>
    <key>Yuslittlecyr</key>
    <integer>-35</integer>
    <key>i</key>
    <integer>-125</integer>
  </dict>
  <key>Ydieresis</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
    <key>Acyr</key>
    <integer>-35</integer>
    <key>Yacute</key>
    <integer>40</integer>
    <key>Ycircumflex</key>
    <integer>40</integer>
    <key>Ydieresis</key>
    <integer>40</integer>
    <key>Yuslittlecyr</key>
    <integer>-35</integer>
    <key>i</key>
    <integer>-125</integer>
    <key>l</key>
    <integer>-125</integer>
    <key>ugrave</key>
    <integer>-125</integer>
    <key>v</key>
    <integer>-125</integer>
    <key>w</key>
    <integer>-135</integer>
  </dict>
  <key>Ygrave</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
    <key>Acyr</key>
    <integer>-35</integer>
    <key>Yuslittlecyr</key>
    <integer>-35</integer>
  </dict>
  <key>Yuslittlecyr</key>
  <dict>
    <key>T</key>
    <integer>-35</integer>
    <key>Tbar</key>
    <integer>-35</integer>
    <key>Tcaron</key>
    <integer>-35</integer>
    <key>V</key>
    <integer>-35</integer>
    <key>W</key>
    <integer>-15</integer>
    <key>Wacute</key>
    <integer>-15</integer>
    <key>Wcircumflex</key>
    <integer>-15</integer>
    <key>Wdieresis</key>
    <integer>-15</integer>
    <key>Wgrave</key>
    <integer>-15</integer>
    <key>Y</key>
    <integer>-35</integer>
    <key>Yacute</key>
    <integer>-35</integer>
    <key>Ycircumflex</key>
    <integer>-35</integer>
    <key>Ydieresis</key>
    <integer>-35</integer>
    <key>Ygrave</key>
    <integer>-35</integer>
    <key>quotedblright</key>
    <integer>-35</integer>
    <key>quoteright</key>
    <integer>-35</integer>
  </dict>
  <key>Yuslittleiotifiedcyr</key>
  <dict>
    <key>T</key>
    <integer>-35</integer>
    <key>Tbar</key>
    <integer>-35</integer>
    <key>Tcaron</key>
    <integer>-35</integer>
    <key>V</key>
    <integer>-35</integer>
    <key>W</key>
    <integer>-15</integer>
    <key>Wacute</key>
    <integer>-15</integer>
    <key>Wcircumflex</key>
    <integer>-15</integer>
    <key>Wdieresis</key>
    <integer>-15</integer>
    <key>Wgrave</key>
    <integer>-15</integer>
    <key>Y</key>
    <integer>-35</integer>
    <key>Yacute</key>
    <integer>-35</integer>
    <key>Ycircumflex</key>
    <integer>-35</integer>
    <key>Ydieresis</key>
    <integer>-35</integer>
    <key>Ygrave</key>
    <integer>-35</integer>
    <key>quotedblright</key>
    <integer>-35</integer>
    <key>quoteright</key>
    <integer>-35</integer>
  </dict>
  <key>efcyr</key>
  <dict>
    <key>T</key>
    <integer>-40</integer>
    <key>Tbar</key>
    <integer>-40</integer>
    <key>Tcaron</key>
    <integer>-40</integer>
    <key>V</key>
    <integer>-40</integer>
    <key>Y</key>
    <integer>-40</integer>
    <key>Yacute</key>
    <integer>-40</integer>
    <key>Ycircumflex</key>
    <integer>-40</integer>
    <key>Ydieresis</key>
    <integer>-40</integer>
    <key>Ygrave</key>
    <integer>-40</integer>
  </dict>
  <key>ercyr</key>
  <dict>
    <key>T</key>
    <integer>-40</integer>
    <key>Tbar</key>
    <integer>-40</integer>
    <key>Tcaron</key>
    <integer>-40</integer>
    <key>V</key>
    <integer>-40</integer>
    <key>Y</key>
    <integer>-40</integer>
    <key>Yacute</key>
    <integer>-40</integer>
    <key>Ycircumflex</key>
    <integer>-40</integer>
    <key>Ydieresis</key>
    <integer>-40</integer>
    <key>Ygrave</key>
    <integer>-40</integer>
  </dict>
  <key>ocyr</key>
  <dict>
    <key>T</key>
    <integer>-40</integer>
    <key>Tbar</key>
    <integer>-40</integer>
    <key>Tcaron</key>
    <integer>-40</integer>
    <key>V</key>
    <integer>-40</integer>
    <key>Y</key>
    <integer>-40</integer>
    <key>Yacute</key>
    <integer>-40</integer>
    <key>Ycircumflex</key>
    <integer>-40</integer>
    <key>Ydieresis</key>
    <integer>-40</integer>
    <key>Ygrave</key>
    <integer>-40</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-100</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>a</key>
    <integer>-85</integer>
    <key>ae</key>
    <integer>-85</integer>
    <key>c</key>
    <integer>-85</integer>
    <key>cacute</key>
    <integer>-85</integer>
    <key>ccaron</key>
    <integer>-85</integer>
    <key>ccedilla</key>
    <integer>-85</integer>
    <key>cdotaccent</key>
    <integer>-85</integer>
    <key>cent</key>
    <integer>-85</integer>
    <key>d</key>
    <integer>-85</integer>
    <key>dcaron</key>
    <integer>-85</integer>
    <key>dcroat</key>
    <integer>-85</integer>
    <key>e</key>
    <integer>-85</integer>
    <key>eacute</key>
    <integer>-85</integer>
    <key>ecaron</key>
    <integer>-85</integer>
    <key>ecircumflex</key>
    <integer>-85</integer>
    <key>edieresis</key>
    <integer>-85</integer>
    <key>edotaccent</key>
    <integer>-85</integer>
    <key>egrave</key>
    <integer>-85</integer>
    <key>emacron</key>
    <integer>-85</integer>
    <key>eogonek</key>
    <integer>-85</integer>
    <key>eth</key>
    <integer>-85</integer>
    <key>f</key>
    <integer>-85</integer>
    <key>g</key>
    <integer>-85</integer>
    <key>g.ss01</key>
    <integer>-85</integer>
    <key>gbreve</key>
    <integer>-85</integer>
    <key>gbreve.ss01</key>
    <integer>-85</integer>
    <key>gdotaccent</key>
    <integer>-85</integer>
    <key>gdotaccent.ss01</key>
    <integer>-85</integer>
    <key>i</key>
    <integer>-85</integer>
    <key>infinity</key>
    <integer>-85</integer>
    <key>j</key>
    <integer>-85</integer>
    <key>l</key>
    <integer>-85</integer>
    <key>o</key>
    <integer>-85</integer>
    <key>oacute</key>
    <integer>-85</integer>
    <key>ocircumflex</key>
    <integer>-85</integer>
    <key>odieresis</key>
    <integer>-85</integer>
    <key>oe</key>
    <integer>-85</integer>
    <key>ograve</key>
    <integer>-85</integer>
    <key>ohungarumlaut</key>
    <integer>-85</integer>
    <key>omacron</key>
    <integer>-85</integer>
    <key>oslash</key>
    <integer>-85</integer>
    <key>otilde</key>
    <integer>-85</integer>
    <key>partialdiff</key>
    <integer>-85</integer>
    <key>q</key>
    <integer>-85</integer>
    <key>s</key>
    <integer>-85</integer>
    <key>u</key>
    <integer>-85</integer>
    <key>uacute</key>
    <integer>-85</integer>
    <key>ucircumflex</key>
    <integer>-85</integer>
    <key>udieresis</key>
    <integer>-85</integer>
    <key>ugrave</key>
    <integer>-85</integer>
    <key>uhungarumlaut</key>
    <integer>-85</integer>
    <key>umacron</key>
    <integer>-85</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>a</key>
    <integer>-25</integer>
    <key>ae</key>
    <integer>-25</integer>
    <key>c</key>
    <integer>-25</integer>
    <key>cacute</key>
    <integer>-25</integer>
    <key>ccaron</key>
    <integer>-25</integer>
    <key>ccedilla</key>
    <integer>-25</integer>
    <key>cdotaccent</key>
    <integer>-25</integer>
    <key>cent</key>
    <integer>-25</integer>
    <key>d</key>
    <integer>-25</integer>
    <key>dcaron</key>
    <integer>-25</integer>
    <key>dcroat</key>
    <integer>-25</integer>
    <key>e</key>
    <integer>-25</integer>
    <key>eacute</key>
    <integer>-25</integer>
    <key>ecaron</key>
    <integer>-25</integer>
    <key>ecircumflex</key>
    <integer>-25</integer>
    <key>edieresis</key>
    <integer>-25</integer>
    <key>edotaccent</key>
    <integer>-25</integer>
    <key>egrave</key>
    <integer>-25</integer>
    <key>emacron</key>
    <integer>-25</integer>
    <key>eogonek</key>
    <integer>-25</integer>
    <key>eth</key>
    <integer>-25</integer>
    <key>f</key>
    <integer>25</integer>
    <key>g</key>
    <integer>-25</integer>
    <key>g.ss01</key>
    <integer>-25</integer>
    <key>gbreve</key>
    <integer>-25</integer>
    <key>gbreve.ss01</key>
    <integer>-25</integer>
    <key>gdotaccent</key>
    <integer>-25</integer>
    <key>gdotaccent.ss01</key>
    <integer>-25</integer>
    <key>i</key>
    <integer>-25</integer>
    <key>infinity</key>
    <integer>-25</integer>
    <key>j</key>
    <integer>-25</integer>
    <key>l</key>
    <integer>-25</integer>
    <key>o</key>
    <integer>-25</integer>
    <key>oacute</key>
    <integer>-25</integer>
    <key>ocircumflex</key>
    <integer>-25</integer>
    <key>odieresis</key>
    <integer>-25</integer>
    <key>oe</key>
    <integer>-25</integer>
    <key>ograve</key>
    <integer>-25</integer>
    <key>ohungarumlaut</key>
    <integer>-25</integer>
    <key>omacron</key>
    <integer>-25</integer>
    <key>oslash</key>
    <integer>-25</integer>
    <key>otilde</key>
    <integer>-25</integer>
    <key>partialdiff</key>
    <integer>-25</integer>
    <key>q</key>
    <integer>-25</integer>
    <key>s</key>
    <integer>-25</integer>
    <key>u</key>
    <integer>-25</integer>
    <key>uacute</key>
    <integer>-25</integer>
    <key>ucircumflex</key>
    <integer>-25</integer>
    <key>udieresis</key>
    <integer>-25</integer>
    <key>ugrave</key>
    <integer>-25</integer>
    <key>uhungarumlaut</key>
    <integer>-25</integer>
    <key>umacron</key>
    <integer>-25</integer>
  </dict>
  <key>yucyr</key>
  <dict>
    <key>T</key>
    <integer>-40</integer>
    <key>Tbar</key>
    <integer>-40</integer>
    <key>Tcaron</key>
    <integer>-40</integer>
    <key>V</key>
    <integer>-40</integer>
    <key>Y</key>
    <integer>-40</integer>
    <key>Yacute</key>
    <integer>-40</integer>
    <key>Ycircumflex</key>
    <integer>-40</integer>
    <key>Ydieresis</key>
    <integer>-40</integer>
    <key>Ygrave</key>
    <integer>-40</integer>
  </dict>
  <key>yukrcyr</key>
  <dict>
    <key>public.kern2.uni0432</key>
    <integer>70</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>40</integer>
    <key>public.kern2.a</key>
    <integer>-125</integer>
    <key>public.kern2.v</key>
    <integer>-140</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-35</integer>
  </dict>
  <key>public.kern1.i</key>
  <dict>
    <key>public.kern2.uni0432</key>
    <integer>60</integer>
  </dict>
  <key>public.kern1.uni044A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
  </dict>
  <key>public.kern1.uni0467</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-40</integer>
  </dict>
</dict>
</plist>
