<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>uni00B5</key>
  <string>uni00B_5.glif</string>
  <key>uni042D</key>
  <string>uni042D_.glif</string>
  <key>uni0444</key>
  <string>uni0444.glif</string>
  <key>uni0454</key>
  <string>uni0454.glif</string>
  <key>uni0496</key>
  <string>uni0496.glif</string>
  <key>uni04D8</key>
  <string>uni04D_8.glif</string>
</dict>
</plist>
