<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Ereversedcyr</key>
  <string>E_reversedcyr.glif</string>
  <key>Schwa</key>
  <string>S_chwa.glif</string>
  <key>Schwacyr</key>
  <string>S_chwacyr.glif</string>
  <key>Zhetailcyr</key>
  <string>Z_hetailcyr.glif</string>
  <key>efcyr</key>
  <string>efcyr.glif</string>
  <key>eukrcyr</key>
  <string>eukrcyr.glif</string>
  <key>gecyr</key>
  <string>gecyr.glif</string>
  <key>micro</key>
  <string>micro.glif</string>
</dict>
</plist>
