<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>public.glyphOrder</key>
  <array>
    <string>.notdef</string>
    <string>NULL</string>
    <string>CR</string>
    <string>space</string>
    <string>exclam</string>
    <string>quotedbl</string>
    <string>numbersign</string>
    <string>dollar</string>
    <string>percent</string>
    <string>ampersand</string>
    <string>quotesingle</string>
    <string>parenleft</string>
    <string>parenright</string>
    <string>asterisk</string>
    <string>plus</string>
    <string>comma</string>
    <string>hyphen</string>
    <string>period</string>
    <string>slash</string>
    <string>zero</string>
    <string>one</string>
    <string>two</string>
    <string>three</string>
    <string>four</string>
    <string>five</string>
    <string>six</string>
    <string>seven</string>
    <string>eight</string>
    <string>nine</string>
    <string>colon</string>
    <string>semicolon</string>
    <string>less</string>
    <string>equal</string>
    <string>greater</string>
    <string>question</string>
    <string>at</string>
    <string>A</string>
    <string>B</string>
    <string>C</string>
    <string>D</string>
    <string>E</string>
    <string>F</string>
    <string>G</string>
    <string>H</string>
    <string>I</string>
    <string>J</string>
    <string>K</string>
    <string>L</string>
    <string>M</string>
    <string>N</string>
    <string>O</string>
    <string>P</string>
    <string>Q</string>
    <string>R</string>
    <string>S</string>
    <string>T</string>
    <string>U</string>
    <string>V</string>
    <string>W</string>
    <string>X</string>
    <string>Y</string>
    <string>Z</string>
    <string>bracketleft</string>
    <string>backslash</string>
    <string>bracketright</string>
    <string>asciicircum</string>
    <string>underscore</string>
    <string>grave</string>
    <string>a</string>
    <string>b</string>
    <string>c</string>
    <string>d</string>
    <string>e</string>
    <string>f</string>
    <string>g</string>
    <string>h</string>
    <string>i</string>
    <string>j</string>
    <string>k</string>
    <string>l</string>
    <string>m</string>
    <string>n</string>
    <string>o</string>
    <string>p</string>
    <string>q</string>
    <string>r</string>
    <string>s</string>
    <string>t</string>
    <string>u</string>
    <string>v</string>
    <string>w</string>
    <string>x</string>
    <string>y</string>
    <string>z</string>
    <string>braceleft</string>
    <string>bar</string>
    <string>braceright</string>
    <string>asciitilde</string>
    <string>nonbreakingspace</string>
    <string>exclamdown</string>
    <string>cent</string>
    <string>sterling</string>
    <string>currency</string>
    <string>yen</string>
    <string>brokenbar</string>
    <string>section</string>
    <string>dieresis</string>
    <string>copyright</string>
    <string>ordfeminine</string>
    <string>guillemotleft</string>
    <string>logicalnot</string>
    <string>sfthyphen</string>
    <string>registered</string>
    <string>macron</string>
    <string>degree</string>
    <string>plusminus</string>
    <string>twosuperior</string>
    <string>threesuperior</string>
    <string>acute</string>
    <string>mu</string>
    <string>paragraph</string>
    <string>periodcentered</string>
    <string>cedilla</string>
    <string>onesuperior</string>
    <string>ordmasculine</string>
    <string>guillemotright</string>
    <string>questiondown</string>
    <string>Agrave</string>
    <string>Aacute</string>
    <string>Acircumflex</string>
    <string>Atilde</string>
    <string>Adieresis</string>
    <string>Aring</string>
    <string>AE</string>
    <string>Ccedilla</string>
    <string>Egrave</string>
    <string>Eacute</string>
    <string>Ecircumflex</string>
    <string>Edieresis</string>
    <string>Igrave</string>
    <string>Iacute</string>
    <string>Icircumflex</string>
    <string>Idieresis</string>
    <string>Eth</string>
    <string>Ntilde</string>
    <string>Ograve</string>
    <string>Oacute</string>
    <string>Ocircumflex</string>
    <string>Otilde</string>
    <string>Odieresis</string>
    <string>multiply</string>
    <string>Oslash</string>
    <string>Ugrave</string>
    <string>Uacute</string>
    <string>Ucircumflex</string>
    <string>Udieresis</string>
    <string>Yacute</string>
    <string>Thorn</string>
    <string>germandbls</string>
    <string>agrave</string>
    <string>aacute</string>
    <string>acircumflex</string>
    <string>atilde</string>
    <string>adieresis</string>
    <string>aring</string>
    <string>ae</string>
    <string>ccedilla</string>
    <string>egrave</string>
    <string>eacute</string>
    <string>ecircumflex</string>
    <string>edieresis</string>
    <string>igrave</string>
    <string>iacute</string>
    <string>icircumflex</string>
    <string>idieresis</string>
    <string>eth</string>
    <string>ntilde</string>
    <string>ograve</string>
    <string>oacute</string>
    <string>ocircumflex</string>
    <string>otilde</string>
    <string>odieresis</string>
    <string>divide</string>
    <string>oslash</string>
    <string>ugrave</string>
    <string>uacute</string>
    <string>ucircumflex</string>
    <string>udieresis</string>
    <string>yacute</string>
    <string>thorn</string>
    <string>ydieresis</string>
    <string>Amacron</string>
    <string>amacron</string>
    <string>Abreve</string>
    <string>abreve</string>
    <string>Aogonek</string>
    <string>aogonek</string>
    <string>Cacute</string>
    <string>cacute</string>
    <string>Ccircumflex</string>
    <string>ccircumflex</string>
    <string>Cdot</string>
    <string>cdot</string>
    <string>Ccaron</string>
    <string>ccaron</string>
    <string>Dcaron</string>
    <string>dcaron</string>
    <string>Dcroat</string>
    <string>dcroat</string>
    <string>Emacron</string>
    <string>emacron</string>
    <string>Ebreve</string>
    <string>ebreve</string>
    <string>Edot</string>
    <string>edot</string>
    <string>Eogonek</string>
    <string>eogonek</string>
    <string>Ecaron</string>
    <string>ecaron</string>
    <string>Gcircumflex</string>
    <string>gcircumflex</string>
    <string>Gbreve</string>
    <string>gbreve</string>
    <string>Gdot</string>
    <string>gdot</string>
    <string>Gcedilla</string>
    <string>gcedilla</string>
    <string>Hcircumflex</string>
    <string>hcircumflex</string>
    <string>Hbar</string>
    <string>hbar</string>
    <string>Itilde</string>
    <string>itilde</string>
    <string>Imacron</string>
    <string>imacron</string>
    <string>Ibreve</string>
    <string>ibreve</string>
    <string>Iogonek</string>
    <string>iogonek</string>
    <string>Idotaccent</string>
    <string>dotlessi</string>
    <string>IJ</string>
    <string>ij</string>
    <string>Jcircumflex</string>
    <string>jcircumflex</string>
    <string>Kcedilla</string>
    <string>kcedilla</string>
    <string>kgreenlandic</string>
    <string>Lacute</string>
    <string>lacute</string>
    <string>Lcedilla</string>
    <string>lcedilla</string>
    <string>Lcaron</string>
    <string>lcaron</string>
    <string>Ldot</string>
    <string>ldot</string>
    <string>Lslash</string>
    <string>lslash</string>
    <string>Nacute</string>
    <string>nacute</string>
    <string>Ncedilla</string>
    <string>ncedilla</string>
    <string>Ncaron</string>
    <string>ncaron</string>
    <string>napostrophe</string>
    <string>Eng</string>
    <string>eng</string>
    <string>Omacron</string>
    <string>omacron</string>
    <string>Obreve</string>
    <string>obreve</string>
    <string>Odblacute</string>
    <string>odblacute</string>
    <string>OE</string>
    <string>oe</string>
    <string>Racute</string>
    <string>racute</string>
    <string>Rcedilla</string>
    <string>rcedilla</string>
    <string>Rcaron</string>
    <string>rcaron</string>
    <string>Sacute</string>
    <string>sacute</string>
    <string>Scircumflex</string>
    <string>scircumflex</string>
    <string>Scedilla</string>
    <string>scedilla</string>
    <string>Scaron</string>
    <string>scaron</string>
    <string>Tcedilla</string>
    <string>tcedilla</string>
    <string>Tcaron</string>
    <string>tcaron</string>
    <string>Tbar</string>
    <string>tbar</string>
    <string>Utilde</string>
    <string>utilde</string>
    <string>Umacron</string>
    <string>umacron</string>
    <string>Ubreve</string>
    <string>ubreve</string>
    <string>Uring</string>
    <string>uring</string>
    <string>Udblacute</string>
    <string>udblacute</string>
    <string>Uogonek</string>
    <string>uogonek</string>
    <string>Wcircumflex</string>
    <string>wcircumflex</string>
    <string>Ycircumflex</string>
    <string>ycircumflex</string>
    <string>Ydieresis</string>
    <string>Zacute</string>
    <string>zacute</string>
    <string>Zdot</string>
    <string>zdot</string>
    <string>Zcaron</string>
    <string>zcaron</string>
    <string>longs</string>
    <string>florin</string>
    <string>clickretroflex</string>
    <string>DZcaron</string>
    <string>Dzcaron</string>
    <string>dzcaron</string>
    <string>LJ</string>
    <string>Lj</string>
    <string>lj</string>
    <string>NJ</string>
    <string>Nj</string>
    <string>nj</string>
    <string>Acaron</string>
    <string>acaron</string>
    <string>Icaron</string>
    <string>icaron</string>
    <string>Ocaron</string>
    <string>ocaron</string>
    <string>Ucaron</string>
    <string>ucaron</string>
    <string>Udieresismacron</string>
    <string>udieresismacron</string>
    <string>Udieresisacute</string>
    <string>udieresisacute</string>
    <string>Udieresiscaron</string>
    <string>udieresiscaron</string>
    <string>Udieresisgrave</string>
    <string>udieresisgrave</string>
    <string>eturned</string>
    <string>aemacron</string>
    <string>Oogonek</string>
    <string>oogonek</string>
    <string>DZ</string>
    <string>Dz</string>
    <string>dz</string>
    <string>Aringacute</string>
    <string>aringacute</string>
    <string>AEacute</string>
    <string>aeacute</string>
    <string>Oslashacute</string>
    <string>oslashacute</string>
    <string>Scommaaccent</string>
    <string>scommaaccent</string>
    <string>Tcommabelow</string>
    <string>tcommabelow</string>
    <string>dotlessj</string>
    <string>aturned</string>
    <string>oopen</string>
    <string>ereversed</string>
    <string>schwa</string>
    <string>gscript</string>
    <string>afii57929</string>
    <string>circumflex</string>
    <string>caron</string>
    <string>colontriangularmod</string>
    <string>colontriangularhalfmod</string>
    <string>breve</string>
    <string>dotaccent</string>
    <string>ring</string>
    <string>ogonek</string>
    <string>tilde</string>
    <string>hungarumlaut</string>
    <string>uni02F5</string>
    <string>uni02F6</string>
    <string>gravecmb</string>
    <string>acutecmb</string>
    <string>circumflexcmb</string>
    <string>tildecmb</string>
    <string>macroncmb</string>
    <string>brevecmb</string>
    <string>dotaccentcmb</string>
    <string>dieresiscmb</string>
    <string>ringcmb</string>
    <string>hungarumlautcmb</string>
    <string>caroncmb</string>
    <string>dblgravecmb</string>
    <string>commaturnedabovecmb</string>
    <string>horncmb</string>
    <string>uni0326</string>
    <string>cedillacmb</string>
    <string>ogonekcmb</string>
    <string>pi</string>
    <string>uni0400</string>
    <string>afii10023</string>
    <string>afii10051</string>
    <string>afii10052</string>
    <string>afii10053</string>
    <string>afii10054</string>
    <string>afii10055</string>
    <string>afii10056</string>
    <string>afii10057</string>
    <string>afii10058</string>
    <string>afii10059</string>
    <string>afii10060</string>
    <string>afii10061</string>
    <string>uni040D</string>
    <string>afii10062</string>
    <string>afii10145</string>
    <string>Acyrillic</string>
    <string>afii10018</string>
    <string>afii10019</string>
    <string>afii10020</string>
    <string>afii10021</string>
    <string>afii10022</string>
    <string>afii10024</string>
    <string>afii10025</string>
    <string>afii10026</string>
    <string>afii10027</string>
    <string>afii10028</string>
    <string>afii10029</string>
    <string>afii10030</string>
    <string>afii10031</string>
    <string>afii10032</string>
    <string>afii10033</string>
    <string>afii10034</string>
    <string>afii10035</string>
    <string>afii10036</string>
    <string>afii10037</string>
    <string>afii10038</string>
    <string>afii10039</string>
    <string>afii10040</string>
    <string>afii10041</string>
    <string>afii10042</string>
    <string>afii10043</string>
    <string>afii10044</string>
    <string>afii10045</string>
    <string>afii10046</string>
    <string>afii10047</string>
    <string>afii10048</string>
    <string>afii10049</string>
    <string>acyrillic</string>
    <string>afii10066</string>
    <string>afii10067</string>
    <string>afii10068</string>
    <string>afii10069</string>
    <string>afii10070</string>
    <string>afii10072</string>
    <string>afii10073</string>
    <string>afii10074</string>
    <string>afii10075</string>
    <string>afii10076</string>
    <string>afii10077</string>
    <string>afii10078</string>
    <string>afii10079</string>
    <string>afii10080</string>
    <string>afii10081</string>
    <string>afii10082</string>
    <string>afii10083</string>
    <string>afii10084</string>
    <string>afii10085</string>
    <string>afii10086</string>
    <string>afii10087</string>
    <string>afii10088</string>
    <string>afii10089</string>
    <string>afii10090</string>
    <string>afii10091</string>
    <string>afii10092</string>
    <string>afii10093</string>
    <string>afii10094</string>
    <string>afii10095</string>
    <string>afii10096</string>
    <string>afii10097</string>
    <string>uni0450</string>
    <string>afii10071</string>
    <string>afii10099</string>
    <string>afii10100</string>
    <string>afii10101</string>
    <string>afii10102</string>
    <string>afii10103</string>
    <string>afii10104</string>
    <string>afii10105</string>
    <string>afii10106</string>
    <string>afii10107</string>
    <string>afii10108</string>
    <string>afii10109</string>
    <string>uni045D</string>
    <string>afii10110</string>
    <string>afii10193</string>
    <string>afii10146</string>
    <string>afii10194</string>
    <string>Eiotifiedcyrillic</string>
    <string>eiotifiedcyrillic</string>
    <string>Yuslittlecyrillic</string>
    <string>yuslittlecyrillic</string>
    <string>Yuslittleiotifiedcyrillic</string>
    <string>yuslittleiotifiedcyrillic</string>
    <string>Yusbigcyrillic</string>
    <string>yusbigcyrillic</string>
    <string>Yusbigiotifiedcyrillic</string>
    <string>yusbigiotifiedcyrillic</string>
    <string>afii10147</string>
    <string>afii10195</string>
    <string>afii10148</string>
    <string>afii10196</string>
    <string>Ukcyrillic</string>
    <string>ukcyrillic</string>
    <string>titlocyrilliccmb</string>
    <string>afii10050</string>
    <string>afii10098</string>
    <string>Ghestrokecyrillic</string>
    <string>ghestrokecyrillic</string>
    <string>Zhedescendercyrillic</string>
    <string>zhedescendercyrillic</string>
    <string>Kadescendercyrillic</string>
    <string>kadescendercyrillic</string>
    <string>Endescendercyrillic</string>
    <string>endescendercyrillic</string>
    <string>Ustraightcyrillic</string>
    <string>ustraightcyrillic</string>
    <string>Ustraightstrokecyrillic</string>
    <string>ustraightstrokecyrillic</string>
    <string>Hadescendercyrillic</string>
    <string>hadescendercyrillic</string>
    <string>Chedescendercyrillic</string>
    <string>chedescendercyrillic</string>
    <string>Shhacyrillic</string>
    <string>shhacyrillic</string>
    <string>palochkacyrillic</string>
    <string>uni04CF</string>
    <string>Schwacyrillic</string>
    <string>afii10846</string>
    <string>Imacroncyrillic</string>
    <string>imacroncyrillic</string>
    <string>Obarredcyrillic</string>
    <string>obarredcyrillic</string>
    <string>Umacroncyrillic</string>
    <string>umacroncyrillic</string>
    <string>Wgrave</string>
    <string>wgrave</string>
    <string>Wacute</string>
    <string>wacute</string>
    <string>Wdieresis</string>
    <string>wdieresis</string>
    <string>Germandbls</string>
    <string>Acircumflexacute</string>
    <string>acircumflexacute</string>
    <string>Acircumflexgrave</string>
    <string>acircumflexgrave</string>
    <string>Acircumflextilde</string>
    <string>acircumflextilde</string>
    <string>Abreveacute</string>
    <string>abreveacute</string>
    <string>Abrevegrave</string>
    <string>abrevegrave</string>
    <string>Abrevetilde</string>
    <string>abrevetilde</string>
    <string>Etilde</string>
    <string>etilde</string>
    <string>Ecircumflexacute</string>
    <string>ecircumflexacute</string>
    <string>Ecircumflexgrave</string>
    <string>ecircumflexgrave</string>
    <string>Ecircumflextilde</string>
    <string>ecircumflextilde</string>
    <string>Ocircumflexacute</string>
    <string>ocircumflexacute</string>
    <string>Ocircumflexgrave</string>
    <string>ocircumflexgrave</string>
    <string>Ocircumflextilde</string>
    <string>ocircumflextilde</string>
    <string>Ygrave</string>
    <string>ygrave</string>
    <string>Ytilde</string>
    <string>ytilde</string>
    <string>endash</string>
    <string>emdash</string>
    <string>afii00208</string>
    <string>quoteleft</string>
    <string>quoteright</string>
    <string>quotesinglbase</string>
    <string>quotedblleft</string>
    <string>quotedblright</string>
    <string>quotedblbase</string>
    <string>dagger</string>
    <string>daggerdbl</string>
    <string>bullet</string>
    <string>uni2023</string>
    <string>twodotenleader</string>
    <string>ellipsis</string>
    <string>perthousand</string>
    <string>uni2031</string>
    <string>guilsinglleft</string>
    <string>guilsinglright</string>
    <string>fraction</string>
    <string>zerosuperior</string>
    <string>foursuperior</string>
    <string>fivesuperior</string>
    <string>sixsuperior</string>
    <string>sevensuperior</string>
    <string>eightsuperior</string>
    <string>ninesuperior</string>
    <string>Euro</string>
    <string>uni20B1</string>
    <string>uni20B3</string>
    <string>uni20B4</string>
    <string>uni20B8</string>
    <string>uni20BD</string>
    <string>afii61352</string>
    <string>trademark</string>
    <string>Ohm</string>
    <string>arrowleft</string>
    <string>arrowright</string>
    <string>partialdiff</string>
    <string>Delta</string>
    <string>product</string>
    <string>summation</string>
    <string>minus</string>
    <string>radical</string>
    <string>infinity</string>
    <string>integral</string>
    <string>approxequal</string>
    <string>notequal</string>
    <string>lessequal</string>
    <string>greaterequal</string>
    <string>lozenge</string>
    <string>fi</string>
    <string>fl</string>
    <string>u1D4B6</string>
    <string>g.ss01</string>
    <string>gbreve.ss01</string>
    <string>uni0123.ss01</string>
    <string>gdotaccent.ss01</string>
    <string>i.loclTRK</string>
    <string>uni0414.loclRUS</string>
    <string>uni0414.loclSRB</string>
    <string>uni041B.loclRUS</string>
    <string>uni041B.loclSRB</string>
    <string>uni042E.loclRUS</string>
    <string>uni0431.loclSRB</string>
    <string>uni0432.loclRUS</string>
    <string>uni0432.loclSRB</string>
    <string>uni0433.loclRUS</string>
    <string>uni0433.loclSRB</string>
    <string>uni0434.loclRUS</string>
    <string>uni0434.loclSRB</string>
    <string>uni0436.loclRUS</string>
    <string>uni0436.loclSRB</string>
    <string>uni0437.loclRUS</string>
    <string>uni0437.loclSRB</string>
    <string>uni0438.loclRUS</string>
    <string>uni0438.loclSRB</string>
    <string>uni0439.loclRUS</string>
    <string>uni0439.loclSRB</string>
    <string>uni045D.loclRUS</string>
    <string>uni045D.loclSRB</string>
    <string>uni043A.loclRUS</string>
    <string>uni043A.loclSRB</string>
    <string>uni043B.loclRUS</string>
    <string>uni043B.loclSRB</string>
    <string>uni043F.loclRUS</string>
    <string>uni043F.loclSRB</string>
    <string>uni0442.loclRUS</string>
    <string>uni0442.loclSRB</string>
    <string>uni0446.loclRUS</string>
    <string>uni0446.loclSRB</string>
    <string>uni0448.loclRUS</string>
    <string>uni0448.loclSRB</string>
    <string>uni0449.loclRUS</string>
    <string>uni0449.loclSRB</string>
    <string>uni044C.loclRUS</string>
    <string>uni044A.loclRUS</string>
    <string>uni044B.loclRUS</string>
    <string>uni044E.loclRUS</string>
    <string>strokecy</string>
    <string>c.001</string>
    <string>f_f_i</string>
    <string>f_f_l</string>
    <string>f_f</string>
  </array>
</dict>
</plist>
