<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>P</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-82</integer>
  </dict>
  <key>afii10077</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-188</integer>
    <key>public.kern2.uni0450</key>
    <integer>-8</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>J</key>
    <integer>-33</integer>
    <key>public.kern2.A2</key>
    <integer>-164</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-143</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-8</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-164</integer>
    <key>public.kern2.W2</key>
    <integer>-115</integer>
    <key>public.kern2.quoteright</key>
    <integer>-164</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-164</integer>
    <key>public.kern2.a</key>
    <integer>-188</integer>
    <key>public.kern2.uni0450</key>
    <integer>-188</integer>
    <key>public.kern2.v</key>
    <integer>-242</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-127</integer>
    <key>public.kern2.a</key>
    <integer>-98</integer>
    <key>public.kern2.afii100322</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-115</integer>
    <key>public.kern2.a</key>
    <integer>-61</integer>
  </dict>
  <key>public.kern1.afii10032</key>
  <dict>
    <key>public.kern2.afii10037</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.afii10080</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-188</integer>
  </dict>
</dict>
</plist>
