<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-168</integer>
    <key>public.kern2.W2</key>
    <integer>-118</integer>
    <key>public.kern2.quoteright</key>
    <integer>-168</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-42</integer>
    <key>public.kern2.W2</key>
    <integer>-30</integer>
    <key>public.kern2.quoteright</key>
    <integer>-42</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>-84</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>a</key>
    <integer>-193</integer>
    <key>ae</key>
    <integer>-193</integer>
    <key>c</key>
    <integer>-193</integer>
    <key>cacute</key>
    <integer>-193</integer>
    <key>ccaron</key>
    <integer>-193</integer>
    <key>ccedilla</key>
    <integer>-193</integer>
    <key>cdotaccent</key>
    <integer>-193</integer>
    <key>d</key>
    <integer>-193</integer>
    <key>dcaron</key>
    <integer>-193</integer>
    <key>dcroat</key>
    <integer>-193</integer>
    <key>e</key>
    <integer>-193</integer>
    <key>eacute</key>
    <integer>-193</integer>
    <key>ecaron</key>
    <integer>-193</integer>
    <key>ecircumflex</key>
    <integer>-193</integer>
    <key>edieresis</key>
    <integer>-193</integer>
    <key>edotaccent</key>
    <integer>-193</integer>
    <key>egrave</key>
    <integer>-193</integer>
    <key>emacron</key>
    <integer>-193</integer>
    <key>eogonek</key>
    <integer>-193</integer>
    <key>eth</key>
    <integer>-193</integer>
    <key>f</key>
    <integer>-193</integer>
    <key>g</key>
    <integer>-193</integer>
    <key>gbreve</key>
    <integer>-193</integer>
    <key>gdotaccent</key>
    <integer>-193</integer>
    <key>i</key>
    <integer>-193</integer>
    <key>infinity</key>
    <integer>-193</integer>
    <key>j</key>
    <integer>-193</integer>
    <key>l</key>
    <integer>-193</integer>
    <key>o</key>
    <integer>-193</integer>
    <key>oacute</key>
    <integer>-193</integer>
    <key>ocircumflex</key>
    <integer>-193</integer>
    <key>odieresis</key>
    <integer>-193</integer>
    <key>oe</key>
    <integer>-193</integer>
    <key>ograve</key>
    <integer>-193</integer>
    <key>ohungarumlaut</key>
    <integer>-193</integer>
    <key>omacron</key>
    <integer>-193</integer>
    <key>oslash</key>
    <integer>-193</integer>
    <key>otilde</key>
    <integer>-193</integer>
    <key>partialdiff</key>
    <integer>-193</integer>
    <key>q</key>
    <integer>-193</integer>
    <key>s</key>
    <integer>-193</integer>
    <key>u</key>
    <integer>-193</integer>
    <key>uacute</key>
    <integer>-193</integer>
    <key>ucircumflex</key>
    <integer>-193</integer>
    <key>udieresis</key>
    <integer>-193</integer>
    <key>ugrave</key>
    <integer>-193</integer>
    <key>uhungarumlaut</key>
    <integer>-193</integer>
    <key>umacron</key>
    <integer>-193</integer>
    <key>public.kern2.A2</key>
    <integer>-168</integer>
    <key>public.kern2.v</key>
    <integer>-248</integer>
  </dict>
  <key>Tbar</key>
  <dict>
    <key>a</key>
    <integer>-193</integer>
    <key>ae</key>
    <integer>-193</integer>
    <key>c</key>
    <integer>-193</integer>
    <key>cacute</key>
    <integer>-193</integer>
    <key>ccaron</key>
    <integer>-193</integer>
    <key>ccedilla</key>
    <integer>-193</integer>
    <key>cdotaccent</key>
    <integer>-193</integer>
    <key>d</key>
    <integer>-193</integer>
    <key>dcaron</key>
    <integer>-193</integer>
    <key>dcroat</key>
    <integer>-193</integer>
    <key>e</key>
    <integer>-193</integer>
    <key>eacute</key>
    <integer>-193</integer>
    <key>ecaron</key>
    <integer>-193</integer>
    <key>ecircumflex</key>
    <integer>-193</integer>
    <key>edieresis</key>
    <integer>-193</integer>
    <key>edotaccent</key>
    <integer>-193</integer>
    <key>egrave</key>
    <integer>-193</integer>
    <key>emacron</key>
    <integer>-193</integer>
    <key>eogonek</key>
    <integer>-193</integer>
    <key>eth</key>
    <integer>-193</integer>
    <key>f</key>
    <integer>-193</integer>
    <key>g</key>
    <integer>-193</integer>
    <key>gbreve</key>
    <integer>-193</integer>
    <key>gdotaccent</key>
    <integer>-193</integer>
    <key>i</key>
    <integer>-193</integer>
    <key>infinity</key>
    <integer>-193</integer>
    <key>j</key>
    <integer>-193</integer>
    <key>l</key>
    <integer>-193</integer>
    <key>o</key>
    <integer>-193</integer>
    <key>oacute</key>
    <integer>-193</integer>
    <key>ocircumflex</key>
    <integer>-193</integer>
    <key>odieresis</key>
    <integer>-193</integer>
    <key>oe</key>
    <integer>-193</integer>
    <key>ograve</key>
    <integer>-193</integer>
    <key>ohungarumlaut</key>
    <integer>-193</integer>
    <key>omacron</key>
    <integer>-193</integer>
    <key>oslash</key>
    <integer>-193</integer>
    <key>otilde</key>
    <integer>-193</integer>
    <key>partialdiff</key>
    <integer>-193</integer>
    <key>q</key>
    <integer>-193</integer>
    <key>s</key>
    <integer>-193</integer>
    <key>u</key>
    <integer>-193</integer>
    <key>uacute</key>
    <integer>-193</integer>
    <key>ucircumflex</key>
    <integer>-193</integer>
    <key>udieresis</key>
    <integer>-193</integer>
    <key>ugrave</key>
    <integer>-193</integer>
    <key>uhungarumlaut</key>
    <integer>-193</integer>
    <key>umacron</key>
    <integer>-193</integer>
    <key>public.kern2.A2</key>
    <integer>-168</integer>
    <key>public.kern2.v</key>
    <integer>-248</integer>
  </dict>
  <key>Tcaron</key>
  <dict>
    <key>a</key>
    <integer>-193</integer>
    <key>ae</key>
    <integer>-193</integer>
    <key>c</key>
    <integer>-193</integer>
    <key>cacute</key>
    <integer>-193</integer>
    <key>ccaron</key>
    <integer>-193</integer>
    <key>ccedilla</key>
    <integer>-193</integer>
    <key>cdotaccent</key>
    <integer>-193</integer>
    <key>d</key>
    <integer>-193</integer>
    <key>dcaron</key>
    <integer>-193</integer>
    <key>dcroat</key>
    <integer>-193</integer>
    <key>e</key>
    <integer>-193</integer>
    <key>eacute</key>
    <integer>-193</integer>
    <key>ecaron</key>
    <integer>-193</integer>
    <key>ecircumflex</key>
    <integer>-193</integer>
    <key>edieresis</key>
    <integer>-193</integer>
    <key>edotaccent</key>
    <integer>-193</integer>
    <key>egrave</key>
    <integer>-193</integer>
    <key>emacron</key>
    <integer>-193</integer>
    <key>eogonek</key>
    <integer>-193</integer>
    <key>eth</key>
    <integer>-193</integer>
    <key>f</key>
    <integer>-193</integer>
    <key>g</key>
    <integer>-193</integer>
    <key>gbreve</key>
    <integer>-193</integer>
    <key>gdotaccent</key>
    <integer>-193</integer>
    <key>i</key>
    <integer>-193</integer>
    <key>infinity</key>
    <integer>-193</integer>
    <key>j</key>
    <integer>-193</integer>
    <key>l</key>
    <integer>-193</integer>
    <key>o</key>
    <integer>-193</integer>
    <key>oacute</key>
    <integer>-193</integer>
    <key>ocircumflex</key>
    <integer>-193</integer>
    <key>odieresis</key>
    <integer>-193</integer>
    <key>oe</key>
    <integer>-193</integer>
    <key>ograve</key>
    <integer>-193</integer>
    <key>ohungarumlaut</key>
    <integer>-193</integer>
    <key>omacron</key>
    <integer>-193</integer>
    <key>oslash</key>
    <integer>-193</integer>
    <key>otilde</key>
    <integer>-193</integer>
    <key>partialdiff</key>
    <integer>-193</integer>
    <key>q</key>
    <integer>-193</integer>
    <key>s</key>
    <integer>-193</integer>
    <key>u</key>
    <integer>-193</integer>
    <key>uacute</key>
    <integer>-193</integer>
    <key>ucircumflex</key>
    <integer>-193</integer>
    <key>udieresis</key>
    <integer>-193</integer>
    <key>ugrave</key>
    <integer>-193</integer>
    <key>uhungarumlaut</key>
    <integer>-193</integer>
    <key>umacron</key>
    <integer>-193</integer>
    <key>public.kern2.A2</key>
    <integer>-168</integer>
    <key>public.kern2.v</key>
    <integer>-248</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>a</key>
    <integer>-48</integer>
    <key>ae</key>
    <integer>-48</integer>
    <key>c</key>
    <integer>-48</integer>
    <key>cacute</key>
    <integer>-48</integer>
    <key>ccaron</key>
    <integer>-48</integer>
    <key>ccedilla</key>
    <integer>-48</integer>
    <key>cdotaccent</key>
    <integer>-48</integer>
    <key>d</key>
    <integer>-48</integer>
    <key>dcaron</key>
    <integer>-48</integer>
    <key>dcroat</key>
    <integer>-48</integer>
    <key>e</key>
    <integer>-48</integer>
    <key>eacute</key>
    <integer>-48</integer>
    <key>ecaron</key>
    <integer>-48</integer>
    <key>ecircumflex</key>
    <integer>-48</integer>
    <key>edieresis</key>
    <integer>-48</integer>
    <key>edotaccent</key>
    <integer>-48</integer>
    <key>egrave</key>
    <integer>-48</integer>
    <key>emacron</key>
    <integer>-48</integer>
    <key>eogonek</key>
    <integer>-48</integer>
    <key>eth</key>
    <integer>-48</integer>
    <key>f</key>
    <integer>-48</integer>
    <key>g</key>
    <integer>-48</integer>
    <key>gbreve</key>
    <integer>-48</integer>
    <key>gdotaccent</key>
    <integer>-48</integer>
    <key>i</key>
    <integer>-48</integer>
    <key>infinity</key>
    <integer>-48</integer>
    <key>j</key>
    <integer>-48</integer>
    <key>l</key>
    <integer>-48</integer>
    <key>o</key>
    <integer>-48</integer>
    <key>oacute</key>
    <integer>-48</integer>
    <key>ocircumflex</key>
    <integer>-48</integer>
    <key>odieresis</key>
    <integer>-48</integer>
    <key>oe</key>
    <integer>-48</integer>
    <key>ograve</key>
    <integer>-48</integer>
    <key>ohungarumlaut</key>
    <integer>-48</integer>
    <key>omacron</key>
    <integer>-48</integer>
    <key>oslash</key>
    <integer>-48</integer>
    <key>otilde</key>
    <integer>-48</integer>
    <key>partialdiff</key>
    <integer>-48</integer>
    <key>q</key>
    <integer>-48</integer>
    <key>s</key>
    <integer>-48</integer>
    <key>u</key>
    <integer>-48</integer>
    <key>uacute</key>
    <integer>-48</integer>
    <key>ucircumflex</key>
    <integer>-48</integer>
    <key>udieresis</key>
    <integer>-48</integer>
    <key>ugrave</key>
    <integer>-48</integer>
    <key>uhungarumlaut</key>
    <integer>-48</integer>
    <key>umacron</key>
    <integer>-48</integer>
    <key>public.kern2.A2</key>
    <integer>-42</integer>
    <key>public.kern2.v</key>
    <integer>-62</integer>
  </dict>
  <key>Yacute</key>
  <dict>
    <key>a</key>
    <integer>-48</integer>
    <key>ae</key>
    <integer>-48</integer>
    <key>c</key>
    <integer>-48</integer>
    <key>cacute</key>
    <integer>-48</integer>
    <key>ccaron</key>
    <integer>-48</integer>
    <key>ccedilla</key>
    <integer>-48</integer>
    <key>cdotaccent</key>
    <integer>-48</integer>
    <key>d</key>
    <integer>-48</integer>
    <key>dcaron</key>
    <integer>-48</integer>
    <key>dcroat</key>
    <integer>-48</integer>
    <key>e</key>
    <integer>-48</integer>
    <key>eacute</key>
    <integer>-48</integer>
    <key>ecaron</key>
    <integer>-48</integer>
    <key>ecircumflex</key>
    <integer>-48</integer>
    <key>edieresis</key>
    <integer>-48</integer>
    <key>edotaccent</key>
    <integer>-48</integer>
    <key>egrave</key>
    <integer>-48</integer>
    <key>emacron</key>
    <integer>-48</integer>
    <key>eogonek</key>
    <integer>-48</integer>
    <key>eth</key>
    <integer>-48</integer>
    <key>f</key>
    <integer>-48</integer>
    <key>g</key>
    <integer>-48</integer>
    <key>gbreve</key>
    <integer>-48</integer>
    <key>gdotaccent</key>
    <integer>-48</integer>
    <key>i</key>
    <integer>-48</integer>
    <key>infinity</key>
    <integer>-48</integer>
    <key>j</key>
    <integer>-48</integer>
    <key>l</key>
    <integer>-48</integer>
    <key>o</key>
    <integer>-48</integer>
    <key>oacute</key>
    <integer>-48</integer>
    <key>ocircumflex</key>
    <integer>-48</integer>
    <key>odieresis</key>
    <integer>-48</integer>
    <key>oe</key>
    <integer>-48</integer>
    <key>ograve</key>
    <integer>-48</integer>
    <key>ohungarumlaut</key>
    <integer>-48</integer>
    <key>omacron</key>
    <integer>-48</integer>
    <key>oslash</key>
    <integer>-48</integer>
    <key>otilde</key>
    <integer>-48</integer>
    <key>partialdiff</key>
    <integer>-48</integer>
    <key>q</key>
    <integer>-48</integer>
    <key>s</key>
    <integer>-48</integer>
    <key>u</key>
    <integer>-48</integer>
    <key>uacute</key>
    <integer>-48</integer>
    <key>ucircumflex</key>
    <integer>-48</integer>
    <key>udieresis</key>
    <integer>-48</integer>
    <key>ugrave</key>
    <integer>-48</integer>
    <key>uhungarumlaut</key>
    <integer>-48</integer>
    <key>umacron</key>
    <integer>-48</integer>
    <key>public.kern2.A2</key>
    <integer>-42</integer>
    <key>public.kern2.v</key>
    <integer>-62</integer>
  </dict>
  <key>Ycircumflex</key>
  <dict>
    <key>a</key>
    <integer>-48</integer>
    <key>ae</key>
    <integer>-48</integer>
    <key>c</key>
    <integer>-48</integer>
    <key>cacute</key>
    <integer>-48</integer>
    <key>ccaron</key>
    <integer>-48</integer>
    <key>ccedilla</key>
    <integer>-48</integer>
    <key>cdotaccent</key>
    <integer>-48</integer>
    <key>d</key>
    <integer>-48</integer>
    <key>dcaron</key>
    <integer>-48</integer>
    <key>dcroat</key>
    <integer>-48</integer>
    <key>e</key>
    <integer>-48</integer>
    <key>eacute</key>
    <integer>-48</integer>
    <key>ecaron</key>
    <integer>-48</integer>
    <key>ecircumflex</key>
    <integer>-48</integer>
    <key>edieresis</key>
    <integer>-48</integer>
    <key>edotaccent</key>
    <integer>-48</integer>
    <key>egrave</key>
    <integer>-48</integer>
    <key>emacron</key>
    <integer>-48</integer>
    <key>eogonek</key>
    <integer>-48</integer>
    <key>eth</key>
    <integer>-48</integer>
    <key>f</key>
    <integer>-48</integer>
    <key>g</key>
    <integer>-48</integer>
    <key>gbreve</key>
    <integer>-48</integer>
    <key>gdotaccent</key>
    <integer>-48</integer>
    <key>i</key>
    <integer>-48</integer>
    <key>infinity</key>
    <integer>-48</integer>
    <key>j</key>
    <integer>-48</integer>
    <key>l</key>
    <integer>-48</integer>
    <key>o</key>
    <integer>-48</integer>
    <key>oacute</key>
    <integer>-48</integer>
    <key>ocircumflex</key>
    <integer>-48</integer>
    <key>odieresis</key>
    <integer>-48</integer>
    <key>oe</key>
    <integer>-48</integer>
    <key>ograve</key>
    <integer>-48</integer>
    <key>ohungarumlaut</key>
    <integer>-48</integer>
    <key>omacron</key>
    <integer>-48</integer>
    <key>oslash</key>
    <integer>-48</integer>
    <key>otilde</key>
    <integer>-48</integer>
    <key>partialdiff</key>
    <integer>-48</integer>
    <key>q</key>
    <integer>-48</integer>
    <key>s</key>
    <integer>-48</integer>
    <key>u</key>
    <integer>-48</integer>
    <key>uacute</key>
    <integer>-48</integer>
    <key>ucircumflex</key>
    <integer>-48</integer>
    <key>udieresis</key>
    <integer>-48</integer>
    <key>ugrave</key>
    <integer>-48</integer>
    <key>uhungarumlaut</key>
    <integer>-48</integer>
    <key>umacron</key>
    <integer>-48</integer>
    <key>public.kern2.A2</key>
    <integer>-42</integer>
    <key>public.kern2.v</key>
    <integer>-62</integer>
  </dict>
  <key>Ydieresis</key>
  <dict>
    <key>a</key>
    <integer>-48</integer>
    <key>ae</key>
    <integer>-48</integer>
    <key>c</key>
    <integer>-48</integer>
    <key>cacute</key>
    <integer>-48</integer>
    <key>ccaron</key>
    <integer>-48</integer>
    <key>ccedilla</key>
    <integer>-48</integer>
    <key>cdotaccent</key>
    <integer>-48</integer>
    <key>d</key>
    <integer>-48</integer>
    <key>dcaron</key>
    <integer>-48</integer>
    <key>dcroat</key>
    <integer>-48</integer>
    <key>e</key>
    <integer>-48</integer>
    <key>eacute</key>
    <integer>-48</integer>
    <key>ecaron</key>
    <integer>-48</integer>
    <key>ecircumflex</key>
    <integer>-48</integer>
    <key>edieresis</key>
    <integer>-48</integer>
    <key>edotaccent</key>
    <integer>-48</integer>
    <key>egrave</key>
    <integer>-48</integer>
    <key>emacron</key>
    <integer>-48</integer>
    <key>eogonek</key>
    <integer>-48</integer>
    <key>eth</key>
    <integer>-48</integer>
    <key>f</key>
    <integer>-48</integer>
    <key>g</key>
    <integer>-48</integer>
    <key>gbreve</key>
    <integer>-48</integer>
    <key>gdotaccent</key>
    <integer>-48</integer>
    <key>i</key>
    <integer>-48</integer>
    <key>infinity</key>
    <integer>-48</integer>
    <key>j</key>
    <integer>-48</integer>
    <key>l</key>
    <integer>-48</integer>
    <key>o</key>
    <integer>-48</integer>
    <key>oacute</key>
    <integer>-48</integer>
    <key>ocircumflex</key>
    <integer>-48</integer>
    <key>odieresis</key>
    <integer>-48</integer>
    <key>oe</key>
    <integer>-48</integer>
    <key>ograve</key>
    <integer>-48</integer>
    <key>ohungarumlaut</key>
    <integer>-48</integer>
    <key>omacron</key>
    <integer>-48</integer>
    <key>oslash</key>
    <integer>-48</integer>
    <key>otilde</key>
    <integer>-48</integer>
    <key>partialdiff</key>
    <integer>-48</integer>
    <key>q</key>
    <integer>-48</integer>
    <key>s</key>
    <integer>-48</integer>
    <key>u</key>
    <integer>-48</integer>
    <key>uacute</key>
    <integer>-48</integer>
    <key>ucircumflex</key>
    <integer>-48</integer>
    <key>udieresis</key>
    <integer>-48</integer>
    <key>ugrave</key>
    <integer>-48</integer>
    <key>uhungarumlaut</key>
    <integer>-48</integer>
    <key>umacron</key>
    <integer>-48</integer>
    <key>public.kern2.A2</key>
    <integer>-42</integer>
    <key>public.kern2.v</key>
    <integer>-62</integer>
  </dict>
  <key>Ygrave</key>
  <dict>
    <key>a</key>
    <integer>-48</integer>
    <key>ae</key>
    <integer>-48</integer>
    <key>c</key>
    <integer>-48</integer>
    <key>cacute</key>
    <integer>-48</integer>
    <key>ccaron</key>
    <integer>-48</integer>
    <key>ccedilla</key>
    <integer>-48</integer>
    <key>cdotaccent</key>
    <integer>-48</integer>
    <key>d</key>
    <integer>-48</integer>
    <key>dcaron</key>
    <integer>-48</integer>
    <key>dcroat</key>
    <integer>-48</integer>
    <key>e</key>
    <integer>-48</integer>
    <key>eacute</key>
    <integer>-48</integer>
    <key>ecaron</key>
    <integer>-48</integer>
    <key>ecircumflex</key>
    <integer>-48</integer>
    <key>edieresis</key>
    <integer>-48</integer>
    <key>edotaccent</key>
    <integer>-48</integer>
    <key>egrave</key>
    <integer>-48</integer>
    <key>emacron</key>
    <integer>-48</integer>
    <key>eogonek</key>
    <integer>-48</integer>
    <key>eth</key>
    <integer>-48</integer>
    <key>f</key>
    <integer>-48</integer>
    <key>g</key>
    <integer>-48</integer>
    <key>gbreve</key>
    <integer>-48</integer>
    <key>gdotaccent</key>
    <integer>-48</integer>
    <key>i</key>
    <integer>-48</integer>
    <key>infinity</key>
    <integer>-48</integer>
    <key>j</key>
    <integer>-48</integer>
    <key>l</key>
    <integer>-48</integer>
    <key>o</key>
    <integer>-48</integer>
    <key>oacute</key>
    <integer>-48</integer>
    <key>ocircumflex</key>
    <integer>-48</integer>
    <key>odieresis</key>
    <integer>-48</integer>
    <key>oe</key>
    <integer>-48</integer>
    <key>ograve</key>
    <integer>-48</integer>
    <key>ohungarumlaut</key>
    <integer>-48</integer>
    <key>omacron</key>
    <integer>-48</integer>
    <key>oslash</key>
    <integer>-48</integer>
    <key>otilde</key>
    <integer>-48</integer>
    <key>partialdiff</key>
    <integer>-48</integer>
    <key>q</key>
    <integer>-48</integer>
    <key>s</key>
    <integer>-48</integer>
    <key>u</key>
    <integer>-48</integer>
    <key>uacute</key>
    <integer>-48</integer>
    <key>ucircumflex</key>
    <integer>-48</integer>
    <key>udieresis</key>
    <integer>-48</integer>
    <key>ugrave</key>
    <integer>-48</integer>
    <key>uhungarumlaut</key>
    <integer>-48</integer>
    <key>umacron</key>
    <integer>-48</integer>
    <key>public.kern2.A2</key>
    <integer>-42</integer>
    <key>public.kern2.v</key>
    <integer>-62</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>J</key>
    <integer>-34</integer>
    <key>public.kern2.A2</key>
    <integer>-168</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>cent</key>
    <integer>-37</integer>
    <key>public.kern2.a</key>
    <integer>-146</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>cent</key>
    <integer>-48</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>cent</key>
    <integer>-25</integer>
    <key>public.kern2.A2</key>
    <integer>-130</integer>
    <key>public.kern2.a</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>cent</key>
    <integer>-16</integer>
    <key>public.kern2.A2</key>
    <integer>-118</integer>
    <key>public.kern2.a</key>
    <integer>-62</integer>
  </dict>
</dict>
</plist>
