<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>T</key>
    <integer>-168</integer>
    <key>Tbar</key>
    <integer>-168</integer>
    <key>Tcaron</key>
    <integer>-168</integer>
    <key>Upsilon</key>
    <integer>-112</integer>
    <key>V</key>
    <integer>-168</integer>
    <key>W</key>
    <integer>-118</integer>
    <key>Wacute</key>
    <integer>-118</integer>
    <key>Wcircumflex</key>
    <integer>-118</integer>
    <key>Wdieresis</key>
    <integer>-118</integer>
    <key>Wgrave</key>
    <integer>-118</integer>
    <key>Y</key>
    <integer>-168</integer>
    <key>Yacute</key>
    <integer>-168</integer>
    <key>Ycircumflex</key>
    <integer>-168</integer>
    <key>Ydieresis</key>
    <integer>-168</integer>
    <key>Ygrave</key>
    <integer>-168</integer>
    <key>public.kern2.quoteright</key>
    <integer>-168</integer>
  </dict>
  <key>Alpha</key>
  <dict>
    <key>T</key>
    <integer>-112</integer>
    <key>Tbar</key>
    <integer>-112</integer>
    <key>Tcaron</key>
    <integer>-112</integer>
    <key>Upsilon</key>
    <integer>-300</integer>
    <key>V</key>
    <integer>-112</integer>
    <key>W</key>
    <integer>-79</integer>
    <key>Wacute</key>
    <integer>-79</integer>
    <key>Wcircumflex</key>
    <integer>-79</integer>
    <key>Wdieresis</key>
    <integer>-79</integer>
    <key>Wgrave</key>
    <integer>-79</integer>
    <key>Y</key>
    <integer>-112</integer>
    <key>Yacute</key>
    <integer>-112</integer>
    <key>Ycircumflex</key>
    <integer>-112</integer>
    <key>Ydieresis</key>
    <integer>-112</integer>
    <key>Ygrave</key>
    <integer>-112</integer>
    <key>public.kern2.quoteright</key>
    <integer>-112</integer>
  </dict>
  <key>Gamma</key>
  <dict>
    <key>A</key>
    <integer>-250</integer>
    <key>Delta</key>
    <integer>-133</integer>
    <key>alpha</key>
    <integer>-220</integer>
    <key>alphatonos</key>
    <integer>-0</integer>
    <key>cent</key>
    <integer>-93</integer>
    <key>public.kern2.a</key>
    <integer>-93</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>T</key>
    <integer>-168</integer>
    <key>Tbar</key>
    <integer>-168</integer>
    <key>Tcaron</key>
    <integer>-168</integer>
    <key>Upsilon</key>
    <integer>-112</integer>
    <key>V</key>
    <integer>-168</integer>
    <key>W</key>
    <integer>-118</integer>
    <key>Wacute</key>
    <integer>-118</integer>
    <key>Wcircumflex</key>
    <integer>-118</integer>
    <key>Wdieresis</key>
    <integer>-118</integer>
    <key>Wgrave</key>
    <integer>-118</integer>
    <key>Y</key>
    <integer>-168</integer>
    <key>Yacute</key>
    <integer>-168</integer>
    <key>Ycircumflex</key>
    <integer>-168</integer>
    <key>Ydieresis</key>
    <integer>-168</integer>
    <key>Ygrave</key>
    <integer>-168</integer>
    <key>public.kern2.quoteright</key>
    <integer>-168</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>A</key>
    <integer>-84</integer>
  </dict>
  <key>Tau</key>
  <dict>
    <key>A</key>
    <integer>-112</integer>
    <key>Alpha</key>
    <integer>-112</integer>
    <key>alpha</key>
    <integer>-129</integer>
    <key>alphatonos</key>
    <integer>-150</integer>
    <key>cent</key>
    <integer>-129</integer>
    <key>epsilon</key>
    <integer>-220</integer>
    <key>epsilontonos</key>
    <integer>-200</integer>
    <key>iota</key>
    <integer>-200</integer>
    <key>omicron</key>
    <integer>-120</integer>
    <key>sigma</key>
    <integer>-330</integer>
    <key>upsilon</key>
    <integer>-250</integer>
    <key>upsilondieresis</key>
    <integer>-120</integer>
    <key>public.kern2.a</key>
    <integer>-129</integer>
    <key>public.kern2.v</key>
    <integer>-165</integer>
  </dict>
  <key>Upsilon</key>
  <dict>
    <key>A</key>
    <integer>-112</integer>
    <key>Alpha</key>
    <integer>-112</integer>
    <key>Lambda</key>
    <integer>-200</integer>
    <key>alphatonos</key>
    <integer>-0</integer>
    <key>cent</key>
    <integer>-129</integer>
    <key>public.kern2.a</key>
    <integer>-129</integer>
    <key>public.kern2.v</key>
    <integer>-165</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>A</key>
    <integer>-168</integer>
    <key>Alpha</key>
    <integer>-112</integer>
    <key>alpha</key>
    <integer>-129</integer>
    <key>alphatonos</key>
    <integer>-0</integer>
    <key>cent</key>
    <integer>-193</integer>
    <key>nu</key>
    <integer>-165</integer>
    <key>public.kern2.a</key>
    <integer>-193</integer>
    <key>public.kern2.v</key>
    <integer>-248</integer>
  </dict>
  <key>Yacute</key>
  <dict>
    <key>A</key>
    <integer>-168</integer>
    <key>Alpha</key>
    <integer>-112</integer>
    <key>alpha</key>
    <integer>-129</integer>
    <key>alphatonos</key>
    <integer>-0</integer>
    <key>cent</key>
    <integer>-193</integer>
    <key>nu</key>
    <integer>-165</integer>
    <key>public.kern2.a</key>
    <integer>-193</integer>
    <key>public.kern2.v</key>
    <integer>-248</integer>
  </dict>
  <key>Ycircumflex</key>
  <dict>
    <key>A</key>
    <integer>-168</integer>
    <key>Alpha</key>
    <integer>-112</integer>
    <key>alpha</key>
    <integer>-129</integer>
    <key>alphatonos</key>
    <integer>-0</integer>
    <key>cent</key>
    <integer>-193</integer>
    <key>nu</key>
    <integer>-165</integer>
    <key>public.kern2.a</key>
    <integer>-193</integer>
    <key>public.kern2.v</key>
    <integer>-248</integer>
  </dict>
  <key>Ydieresis</key>
  <dict>
    <key>A</key>
    <integer>-168</integer>
    <key>Alpha</key>
    <integer>-112</integer>
    <key>alpha</key>
    <integer>-129</integer>
    <key>alphatonos</key>
    <integer>-0</integer>
    <key>cent</key>
    <integer>-193</integer>
    <key>nu</key>
    <integer>-165</integer>
    <key>public.kern2.a</key>
    <integer>-193</integer>
    <key>public.kern2.v</key>
    <integer>-248</integer>
  </dict>
  <key>Ygrave</key>
  <dict>
    <key>A</key>
    <integer>-168</integer>
    <key>Alpha</key>
    <integer>-112</integer>
    <key>alpha</key>
    <integer>-129</integer>
    <key>alphatonos</key>
    <integer>-0</integer>
    <key>cent</key>
    <integer>-193</integer>
    <key>nu</key>
    <integer>-165</integer>
    <key>public.kern2.a</key>
    <integer>-193</integer>
    <key>public.kern2.v</key>
    <integer>-248</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-168</integer>
    <key>J</key>
    <integer>-34</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>alpha</key>
    <integer>-49</integer>
    <key>alphatonos</key>
    <integer>-49</integer>
    <key>cent</key>
    <integer>-146</integer>
    <key>public.kern2.a</key>
    <integer>-146</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>T</key>
    <integer>-56</integer>
    <key>Tbar</key>
    <integer>-56</integer>
    <key>Tcaron</key>
    <integer>-56</integer>
    <key>Upsilon</key>
    <integer>-0</integer>
    <key>V</key>
    <integer>-56</integer>
    <key>W</key>
    <integer>-39</integer>
    <key>Wacute</key>
    <integer>-39</integer>
    <key>Wcircumflex</key>
    <integer>-39</integer>
    <key>Wdieresis</key>
    <integer>-39</integer>
    <key>Wgrave</key>
    <integer>-39</integer>
    <key>Y</key>
    <integer>-56</integer>
    <key>Yacute</key>
    <integer>-56</integer>
    <key>Ycircumflex</key>
    <integer>-56</integer>
    <key>Ydieresis</key>
    <integer>-56</integer>
    <key>Ygrave</key>
    <integer>-56</integer>
    <key>public.kern2.quoteright</key>
    <integer>-56</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>A</key>
    <integer>-168</integer>
    <key>Alpha</key>
    <integer>-112</integer>
    <key>alpha</key>
    <integer>-129</integer>
    <key>alphatonos</key>
    <integer>-64</integer>
    <key>cent</key>
    <integer>-193</integer>
    <key>nu</key>
    <integer>-165</integer>
    <key>public.kern2.a</key>
    <integer>-193</integer>
    <key>public.kern2.v</key>
    <integer>-248</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>A</key>
    <integer>-130</integer>
    <key>Alpha</key>
    <integer>-87</integer>
    <key>alpha</key>
    <integer>-67</integer>
    <key>alphatonos</key>
    <integer>-33</integer>
    <key>cent</key>
    <integer>-100</integer>
    <key>public.kern2.a</key>
    <integer>-100</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>A</key>
    <integer>-118</integer>
    <key>Alpha</key>
    <integer>-79</integer>
    <key>alpha</key>
    <integer>-41</integer>
    <key>alphatonos</key>
    <integer>-21</integer>
    <key>cent</key>
    <integer>-62</integer>
    <key>public.kern2.a</key>
    <integer>-62</integer>
  </dict>
</dict>
</plist>
