<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>A</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-59</integer>
    <key>public.kern2.W2</key>
    <integer>-12</integer>
    <key>public.kern2.quoteright</key>
    <integer>22</integer>
  </dict>
  <key>Acyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-64</integer>
    <key>public.kern2.W2</key>
    <integer>-17</integer>
    <key>public.kern2.quoteright</key>
    <integer>-11</integer>
  </dict>
  <key>B</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>4</integer>
    <key>public.kern2.AE</key>
    <integer>4</integer>
    <key>public.kern2.T2</key>
    <integer>-22</integer>
    <key>public.kern2.W2</key>
    <integer>5</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
  </dict>
  <key>Becyr</key>
  <dict>
    <key>Hacyr</key>
    <integer>-20</integer>
    <key>Hardcyr</key>
    <integer>-20</integer>
    <key>Tshecyr</key>
    <integer>7</integer>
    <key>hardcyr</key>
    <integer>-29</integer>
    <key>question</key>
    <integer>-37</integer>
    <key>quotesingle</key>
    <integer>-20</integer>
    <key>public.kern2.quoteright</key>
    <integer>-39</integer>
    <key>public.kern2.uni040E</key>
    <integer>-24</integer>
    <key>public.kern2.uni0443</key>
    <integer>-28</integer>
  </dict>
  <key>Decyr</key>
  <dict>
    <key>Checyr</key>
    <integer>8</integer>
    <key>Hardcyr</key>
    <integer>12</integer>
    <key>Tecyr</key>
    <integer>12</integer>
    <key>Tshecyr</key>
    <integer>12</integer>
    <key>hardcyr</key>
    <integer>12</integer>
    <key>public.kern2.quoteright</key>
    <integer>3</integer>
    <key>public.kern2.uni0404</key>
    <integer>3</integer>
    <key>public.kern2.uni040E</key>
    <integer>14</integer>
    <key>public.kern2.uni041E</key>
    <integer>3</integer>
    <key>public.kern2.uni0443</key>
    <integer>14</integer>
  </dict>
  <key>Djecyr</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-27</integer>
  </dict>
  <key>Efcyr</key>
  <dict>
    <key>Tecyr</key>
    <integer>-69</integer>
    <key>Tshecyr</key>
    <integer>-69</integer>
    <key>Yacyr</key>
    <integer>9</integer>
    <key>comma</key>
    <integer>-17</integer>
    <key>period</key>
    <integer>-2</integer>
    <key>slash</key>
    <integer>-40</integer>
    <key>public.kern2.A2</key>
    <integer>-7</integer>
    <key>public.kern2.uni0409</key>
    <integer>-9</integer>
    <key>public.kern2.uni040E</key>
    <integer>-9</integer>
    <key>public.kern2.uni043B</key>
    <integer>14</integer>
  </dict>
  <key>Ercyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-49</integer>
    <key>Hacyr</key>
    <integer>-13</integer>
    <key>Yacyr</key>
    <integer>4</integer>
    <key>Zhecyr</key>
    <integer>-30</integer>
    <key>comma</key>
    <integer>-43</integer>
    <key>period</key>
    <integer>-17</integer>
    <key>slash</key>
    <integer>-91</integer>
    <key>public.kern2.A2</key>
    <integer>-46</integer>
    <key>public.kern2.endash</key>
    <integer>5</integer>
    <key>public.kern2.uni0409</key>
    <integer>-51</integer>
    <key>public.kern2.uni040E</key>
    <integer>9</integer>
  </dict>
  <key>Escyr</key>
  <dict>
    <key>comma</key>
    <integer>3</integer>
    <key>public.kern2.endash</key>
    <integer>2</integer>
  </dict>
  <key>Eukrcyr</key>
  <dict>
    <key>comma</key>
    <integer>3</integer>
    <key>public.kern2.endash</key>
    <integer>9</integer>
  </dict>
  <key>F</key>
  <dict>
    <key>A</key>
    <integer>-39</integer>
    <key>Acyr</key>
    <integer>-51</integer>
    <key>Yuslittlecyr</key>
    <integer>-51</integer>
    <key>comma</key>
    <integer>-54</integer>
    <key>period</key>
    <integer>-27</integer>
    <key>semicolon</key>
    <integer>-36</integer>
    <key>x</key>
    <integer>-39</integer>
    <key>public.kern2.AE</key>
    <integer>-51</integer>
    <key>public.kern2.J</key>
    <integer>-131</integer>
    <key>public.kern2.a</key>
    <integer>-140</integer>
    <key>public.kern2.t</key>
    <integer>-39</integer>
    <key>public.kern2.v</key>
    <integer>-24</integer>
    <key>public.kern2.z</key>
    <integer>-110</integer>
  </dict>
  <key>Hacyr</key>
  <dict>
    <key>acyr</key>
    <integer>4</integer>
    <key>hardcyr</key>
    <integer>-43</integer>
    <key>tecyr</key>
    <integer>-43</integer>
    <key>public.kern2.endash</key>
    <integer>3</integer>
    <key>public.kern2.uni041E</key>
    <integer>8</integer>
    <key>public.kern2.uni0435</key>
    <integer>-5</integer>
    <key>public.kern2.uni043E</key>
    <integer>-5</integer>
    <key>public.kern2.uni0443</key>
    <integer>-30</integer>
  </dict>
  <key>Jecyr</key>
  <dict>
    <key>slash</key>
    <integer>-17</integer>
    <key>public.kern2.A2</key>
    <integer>4</integer>
  </dict>
  <key>L</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-59</integer>
    <key>public.kern2.W2</key>
    <integer>-12</integer>
    <key>public.kern2.quoteright</key>
    <integer>22</integer>
  </dict>
  <key>Ljecyr</key>
  <dict>
    <key>quotesingle</key>
    <integer>-47</integer>
    <key>public.kern2.quoteright</key>
    <integer>-73</integer>
    <key>public.kern2.uni040E</key>
    <integer>-44</integer>
    <key>public.kern2.uni0443</key>
    <integer>-25</integer>
  </dict>
  <key>Lslash</key>
  <dict>
    <key>public.kern2.G</key>
    <integer>-31</integer>
    <key>public.kern2.O</key>
    <integer>-38</integer>
    <key>public.kern2.T2</key>
    <integer>-94</integer>
    <key>public.kern2.U</key>
    <integer>-15</integer>
  </dict>
  <key>Njecyr</key>
  <dict>
    <key>public.kern2.uni040E</key>
    <integer>-44</integer>
  </dict>
  <key>P</key>
  <dict>
    <key>comma</key>
    <integer>-43</integer>
    <key>period</key>
    <integer>-17</integer>
    <key>public.kern2.A2</key>
    <integer>-46</integer>
    <key>public.kern2.T2</key>
    <integer>-13</integer>
    <key>public.kern2.Z</key>
    <integer>-19</integer>
    <key>public.kern2.endash</key>
    <integer>5</integer>
  </dict>
  <key>Q</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-39</integer>
    <key>public.kern2.a</key>
    <integer>-6</integer>
  </dict>
  <key>T</key>
  <dict>
    <key>ccaron</key>
    <integer>-58</integer>
    <key>ecaron</key>
    <integer>-58</integer>
    <key>ecircumflex</key>
    <integer>-58</integer>
    <key>egrave</key>
    <integer>-58</integer>
    <key>emacron</key>
    <integer>-58</integer>
    <key>f</key>
    <integer>-58</integer>
    <key>i</key>
    <integer>-90</integer>
    <key>j</key>
    <integer>-90</integer>
    <key>l</key>
    <integer>-90</integer>
    <key>ocircumflex</key>
    <integer>-58</integer>
    <key>omacron</key>
    <integer>-58</integer>
    <key>otilde</key>
    <integer>-58</integer>
    <key>partialdiff</key>
    <integer>-58</integer>
    <key>ucircumflex</key>
    <integer>-58</integer>
  </dict>
  <key>Tbar</key>
  <dict>
    <key>partialdiff</key>
    <integer>-58</integer>
  </dict>
  <key>Tcaron</key>
  <dict>
    <key>i</key>
    <integer>-90</integer>
    <key>j</key>
    <integer>-90</integer>
    <key>partialdiff</key>
    <integer>-58</integer>
  </dict>
  <key>Tecyr</key>
  <dict>
    <key>Decyr</key>
    <integer>-51</integer>
    <key>Yacyr</key>
    <integer>-31</integer>
    <key>acyr</key>
    <integer>-81</integer>
    <key>colon</key>
    <integer>-36</integer>
    <key>comma</key>
    <integer>-17</integer>
    <key>ercyr</key>
    <integer>-43</integer>
    <key>hardcyr</key>
    <integer>-86</integer>
    <key>period</key>
    <integer>8</integer>
    <key>semicolon</key>
    <integer>-72</integer>
    <key>slash</key>
    <integer>-115</integer>
    <key>yacyr</key>
    <integer>-54</integer>
    <key>public.kern2.A2</key>
    <integer>-64</integer>
    <key>public.kern2.endash</key>
    <integer>5</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-33</integer>
    <key>public.kern2.uni0404</key>
    <integer>-42</integer>
    <key>public.kern2.uni0409</key>
    <integer>-60</integer>
    <key>public.kern2.uni041E</key>
    <integer>-42</integer>
    <key>public.kern2.uni0432</key>
    <integer>-43</integer>
    <key>public.kern2.uni0435</key>
    <integer>-62</integer>
    <key>public.kern2.uni043B</key>
    <integer>-79</integer>
    <key>public.kern2.uni043E</key>
    <integer>-62</integer>
    <key>public.kern2.uni0443</key>
    <integer>-76</integer>
  </dict>
  <key>Tshecyr</key>
  <dict>
    <key>question</key>
    <integer>-51</integer>
    <key>quotesingle</key>
    <integer>-54</integer>
    <key>public.kern2.quoteright</key>
    <integer>-44</integer>
    <key>public.kern2.uni040E</key>
    <integer>-18</integer>
  </dict>
  <key>Vecyr</key>
  <dict>
    <key>Hacyr</key>
    <integer>8</integer>
    <key>Hardcyr</key>
    <integer>-24</integer>
    <key>Zhecyr</key>
    <integer>5</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-24</integer>
    <key>public.kern2.uni040E</key>
    <integer>8</integer>
  </dict>
  <key>X</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>8</integer>
    <key>public.kern2.O</key>
    <integer>8</integer>
    <key>public.kern2.a</key>
    <integer>-6</integer>
    <key>public.kern2.endash</key>
    <integer>3</integer>
    <key>public.kern2.quoteright</key>
    <integer>3</integer>
    <key>public.kern2.t</key>
    <integer>-23</integer>
    <key>public.kern2.v</key>
    <integer>-31</integer>
  </dict>
  <key>Y</key>
  <dict>
    <key>Y</key>
    <integer>-10</integer>
    <key>Yacute</key>
    <integer>-10</integer>
    <key>Ydieresis</key>
    <integer>-10</integer>
    <key>ccaron</key>
    <integer>-58</integer>
    <key>ecaron</key>
    <integer>-58</integer>
    <key>edieresis</key>
    <integer>-58</integer>
    <key>egrave</key>
    <integer>-58</integer>
    <key>emacron</key>
    <integer>-58</integer>
    <key>f</key>
    <integer>-58</integer>
    <key>i</key>
    <integer>-90</integer>
    <key>j</key>
    <integer>-90</integer>
    <key>l</key>
    <integer>-90</integer>
    <key>ograve</key>
    <integer>-58</integer>
    <key>omacron</key>
    <integer>-58</integer>
    <key>umacron</key>
    <integer>-58</integer>
    <key>v</key>
    <integer>-125</integer>
    <key>w</key>
    <integer>-123</integer>
    <key>y</key>
    <integer>-125</integer>
  </dict>
  <key>Yacute</key>
  <dict>
    <key>Y</key>
    <integer>-10</integer>
    <key>Yacute</key>
    <integer>-12</integer>
    <key>Ycircumflex</key>
    <integer>-12</integer>
    <key>Ydieresis</key>
    <integer>-12</integer>
    <key>f</key>
    <integer>-58</integer>
    <key>i</key>
    <integer>-90</integer>
    <key>j</key>
    <integer>-90</integer>
    <key>l</key>
    <integer>-90</integer>
    <key>v</key>
    <integer>-125</integer>
    <key>w</key>
    <integer>-123</integer>
    <key>y</key>
    <integer>-125</integer>
  </dict>
  <key>Ycircumflex</key>
  <dict>
    <key>Ycircumflex</key>
    <integer>-12</integer>
    <key>Ydieresis</key>
    <integer>-12</integer>
    <key>i</key>
    <integer>-90</integer>
  </dict>
  <key>Ydieresis</key>
  <dict>
    <key>Yacute</key>
    <integer>-12</integer>
    <key>Ycircumflex</key>
    <integer>-12</integer>
    <key>Ydieresis</key>
    <integer>-12</integer>
    <key>i</key>
    <integer>-90</integer>
    <key>l</key>
    <integer>-90</integer>
    <key>ugrave</key>
    <integer>-58</integer>
    <key>v</key>
    <integer>-125</integer>
    <key>w</key>
    <integer>-123</integer>
  </dict>
  <key>Yuslittlecyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-64</integer>
    <key>public.kern2.W2</key>
    <integer>-17</integer>
    <key>public.kern2.quoteright</key>
    <integer>-11</integer>
  </dict>
  <key>Yuslittleiotifiedcyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-64</integer>
    <key>public.kern2.W2</key>
    <integer>-17</integer>
    <key>public.kern2.quoteright</key>
    <integer>-11</integer>
  </dict>
  <key>Zecyr</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-15</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-15</integer>
    <key>public.kern2.uni040E</key>
    <integer>7</integer>
  </dict>
  <key>acyr</key>
  <dict>
    <key>public.kern2.uni0443</key>
    <integer>4</integer>
  </dict>
  <key>b</key>
  <dict>
    <key>comma</key>
    <integer>3</integer>
    <key>public.kern2.v</key>
    <integer>11</integer>
  </dict>
  <key>becyr</key>
  <dict>
    <key>comma</key>
    <integer>5</integer>
    <key>decyr</key>
    <integer>-15</integer>
    <key>hacyr</key>
    <integer>-20</integer>
    <key>hardcyr</key>
    <integer>-34</integer>
    <key>public.kern2.quoteright</key>
    <integer>-35</integer>
    <key>public.kern2.uni043B</key>
    <integer>-20</integer>
    <key>public.kern2.uni0443</key>
    <integer>-20</integer>
  </dict>
  <key>colon</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-17</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-36</integer>
  </dict>
  <key>comma</key>
  <dict>
    <key>Checyr</key>
    <integer>-54</integer>
    <key>Efcyr</key>
    <integer>3</integer>
    <key>Hardcyr</key>
    <integer>8</integer>
    <key>checyr</key>
    <integer>-56</integer>
    <key>hardcyr</key>
    <integer>7</integer>
    <key>tecyr</key>
    <integer>-8</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-15</integer>
    <key>public.kern2.uni0404</key>
    <integer>3</integer>
    <key>public.kern2.uni040E</key>
    <integer>2</integer>
    <key>public.kern2.uni041E</key>
    <integer>3</integer>
    <key>public.kern2.uni0443</key>
    <integer>-8</integer>
  </dict>
  <key>decyr</key>
  <dict>
    <key>checyr</key>
    <integer>5</integer>
    <key>hardcyr</key>
    <integer>5</integer>
    <key>tecyr</key>
    <integer>5</integer>
    <key>public.kern2.quoteright</key>
    <integer>2</integer>
  </dict>
  <key>djecyr</key>
  <dict>
    <key>public.kern2.uni0443</key>
    <integer>4</integer>
  </dict>
  <key>efcyr</key>
  <dict>
    <key>comma</key>
    <integer>5</integer>
    <key>quotesingle</key>
    <integer>-65</integer>
    <key>tecyr</key>
    <integer>-33</integer>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
    <key>public.kern2.uni043B</key>
    <integer>11</integer>
    <key>public.kern2.uni0443</key>
    <integer>-12</integer>
  </dict>
  <key>ercyr</key>
  <dict>
    <key>comma</key>
    <integer>3</integer>
    <key>hacyr</key>
    <integer>11</integer>
    <key>zhecyr</key>
    <integer>5</integer>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
    <key>public.kern2.uni043B</key>
    <integer>11</integer>
    <key>public.kern2.uni0443</key>
    <integer>11</integer>
  </dict>
  <key>f</key>
  <dict>
    <key>comma</key>
    <integer>-8</integer>
    <key>period</key>
    <integer>2</integer>
  </dict>
  <key>f_f</key>
  <dict>
    <key>comma</key>
    <integer>-8</integer>
  </dict>
  <key>guillemotleft</key>
  <dict>
    <key>Hardcyr</key>
    <integer>19</integer>
    <key>Yacyr</key>
    <integer>3</integer>
    <key>public.kern2.T2</key>
    <integer>31</integer>
    <key>public.kern2.Tecyr</key>
    <integer>31</integer>
    <key>public.kern2.W2</key>
    <integer>5</integer>
    <key>public.kern2.uni040E</key>
    <integer>8</integer>
  </dict>
  <key>guilsinglleft</key>
  <dict>
    <key>Hardcyr</key>
    <integer>3</integer>
    <key>Yacyr</key>
    <integer>3</integer>
    <key>public.kern2.T2</key>
    <integer>-27</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-27</integer>
    <key>public.kern2.W2</key>
    <integer>5</integer>
    <key>public.kern2.uni040E</key>
    <integer>8</integer>
  </dict>
  <key>hacyr</key>
  <dict>
    <key>public.kern2.endash</key>
    <integer>3</integer>
    <key>public.kern2.uni0435</key>
    <integer>11</integer>
    <key>public.kern2.uni043E</key>
    <integer>11</integer>
  </dict>
  <key>ljecyr</key>
  <dict>
    <key>question</key>
    <integer>-58</integer>
    <key>quotesingle</key>
    <integer>-447</integer>
    <key>public.kern2.quoteright</key>
    <integer>-64</integer>
    <key>public.kern2.uni0443</key>
    <integer>-28</integer>
  </dict>
  <key>lslash</key>
  <dict>
    <key>public.kern2.t</key>
    <integer>-16</integer>
  </dict>
  <key>njecyr</key>
  <dict>
    <key>public.kern2.uni0443</key>
    <integer>-32</integer>
  </dict>
  <key>ocyr</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
  </dict>
  <key>p</key>
  <dict>
    <key>comma</key>
    <integer>3</integer>
    <key>public.kern2.v</key>
    <integer>11</integer>
  </dict>
  <key>parenleft</key>
  <dict>
    <key>checyr</key>
    <integer>-21</integer>
    <key>hardcyr</key>
    <integer>-21</integer>
    <key>tecyr</key>
    <integer>-21</integer>
    <key>public.kern2.J</key>
    <integer>-17</integer>
    <key>public.kern2.a</key>
    <integer>-45</integer>
  </dict>
  <key>period</key>
  <dict>
    <key>Checyr</key>
    <integer>-29</integer>
    <key>Efcyr</key>
    <integer>-15</integer>
    <key>Hardcyr</key>
    <integer>7</integer>
    <key>checyr</key>
    <integer>-38</integer>
    <key>hardcyr</key>
    <integer>5</integer>
    <key>tecyr</key>
    <integer>7</integer>
    <key>public.kern2.T2</key>
    <integer>8</integer>
    <key>public.kern2.Tecyr</key>
    <integer>8</integer>
    <key>public.kern2.W2</key>
    <integer>5</integer>
    <key>public.kern2.uni0404</key>
    <integer>2</integer>
    <key>public.kern2.uni0443</key>
    <integer>11</integer>
  </dict>
  <key>question</key>
  <dict>
    <key>Jecyr</key>
    <integer>-52</integer>
    <key>Zhecyr</key>
    <integer>-18</integer>
    <key>public.kern2.A2</key>
    <integer>-20</integer>
    <key>public.kern2.uni0409</key>
    <integer>-27</integer>
  </dict>
  <key>questiondown</key>
  <dict>
    <key>Hardcyr</key>
    <integer>37</integer>
    <key>public.kern2.T2</key>
    <integer>-115</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-115</integer>
    <key>public.kern2.uni0404</key>
    <integer>-27</integer>
    <key>public.kern2.uni041E</key>
    <integer>-27</integer>
    <key>public.kern2.uni0435</key>
    <integer>-47</integer>
    <key>public.kern2.uni043E</key>
    <integer>-46</integer>
    <key>public.kern2.uni0441</key>
    <integer>-46</integer>
    <key>public.kern2.uni0443</key>
    <integer>-51</integer>
  </dict>
  <key>quotedblleft</key>
  <dict>
    <key>A</key>
    <integer>-50</integer>
  </dict>
  <key>quoteright</key>
  <dict>
    <key>i</key>
    <integer>-20</integer>
    <key>l</key>
    <integer>-20</integer>
    <key>public.kern2.a</key>
    <integer>-20</integer>
    <key>public.kern2.g.ss01</key>
    <integer>-20</integer>
  </dict>
  <key>quotesingle</key>
  <dict>
    <key>Decyr</key>
    <integer>8</integer>
    <key>Jecyr</key>
    <integer>-73</integer>
    <key>decyr</key>
    <integer>11</integer>
    <key>efcyr</key>
    <integer>-60</integer>
    <key>public.kern2.A2</key>
    <integer>-17</integer>
    <key>public.kern2.uni0409</key>
    <integer>5</integer>
    <key>public.kern2.uni0435</key>
    <integer>11</integer>
    <key>public.kern2.uni043B</key>
    <integer>11</integer>
    <key>public.kern2.uni043E</key>
    <integer>11</integer>
    <key>public.kern2.uni0441</key>
    <integer>11</integer>
  </dict>
  <key>r</key>
  <dict>
    <key>f</key>
    <integer>-19</integer>
    <key>public.kern2.a</key>
    <integer>-11</integer>
    <key>public.kern2.g.ss01</key>
    <integer>-5</integer>
  </dict>
  <key>semicolon</key>
  <dict>
    <key>Hardcyr</key>
    <integer>-20</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-61</integer>
  </dict>
  <key>slash</key>
  <dict>
    <key>Decyr</key>
    <integer>-36</integer>
    <key>Jecyr</key>
    <integer>-75</integer>
    <key>acyr</key>
    <integer>-42</integer>
    <key>becyr</key>
    <integer>-23</integer>
    <key>decyr</key>
    <integer>-49</integer>
    <key>efcyr</key>
    <integer>-34</integer>
    <key>ercyr</key>
    <integer>-17</integer>
    <key>ereversedcyr</key>
    <integer>-36</integer>
    <key>shchacyr</key>
    <integer>-24</integer>
    <key>tsecyr</key>
    <integer>-24</integer>
    <key>yacyr</key>
    <integer>-40</integer>
    <key>zecyr</key>
    <integer>-31</integer>
    <key>zhecyr</key>
    <integer>-48</integer>
    <key>public.kern2.A2</key>
    <integer>-43</integer>
    <key>public.kern2.uni0409</key>
    <integer>-36</integer>
    <key>public.kern2.uni0432</key>
    <integer>-24</integer>
    <key>public.kern2.uni0435</key>
    <integer>-38</integer>
    <key>public.kern2.uni043B</key>
    <integer>-49</integer>
    <key>public.kern2.uni043E</key>
    <integer>-38</integer>
    <key>public.kern2.uni0441</key>
    <integer>-38</integer>
    <key>public.kern2.yucyr</key>
    <integer>-17</integer>
  </dict>
  <key>tecyr</key>
  <dict>
    <key>comma</key>
    <integer>-15</integer>
    <key>decyr</key>
    <integer>-33</integer>
    <key>period</key>
    <integer>5</integer>
    <key>slash</key>
    <integer>-68</integer>
    <key>public.kern2.endash</key>
    <integer>3</integer>
    <key>public.kern2.uni0435</key>
    <integer>-23</integer>
    <key>public.kern2.uni043B</key>
    <integer>-26</integer>
    <key>public.kern2.uni043E</key>
    <integer>-16</integer>
    <key>public.kern2.uni0441</key>
    <integer>-16</integer>
  </dict>
  <key>tshecyr</key>
  <dict>
    <key>public.kern2.uni0443</key>
    <integer>4</integer>
  </dict>
  <key>v</key>
  <dict>
    <key>comma</key>
    <integer>-15</integer>
    <key>period</key>
    <integer>7</integer>
    <key>public.kern2.a</key>
    <integer>9</integer>
  </dict>
  <key>vecyr</key>
  <dict>
    <key>comma</key>
    <integer>2</integer>
    <key>question</key>
    <integer>-51</integer>
    <key>quotesingle</key>
    <integer>-350</integer>
    <key>slash</key>
    <integer>-36</integer>
    <key>public.kern2.uni0443</key>
    <integer>9</integer>
  </dict>
  <key>x</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>11</integer>
    <key>public.kern2.endash</key>
    <integer>3</integer>
  </dict>
  <key>yucyr</key>
  <dict>
    <key>comma</key>
    <integer>3</integer>
    <key>hacyr</key>
    <integer>11</integer>
    <key>quotesingle</key>
    <integer>11</integer>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
  </dict>
  <key>zecyr</key>
  <dict>
    <key>question</key>
    <integer>-58</integer>
    <key>slash</key>
    <integer>-39</integer>
  </dict>
  <key>zhecyr</key>
  <dict>
    <key>public.kern2.endash</key>
    <integer>2</integer>
    <key>public.kern2.uni0435</key>
    <integer>6</integer>
    <key>public.kern2.uni043E</key>
    <integer>6</integer>
  </dict>
  <key>public.kern1.A</key>
  <dict>
    <key>Checyr</key>
    <integer>-27</integer>
    <key>Djecyr</key>
    <integer>-64</integer>
    <key>Efcyr</key>
    <integer>-8</integer>
    <key>Hardcyr</key>
    <integer>24</integer>
    <key>Jecyr</key>
    <integer>9</integer>
    <key>becyr</key>
    <integer>5</integer>
    <key>question</key>
    <integer>-51</integer>
    <key>quotesingle</key>
    <integer>-3</integer>
    <key>tecyr</key>
    <integer>-36</integer>
    <key>public.kern2.C</key>
    <integer>14</integer>
    <key>public.kern2.G</key>
    <integer>14</integer>
    <key>public.kern2.O</key>
    <integer>-38</integer>
    <key>public.kern2.Oslash</key>
    <integer>-24</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-64</integer>
    <key>public.kern2.U</key>
    <integer>5</integer>
    <key>public.kern2.t</key>
    <integer>-6</integer>
    <key>public.kern2.uni0404</key>
    <integer>14</integer>
    <key>public.kern2.uni040E</key>
    <integer>-18</integer>
    <key>public.kern2.uni041E</key>
    <integer>14</integer>
    <key>public.kern2.uni0441</key>
    <integer>5</integer>
    <key>public.kern2.uni0443</key>
    <integer>-7</integer>
    <key>public.kern2.v</key>
    <integer>-10</integer>
  </dict>
  <key>public.kern1.AE1</key>
  <dict>
    <key>public.kern2.t</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.C1</key>
  <dict>
    <key>public.kern2.z</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.D</key>
  <dict>
    <key>comma</key>
    <integer>8</integer>
    <key>public.kern2.A2</key>
    <integer>-2</integer>
    <key>public.kern2.AE</key>
    <integer>-2</integer>
    <key>public.kern2.T2</key>
    <integer>-29</integer>
    <key>public.kern2.W2</key>
    <integer>8</integer>
    <key>public.kern2.Z</key>
    <integer>-36</integer>
  </dict>
  <key>public.kern1.E</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-15</integer>
    <key>public.kern2.G</key>
    <integer>-15</integer>
    <key>public.kern2.O</key>
    <integer>-15</integer>
    <key>public.kern2.t</key>
    <integer>-29</integer>
    <key>public.kern2.v</key>
    <integer>-32</integer>
  </dict>
  <key>public.kern1.G1</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-23</integer>
    <key>public.kern2.W2</key>
    <integer>9</integer>
    <key>public.kern2.v</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.J1</key>
  <dict>
    <key>public.kern2.A2</key>
    <integer>4</integer>
    <key>public.kern2.AE</key>
    <integer>4</integer>
  </dict>
  <key>public.kern1.K</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-2</integer>
    <key>public.kern2.G</key>
    <integer>-2</integer>
    <key>public.kern2.O</key>
    <integer>-2</integer>
    <key>public.kern2.Oslash</key>
    <integer>-2</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.endash</key>
    <integer>3</integer>
    <key>public.kern2.t</key>
    <integer>-29</integer>
    <key>public.kern2.v</key>
    <integer>-35</integer>
  </dict>
  <key>public.kern1.O1</key>
  <dict>
    <key>X</key>
    <integer>8</integer>
    <key>comma</key>
    <integer>5</integer>
    <key>public.kern2.A2</key>
    <integer>14</integer>
    <key>public.kern2.T2</key>
    <integer>-41</integer>
    <key>public.kern2.W2</key>
    <integer>5</integer>
    <key>public.kern2.Z</key>
    <integer>-24</integer>
  </dict>
  <key>public.kern1.Oslash1</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>8</integer>
  </dict>
  <key>public.kern1.R</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>5</integer>
    <key>public.kern2.G</key>
    <integer>5</integer>
    <key>public.kern2.O</key>
    <integer>5</integer>
    <key>public.kern2.Oslash</key>
    <integer>5</integer>
    <key>public.kern2.T2</key>
    <integer>-30</integer>
    <key>public.kern2.U</key>
    <integer>2</integer>
    <key>public.kern2.W2</key>
    <integer>14</integer>
    <key>public.kern2.a</key>
    <integer>5</integer>
    <key>public.kern2.endash</key>
    <integer>2</integer>
    <key>public.kern2.quoteright</key>
    <integer>3</integer>
    <key>public.kern2.t</key>
    <integer>3</integer>
    <key>public.kern2.v</key>
    <integer>4</integer>
  </dict>
  <key>public.kern1.S1</key>
  <dict>
    <key>x</key>
    <integer>-8</integer>
    <key>public.kern2.A2</key>
    <integer>3</integer>
    <key>public.kern2.AE</key>
    <integer>3</integer>
    <key>public.kern2.W2</key>
    <integer>4</integer>
    <key>public.kern2.a</key>
    <integer>-6</integer>
    <key>public.kern2.quoteright</key>
    <integer>-7</integer>
    <key>public.kern2.t</key>
    <integer>-7</integer>
    <key>public.kern2.v</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.T</key>
  <dict>
    <key>A</key>
    <integer>-59</integer>
    <key>Acyr</key>
    <integer>-64</integer>
    <key>Yuslittlecyr</key>
    <integer>-64</integer>
    <key>colon</key>
    <integer>-36</integer>
    <key>comma</key>
    <integer>-17</integer>
    <key>lslash</key>
    <integer>-16</integer>
    <key>p</key>
    <integer>-39</integer>
    <key>period</key>
    <integer>8</integer>
    <key>semicolon</key>
    <integer>-72</integer>
    <key>x</key>
    <integer>-66</integer>
    <key>public.kern2.AE</key>
    <integer>-64</integer>
    <key>public.kern2.C</key>
    <integer>-33</integer>
    <key>public.kern2.G</key>
    <integer>-33</integer>
    <key>public.kern2.J</key>
    <integer>-90</integer>
    <key>public.kern2.O</key>
    <integer>-33</integer>
    <key>public.kern2.Oslash</key>
    <integer>-42</integer>
    <key>public.kern2.S</key>
    <integer>-37</integer>
    <key>public.kern2.a</key>
    <integer>-58</integer>
    <key>public.kern2.endash</key>
    <integer>5</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-33</integer>
    <key>public.kern2.i</key>
    <integer>-39</integer>
    <key>public.kern2.t</key>
    <integer>-37</integer>
    <key>public.kern2.v</key>
    <integer>-79</integer>
    <key>public.kern2.z</key>
    <integer>-85</integer>
  </dict>
  <key>public.kern1.U1</key>
  <dict>
    <key>comma</key>
    <integer>2</integer>
    <key>public.kern2.A2</key>
    <integer>5</integer>
  </dict>
  <key>public.kern1.V</key>
  <dict>
    <key>A</key>
    <integer>-2</integer>
    <key>Acyr</key>
    <integer>-20</integer>
    <key>Yuslittlecyr</key>
    <integer>-20</integer>
    <key>colon</key>
    <integer>-28</integer>
    <key>comma</key>
    <integer>-45</integer>
    <key>i</key>
    <integer>-29</integer>
    <key>j</key>
    <integer>-29</integer>
    <key>l</key>
    <integer>-29</integer>
    <key>p</key>
    <integer>12</integer>
    <key>period</key>
    <integer>20</integer>
    <key>semicolon</key>
    <integer>-94</integer>
    <key>x</key>
    <integer>-53</integer>
    <key>public.kern2.AE</key>
    <integer>-20</integer>
    <key>public.kern2.C</key>
    <integer>14</integer>
    <key>public.kern2.G</key>
    <integer>14</integer>
    <key>public.kern2.O</key>
    <integer>14</integer>
    <key>public.kern2.Oslash</key>
    <integer>14</integer>
    <key>public.kern2.S</key>
    <integer>-15</integer>
    <key>public.kern2.a</key>
    <integer>-29</integer>
    <key>public.kern2.endash</key>
    <integer>2</integer>
    <key>public.kern2.guillemotright</key>
    <integer>8</integer>
    <key>public.kern2.i</key>
    <integer>5</integer>
    <key>public.kern2.t</key>
    <integer>-11</integer>
    <key>public.kern2.v</key>
    <integer>-15</integer>
    <key>public.kern2.z</key>
    <integer>-19</integer>
  </dict>
  <key>public.kern1.W</key>
  <dict>
    <key>A</key>
    <integer>-12</integer>
    <key>Acyr</key>
    <integer>-17</integer>
    <key>Yuslittlecyr</key>
    <integer>-17</integer>
    <key>colon</key>
    <integer>8</integer>
    <key>comma</key>
    <integer>-2</integer>
    <key>p</key>
    <integer>3</integer>
    <key>period</key>
    <integer>5</integer>
    <key>semicolon</key>
    <integer>-17</integer>
    <key>x</key>
    <integer>-11</integer>
    <key>public.kern2.C</key>
    <integer>6</integer>
    <key>public.kern2.O</key>
    <integer>6</integer>
    <key>public.kern2.S</key>
    <integer>-13</integer>
    <key>public.kern2.a</key>
    <integer>-4</integer>
    <key>public.kern2.guillemotright</key>
    <integer>3</integer>
    <key>public.kern2.i</key>
    <integer>3</integer>
    <key>public.kern2.t</key>
    <integer>3</integer>
    <key>public.kern2.v</key>
    <integer>-11</integer>
    <key>public.kern2.z</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.Z1</key>
  <dict>
    <key>public.kern2.C</key>
    <integer>-24</integer>
    <key>public.kern2.G</key>
    <integer>-27</integer>
    <key>public.kern2.O</key>
    <integer>-24</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.endash</key>
    <integer>7</integer>
    <key>public.kern2.t</key>
    <integer>-26</integer>
    <key>public.kern2.v</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.a11</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>4</integer>
  </dict>
  <key>public.kern1.e1</key>
  <dict>
    <key>x</key>
    <integer>9</integer>
  </dict>
  <key>public.kern1.endash1</key>
  <dict>
    <key>Ereversedcyr</key>
    <integer>-17</integer>
    <key>Hacyr</key>
    <integer>3</integer>
    <key>Hardcyr</key>
    <integer>5</integer>
    <key>Jecyr</key>
    <integer>19</integer>
    <key>X</key>
    <integer>3</integer>
    <key>Yacyr</key>
    <integer>2</integer>
    <key>Zecyr</key>
    <integer>14</integer>
    <key>decyr</key>
    <integer>2</integer>
    <key>hacyr</key>
    <integer>3</integer>
    <key>hardcyr</key>
    <integer>3</integer>
    <key>tecyr</key>
    <integer>5</integer>
    <key>x</key>
    <integer>3</integer>
    <key>zhecyr</key>
    <integer>2</integer>
    <key>public.kern2.T2</key>
    <integer>5</integer>
    <key>public.kern2.Tecyr</key>
    <integer>5</integer>
    <key>public.kern2.uni040E</key>
    <integer>3</integer>
    <key>public.kern2.uni043B</key>
    <integer>2</integer>
  </dict>
  <key>public.kern1.f</key>
  <dict>
    <key>question</key>
    <integer>-12</integer>
  </dict>
  <key>public.kern1.g1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-16</integer>
  </dict>
  <key>public.kern1.h1</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>3</integer>
  </dict>
  <key>public.kern1.i1</key>
  <dict>
    <key>public.kern2.uni0432</key>
    <integer>60</integer>
  </dict>
  <key>public.kern1.k</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-8</integer>
    <key>public.kern2.endash</key>
    <integer>5</integer>
  </dict>
  <key>public.kern1.l1</key>
  <dict>
    <key>public.kern2.t</key>
    <integer>-12</integer>
    <key>public.kern2.v</key>
    <integer>-20</integer>
  </dict>
  <key>public.kern1.n</key>
  <dict>
    <key>public.kern2.v</key>
    <integer>3</integer>
  </dict>
  <key>public.kern1.o1</key>
  <dict>
    <key>comma</key>
    <integer>5</integer>
    <key>quotesingle</key>
    <integer>3</integer>
    <key>x</key>
    <integer>7</integer>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.quoteright</key>
    <integer>3</integer>
    <key>public.kern2.v</key>
    <integer>9</integer>
    <key>public.kern2.z</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.oslash1</key>
  <dict>
    <key>public.kern2.a</key>
    <integer>-15</integer>
    <key>public.kern2.v</key>
    <integer>11</integer>
  </dict>
  <key>public.kern1.quotedblbase1</key>
  <dict>
    <key>Checyr</key>
    <integer>-47</integer>
    <key>Efcyr</key>
    <integer>-9</integer>
    <key>Hardcyr</key>
    <integer>8</integer>
    <key>checyr</key>
    <integer>-56</integer>
    <key>hardcyr</key>
    <integer>11</integer>
    <key>tecyr</key>
    <integer>-8</integer>
    <key>public.kern2.C</key>
    <integer>3</integer>
    <key>public.kern2.G</key>
    <integer>3</integer>
    <key>public.kern2.O</key>
    <integer>3</integer>
    <key>public.kern2.T2</key>
    <integer>-9</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-9</integer>
    <key>public.kern2.W2</key>
    <integer>8</integer>
    <key>public.kern2.t</key>
    <integer>5</integer>
    <key>public.kern2.uni0404</key>
    <integer>3</integer>
    <key>public.kern2.uni040E</key>
    <integer>3</integer>
    <key>public.kern2.uni041E</key>
    <integer>3</integer>
    <key>public.kern2.uni0443</key>
    <integer>-3</integer>
    <key>public.kern2.v</key>
    <integer>-3</integer>
  </dict>
  <key>public.kern1.quoteleft1</key>
  <dict>
    <key>Decyr</key>
    <integer>-2</integer>
    <key>Jecyr</key>
    <integer>-66</integer>
    <key>Yacyr</key>
    <integer>3</integer>
    <key>decyr</key>
    <integer>11</integer>
    <key>efcyr</key>
    <integer>11</integer>
    <key>public.kern2.A2</key>
    <integer>-27</integer>
    <key>public.kern2.J</key>
    <integer>-66</integer>
    <key>public.kern2.uni0409</key>
    <integer>-2</integer>
    <key>public.kern2.uni0435</key>
    <integer>3</integer>
    <key>public.kern2.uni043B</key>
    <integer>11</integer>
  </dict>
  <key>public.kern1.r</key>
  <dict>
    <key>comma</key>
    <integer>-38</integer>
    <key>period</key>
    <integer>-3</integer>
    <key>public.kern2.a</key>
    <integer>-17</integer>
    <key>public.kern2.endash</key>
    <integer>11</integer>
  </dict>
  <key>public.kern1.t1</key>
  <dict>
    <key>public.kern2.endash</key>
    <integer>2</integer>
  </dict>
  <key>public.kern1.uni04001</key>
  <dict>
    <key>tecyr</key>
    <integer>-59</integer>
    <key>public.kern2.uni0404</key>
    <integer>-15</integer>
    <key>public.kern2.uni041E</key>
    <integer>-15</integer>
  </dict>
  <key>public.kern1.uni0403</key>
  <dict>
    <key>Decyr</key>
    <integer>-51</integer>
    <key>acyr</key>
    <integer>-113</integer>
    <key>colon</key>
    <integer>-64</integer>
    <key>comma</key>
    <integer>-50</integer>
    <key>decyr</key>
    <integer>-113</integer>
    <key>ercyr</key>
    <integer>-63</integer>
    <key>hardcyr</key>
    <integer>-118</integer>
    <key>period</key>
    <integer>-9</integer>
    <key>semicolon</key>
    <integer>-85</integer>
    <key>slash</key>
    <integer>-126</integer>
    <key>public.kern2.A2</key>
    <integer>-90</integer>
    <key>public.kern2.endash</key>
    <integer>8</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-61</integer>
    <key>public.kern2.uni0409</key>
    <integer>-60</integer>
    <key>public.kern2.uni041E</key>
    <integer>-42</integer>
    <key>public.kern2.uni0432</key>
    <integer>-63</integer>
    <key>public.kern2.uni0435</key>
    <integer>-91</integer>
    <key>public.kern2.uni043B</key>
    <integer>-111</integer>
    <key>public.kern2.uni043E</key>
    <integer>-83</integer>
    <key>public.kern2.uni0443</key>
    <integer>-109</integer>
  </dict>
  <key>public.kern1.uni040C</key>
  <dict>
    <key>hardcyr</key>
    <integer>-29</integer>
    <key>question</key>
    <integer>-32</integer>
    <key>tecyr</key>
    <integer>-36</integer>
    <key>public.kern2.quoteright</key>
    <integer>7</integer>
    <key>public.kern2.uni0404</key>
    <integer>9</integer>
    <key>public.kern2.uni041E</key>
    <integer>9</integer>
    <key>public.kern2.uni0435</key>
    <integer>6</integer>
    <key>public.kern2.uni043E</key>
    <integer>6</integer>
    <key>public.kern2.uni0443</key>
    <integer>-21</integer>
  </dict>
  <key>public.kern1.uni040E1</key>
  <dict>
    <key>Decyr</key>
    <integer>-36</integer>
    <key>Efcyr</key>
    <integer>-16</integer>
    <key>Jecyr</key>
    <integer>-75</integer>
    <key>Yacyr</key>
    <integer>-18</integer>
    <key>becyr</key>
    <integer>-24</integer>
    <key>checyr</key>
    <integer>-20</integer>
    <key>colon</key>
    <integer>-28</integer>
    <key>comma</key>
    <integer>-27</integer>
    <key>decyr</key>
    <integer>-54</integer>
    <key>ercyr</key>
    <integer>-13</integer>
    <key>hacyr</key>
    <integer>-24</integer>
    <key>period</key>
    <integer>3</integer>
    <key>semicolon</key>
    <integer>-49</integer>
    <key>slash</key>
    <integer>-73</integer>
    <key>tecyr</key>
    <integer>-20</integer>
    <key>yacyr</key>
    <integer>-41</integer>
    <key>zecyr</key>
    <integer>-32</integer>
    <key>public.kern2.A2</key>
    <integer>-43</integer>
    <key>public.kern2.endash</key>
    <integer>2</integer>
    <key>public.kern2.guillemotright</key>
    <integer>-9</integer>
    <key>public.kern2.uni0404</key>
    <integer>-9</integer>
    <key>public.kern2.uni0409</key>
    <integer>-36</integer>
    <key>public.kern2.uni041E</key>
    <integer>-9</integer>
    <key>public.kern2.uni0432</key>
    <integer>-17</integer>
    <key>public.kern2.uni043B</key>
    <integer>-37</integer>
    <key>public.kern2.uni043E</key>
    <integer>-29</integer>
    <key>public.kern2.uni0441</key>
    <integer>-29</integer>
  </dict>
  <key>public.kern1.uni041E1</key>
  <dict>
    <key>Decyr</key>
    <integer>-8</integer>
    <key>Djecyr</key>
    <integer>-41</integer>
    <key>Hacyr</key>
    <integer>8</integer>
    <key>Hardcyr</key>
    <integer>4</integer>
    <key>Yacyr</key>
    <integer>5</integer>
    <key>Zhecyr</key>
    <integer>8</integer>
    <key>comma</key>
    <integer>5</integer>
    <key>decyr</key>
    <integer>5</integer>
    <key>slash</key>
    <integer>-36</integer>
    <key>public.kern2.A2</key>
    <integer>14</integer>
    <key>public.kern2.Tecyr</key>
    <integer>-41</integer>
    <key>public.kern2.uni0409</key>
    <integer>8</integer>
    <key>public.kern2.uni040E</key>
    <integer>8</integer>
    <key>public.kern2.uni043B</key>
    <integer>7</integer>
  </dict>
  <key>public.kern1.uni04261</key>
  <dict>
    <key>Tecyr</key>
    <integer>-16</integer>
    <key>Tshecyr</key>
    <integer>-16</integer>
    <key>public.kern2.uni040E</key>
    <integer>-2</integer>
    <key>public.kern2.uni0443</key>
    <integer>-5</integer>
  </dict>
  <key>public.kern1.uni042A</key>
  <dict>
    <key>Hacyr</key>
    <integer>-17</integer>
    <key>Tecyr</key>
    <integer>-78</integer>
    <key>Tshecyr</key>
    <integer>-78</integer>
    <key>Zhecyr</key>
    <integer>-12</integer>
    <key>quotesingle</key>
    <integer>-64</integer>
    <key>public.kern2.quoteright</key>
    <integer>-73</integer>
  </dict>
  <key>public.kern1.uni0433</key>
  <dict>
    <key>comma</key>
    <integer>-30</integer>
    <key>decyr</key>
    <integer>-33</integer>
    <key>period</key>
    <integer>15</integer>
    <key>slash</key>
    <integer>-95</integer>
    <key>public.kern2.endash</key>
    <integer>7</integer>
    <key>public.kern2.uni0435</key>
    <integer>-23</integer>
    <key>public.kern2.uni043B</key>
    <integer>-26</integer>
    <key>public.kern2.uni043E</key>
    <integer>-16</integer>
  </dict>
  <key>public.kern1.uni043A</key>
  <dict>
    <key>public.kern2.endash</key>
    <integer>2</integer>
    <key>public.kern2.uni0435</key>
    <integer>5</integer>
    <key>public.kern2.uni043E</key>
    <integer>5</integer>
    <key>public.kern2.uni0441</key>
    <integer>5</integer>
  </dict>
  <key>public.kern1.uni043E1</key>
  <dict>
    <key>comma</key>
    <integer>5</integer>
    <key>hacyr</key>
    <integer>7</integer>
    <key>quotesingle</key>
    <integer>3</integer>
    <key>zhecyr</key>
    <integer>6</integer>
    <key>public.kern2.quoteright</key>
    <integer>3</integer>
    <key>public.kern2.uni043B</key>
    <integer>11</integer>
    <key>public.kern2.uni0443</key>
    <integer>9</integer>
  </dict>
  <key>public.kern1.uni04431</key>
  <dict>
    <key>acyr</key>
    <integer>4</integer>
    <key>comma</key>
    <integer>-15</integer>
    <key>decyr</key>
    <integer>-22</integer>
    <key>efcyr</key>
    <integer>11</integer>
    <key>period</key>
    <integer>7</integer>
    <key>slash</key>
    <integer>-64</integer>
    <key>yacyr</key>
    <integer>-12</integer>
    <key>public.kern2.uni0435</key>
    <integer>11</integer>
    <key>public.kern2.uni043B</key>
    <integer>-22</integer>
    <key>public.kern2.uni043E</key>
    <integer>9</integer>
    <key>public.kern2.uni0441</key>
    <integer>9</integer>
  </dict>
  <key>public.kern1.uni0446</key>
  <dict>
    <key>tecyr</key>
    <integer>-6</integer>
    <key>public.kern2.quoteright</key>
    <integer>3</integer>
  </dict>
  <key>public.kern1.uni044A</key>
  <dict>
    <key>hacyr</key>
    <integer>-16</integer>
    <key>question</key>
    <integer>-62</integer>
    <key>quotesingle</key>
    <integer>-447</integer>
    <key>tecyr</key>
    <integer>-59</integer>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
    <key>public.kern2.quoteright</key>
    <integer>-80</integer>
  </dict>
  <key>public.kern1.uni0467</key>
  <dict>
    <key>public.kern2.T2</key>
    <integer>-34</integer>
  </dict>
  <key>public.kern1.w1</key>
  <dict>
    <key>comma</key>
    <integer>-8</integer>
    <key>lslash</key>
    <integer>4</integer>
    <key>period</key>
    <integer>5</integer>
    <key>public.kern2.a</key>
    <integer>4</integer>
  </dict>
  <key>public.kern1.y1</key>
  <dict>
    <key>comma</key>
    <integer>-15</integer>
    <key>lslash</key>
    <integer>-12</integer>
    <key>period</key>
    <integer>7</integer>
    <key>public.kern2.a</key>
    <integer>4</integer>
  </dict>
</dict>
</plist>
